<!-- <kt-custom-modal [title]="data.header">

  <div mat-dialog-content class="dialog-body mb-3">
    {{data.message | translate}}
  </div>

  <div mat-dialog-actions class="dialog-footer" align="end">

    <ng-container *ngFor="let item of data.buttons">

      <i *ngIf="item.handler; then hasEvent; else close"></i>

      <ng-template #hasEvent>
        <button mat-raised-button (click)="item.handler()" mat-dialog-close>
          {{item.text}}
        </button>
      </ng-template>

      <ng-template #close>
        <button mat-raised-button mat-dialog-close>
          {{item.text}}
        </button>
      </ng-template>

    </ng-container>

  </div>

</kt-custom-modal> -->