.axiobat-modal {
    border-radius: 10px;
}
.flexcontrols {
	display :flex;
	div:last-of-type {
		margin-left: 10px;
	}
}

.rich-text-value {
    border: 1px #f7f7f7 solid;
    padding: 1.5rem 1rem;
    min-height: 5rem;
    background-color: #f7f7f7;
}


.image-Promotion{
    width: 20%;
    border: 1px #768294 solid;
    border-radius: 4px;
  }

  tbody.collapse.in {
    display: table-row-group;
  }
  
  .example-tree-invisible {
    display: none;
  }
  
  .example-tree ul,
  .example-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
  }
  
  .tree-equipepent > div:nth-child(1) {
    background-color: #e3ebf3;
    font-style: italic;
    font-weight: 600;
    padding: 10px 5px;
    margin: 0;
  }
  
  ul {
    list-style-type: none;
  }
  
  .title-table {
    background-color: #e3ebf3;
    font-style: italic;
    font-weight: 600;
    padding: 10px 5px;
    margin: 0;
    border: 1px solid #fff;
    // text-align: center;
    font-size: 15px;
  }
  
  .statutOperation {
    background-color: #df741de3;
    white-space: nowrap !important;
    color: #fff !important;
    font-size: 10px;
    padding: 6px !important;
  }
  .badge-sav {
    background-color: #f20775 !important;
  }
  .badge-entretien {
    background-color: #51358c !important;
  }
