
<div class="root" *ngIf="user">
  <div class="row">
      <div class="col">
          <div class="details">
              <div class="cust-card cust-card--padding">
                  <div class="cust-card__head">
                      <div class="left">
                          <div class="title"> {{ user?.reference }}

                              <mat-tab-group mat-align-tabs="center" (selectedTabChange)="tabs($event)">

                                  <!-- Information -->
                                  <mat-tab data-name="information" [label]="'LABELS.INFORMATIONS' | translate"
                                  [routerLink]="['/utilisateurs/edit',user.id]">

                                  </mat-tab>

                                  <!-- History -->
                                  <mat-tab data-name="historique" [label]="'LABELS.HISTORIQUE' | translate">

                                  </mat-tab>

                              </mat-tab-group>

                          </div>
                      </div>

                      <!-- Right controls -->
                      <div class="right flexcontrols">

                          <div id="modifier" class="cust-button cust-button--success" [routerLink]="['/utilisateurs/edit',user.id]">
                              <span>modifier</span>
                          </div>

                      </div>
                  </div>

                  <div class="cust-card__body" *ngIf="selectedTabs !== 'information'">                   

                      <div *ngIf="selectedTabs === 'historique'">
                          <common-historiques [historique]="historique"></common-historiques>
                      </div>

                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="row">
      <div class="col"></div>
      <div class="col"></div>
  </div>
</div>

<div *ngIf="selectedTabs === 'information'">
  <user-information [user]="user"></user-information>
</div>


<!-- <custom-loader [displayLoader]="processing"></custom-loader>
 -->
