.cust-autocomplete {
  position: absolute !important;
  bottom: -58px !important;
  left: -18px;

  width: calc(100% + 36px) !important;

  .mat-option {
    font-family: raleway;
    font-size: 13px;
    font-weight: 100;
  }
}
