.cust-button {
  cursor: pointer;

  border-radius: 5px;
  border-color: transparent;
  box-shadow: 0px 3px 6px #2c28281c;

  padding: 12px 15px;
  width: fit-content;

  transition-duration: 0.2s;
  transition-property: background-color;

  span {
    font-family: Raleway;
    font-size: 13px;

    letter-spacing: 0px;
    text-align: center;

    color: #494948;
  }

  &:hover {
    background-color: #fcfcfc;
  }

  &--success {
    background: #38b475 0% 0% no-repeat padding-box;

    span {
      color: #ffffff;
    }

    &:hover {
      background-color: #32aa6e;
    }
  }
  &--light {
    background: #babfc7 0% 0% no-repeat padding-box;

    span {
      color: #ffffff;
    }

    &:hover {
      background-color: #babfc7;
    }
  }

  &--secondary {
    background: #757575 0% 0% no-repeat padding-box;

    span {
      color: #ffffff;
    }

    &:hover {
      background-color: #6b6b6b;
    }
  }
  &--default {
    background: #47a2c1 0% 0% no-repeat padding-box;

    span {
      color: #ffffff;
    }

    &:hover {
      background-color: #4eb0d1;
    }
  }
  &--darkBlue {
    background: #05658d 0% 0% no-repeat padding-box;

    span {
      color: #ffffff;
    }

    &:hover {
      background-color: #6dcff0;
    }
  }

  &--darkOrange {
    background: #ff864a 0% 0% no-repeat padding-box;

    span {
      color: #ffffff;
    }

    &:hover {
      background-color: #ff7d3d;
    }
  }

  &--disabled {
    pointer-events: none;
    background: #c9c9c9;
  }
}
