.mat-calendar-body-selected {
  background-color: #47a2c1;
  color: white;
}

.mat-calendar-body-today:not(.mat-calendar-body-selected) {
  background-color: #47a2c124;
  border-color: rgb(71, 162, 193);
}

.simple-datepicker {
  display: flex;
  align-items: center;

  input {
    border: none;
    width: 90px;

    font-family: Qanelas;
    font-size: 14px;
    font-weight: 600;

    &:focus {
      outline: none;
    }
  }

  mat-datepicker-toggle button {
    &:focus,
    &:active {
      outline: none;
    }
  }
}

.row--timepicker .timepicker {
  margin: auto;
}
