@import "./../core/mixins/scrollbar";

.display-table {
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 10px;
  box-shadow: 0px 3px 6px #2c28281c;

  overflow: hidden;
  max-height: calc(100vh - 130px);

  &__head {
    padding: 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .left {
      display: flex;
      align-items: center;
    }
  }

  &__body {
    @include scrollbar;
    overflow-x: auto;

    table {
      border-collapse: collapse;
      width: 100%;

      .actions {
        width: 107px;
      }

      thead {
        tr {
          background: #f1f3f9 0% 0% no-repeat padding-box;

          th .th-wrapper {
            position: relative;

            font-family: raleway;
            font-size: 13px;
            font-weight: 400;

            color: #8898aa !important;
            letter-spacing: 0px;
            white-space: normal;

            min-width: 60px;
            padding: 10px 0 10px 40px;

            display: flex;
            align-items: center;

            .sort {
              display: flex;
              flex-direction: column;

              align-items: center;
              justify-content: center;

              margin-left: 10px;
              .active {
                color: #05658d;
              }

              .inactive {
                color: #b4b4b4;
              }

              .fa {
                cursor: pointer;

                opacity: 0.5;
                font-size: 12px;

                transition-duration: 0.5;
                transition-property: opacity;

                &:hover {
                  opacity: 0.8;
                }
              }
            }
          }
        }
      }

      tbody {
        display: block;
        max-height: calc(100vh - 325px);
        overflow: auto;

        @include scrollbar;

        td:first-child {
          font-weight: bold;
        }
        tr {
          cursor: pointer;

          transition-duration: 0.2s;
          transition-property: background;

          td {
            font-family: qanelas;
            font-size: 13px;
            font-weight: 400;

            color: #494948;
            padding: 10px 0 10px 43px;

            &.bold {
              font-family: raleway;
              font-size: 13px;
              font-weight: bold;
            }

            &:last-of-type {
              text-align: right;
            }

            .status {
              display: flex;
              align-items: center;

              .dot {
                background-color: #f1f3f9;
                border-radius: 50%;

                height: 10px;
                width: 10px;
              }

              .label {
                margin-left: 8px;
              }

              &--study .dot {
                background-color: $color_study;
              }

              &--not_accepted .dot {
                background-color: $color_not_accepted;
              }

              &--finished .dot {
                background-color: $color_finished;
              }

              &--canceled .dot {
                background-color: $color_canceled;
              }

              &--billed .dot {
                background-color: $color_billed;
              }

              &--accepted .dot {
                background-color: $color_accepted;
              }

              &--refused .dot {
                background-color: $color_refused;
              }

              &--un_done .dot {
                background-color: $color_refused;
              }

              &--in_progress .dot {
                background-color: $color_in_progress;
              }

              &--signed .dot {
                background-color: $color_signed;
              }

              &--late .dot {
                background-color: $color_late;
              }

              &--finishedContrat .dot {
                background-color: $color_late;
              }

              &--draft .dot {
                background-color: $color_draft;
              }

              &--closed .dot {
                background-color: $color_closed;
              }

              &--encours .dot {
                background-color: $color_encours;
              }

              &--used .dot {
                background-color: $color_used;
              }

              &--expired .dot {
                background-color: $color_expired;
              }

              &--waiting .dot {
                background-color: $color_waiting;
              }

              &--planned .dot {
                background-color: $color_planned;
              }

              &--Unplanned .dot {
                background-color: $color_Unplanned;
              }

              &--realized .dot {
                background-color: $color_realized;
              }
            }

            .taux-progress {
              display: flex;
              align-items: center;

              .label {
                margin-right: 15px;
              }

              .bar {
                position: relative;
                flex: 1;

                background-color: #b8c1cc;

                height: 4px;
                max-width: 130px;
                width: 10px;

                .thumb {
                  content: "";

                  position: absolute;
                  left: 0;
                  top: 0;

                  height: 100%;
                  width: 0;

                  transition-delay: 1s;
                  transition-duration: 0.3s;
                  transition-property: width background-color;

                  &--25 {
                    background-color: $color_study;
                  }

                  &--50 {
                    background-color: $color_not_accepted;
                  }

                  &--75 {
                    background-color: $color_finished;
                  }

                  &--100 {
                    background-color: $color_accepted;
                  }
                }
              }
            }
          }

          &:hover {
            background: linear-gradient(
              to right,
              #47a2c136,
              transparent
            ) !important;
          }

          &:nth-of-type(even) {
            background: #f7fafc 0% 0% no-repeat padding-box;

            .actions-trigger {
              background: #ffffff 0% 0% no-repeat padding-box !important;
            }
          }
        }
      }

      tr {
        display: table;
        table-layout: fixed;
        width: 100%;
      }
    }
  }

  &__foot {
    padding: 12px 40px;
    border-top: 2px solid #f1f3f9;
  }

  .cust-input {
    &--search {
      // width: 260px;
      min-width: 300px;
    }

    &--filter {
      margin-left: 12px;
    }
  }
}
.filtre-par-date {
  width: 58%;
}

.filter-overlay {
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 10px;
  box-shadow: 0px 3px 6px #2c28281c;

  margin-bottom: 5px;
  padding: 10px 15px 15px 15px;

  width: auto;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // &--lg {
  //   width: 900px;
  // }
  // &--centered {
  //   position: relative;
  //   transform: translate(50%, 50%) !important;
  // }
  &__controls {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;

    margin-bottom: 5px;
  }

  &__btn {
    cursor: pointer;

    font-size: 13px;
    color: #b4b4b4;

    padding: 0 4px;

    transition-duration: 0.2s;
    transition-property: color;

    span + .fa {
      margin-left: 8px;
    }

    .fa.fa-repeat {
      font-size: 12px;
    }

    .fa.fa-times {
      font-size: 14px;
    }

    &:hover {
      color: #8b8b8b;
    }
  }

  &__filters {
    position: relative;

    animation-duration: 0.3s;
    animation-name: filters-fade-in;
    animation-fill-mode: forwards;

    @keyframes filters-fade-in {
      from {
        opacity: 0;
        top: -10px;
      }

      to {
        opacity: 1;
        top: 0;
      }
    }

    .top {
      display: flex;
      align-items: center;

      .cust-input {
        flex: 1;
        min-width: 250px;
        &:first-of-type {
          margin-right: 8px;
        }

        &:last-of-type {
          margin-left: 8px;
        }
      }
    }

    .bottom {
      margin-top: 15px;

      .filter-overlay__status {
        margin-right: 15px;
      }
    }
  }
}

.actions-trigger {
  cursor: pointer;

  display: inline-block;
  margin-right: 30px;
  padding: 5px;

  background: #f7fafc 0% 0% no-repeat padding-box;
  border-radius: 50%;
  box-shadow: 0px 3px 6px #2c28281c;

  transition-duration: 0.2s;
  transition-property: box-shadow;

  &:hover {
    box-shadow: 0 0 12px #2c28285e;
  }
}

.cust-menu--actions {
  margin-right: 45px;
  margin-top: -3px;

  .icon--small {
    width: 18px;
  }
}

.cust-menu--memo {
  margin-right: 35px;
  margin-top: -8px;

  min-width: 80px !important;

  .icon--small {
    width: 18px;
  }

  img {
    margin: 0 !important;
  }
}
