<div class="modal-header">
  <h4 class="modal-title"> REMPLIR LES BALISES</h4>
</div>

<div class="modal-body" [formGroup]="form" style="padding: 0px 15px 0px 50px; overflow-x: hidden;
overflow-y: scroll;">

  <div class="row" *ngFor="let item of (form.controls | mapToIterable);let i=index">

    <div class="form-group row">
      <label class="col-md-12 label-control" [for]="tags[i]">{{tags[i]}}</label>
      <div class='col-md-12'>
        <input type='col-md-12' class="form-control" [formControlName]="tags[i]" [id]="tags[i]" [name]="tags[i]"
          [readOnly]="getSignature(tags[i])" [placeholder]="tags[i]">
      </div>
    </div>
    <!-- <app-custom-input class="col-md-12" [classCssLabel]="'col-md-12'" [classCssInput]="'col-md-12'" [label]="tags[i]"
      [inputName]="tags[i]" [placeholder]="tags[i]" [formInstant]="form">
    </app-custom-input> -->
  </div>

</div>

<div class="modal-footer">

  <button type="button" class="btn btn-secondary" data-dismiss="modal" placement="top" (click)="modal.dismiss()"
    [ngbTooltip]="'labels.close' | translate">
    {{ 'labels.close' | translate }}
  </button>

  <button type="button" class="btn btn-primary" (click)="save()" [ngbTooltip]="'labels.sauvegarder' | translate">
    {{ 'labels.sauvegarder' | translate }}
  </button>

</div>