<div class="row">
  <div class="col">
    <div class="row">
      <div class="root col">
        <div class="details">
          <div class="cust-card cust-card--padding">
            <div class="cust-card__head">
              <div class="left">
                <div class="title">
                  {{ paiement?.description}}
                </div>
              </div>
              <div>
                <mat-tab-group mat-align-tabs="center" (selectedTabChange)="tabs($event)">
                  <!-- Information -->
                  <mat-tab data-name="information" [label]="'show.information' | translate">
                  </mat-tab>

                  <!-- History -->
                  <mat-tab data-name="historique" [label]="'show.historique' | translate">

                  </mat-tab>

                </mat-tab-group>
              </div>

              <!-- Right controls -->
              <div class="right flexcontrols menu-points-beta">
                <!-- <div id="modifier" class="cust-button cust-button--success" (click)="modifier()">
                                  <span>modifier</span>
                              </div>
 -->

              </div>
            </div>

            <div class="cust-card__body" *ngIf="selectedTabs !== 'information'">



              <div *ngIf="selectedTabs === 'historique'">
                <common-historiques [historique]="historique"></common-historiques>
              </div>


            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div *ngIf="selectedTabs === 'information'" class="col">
        <information-paiements [paiement]="paiement"> </information-paiements>

      </div>
    </div>

  </div>
  <!-- <div class="col side-col">
      <app-actions [actions]="items" [document]="contratEntretien"></app-actions>
  </div> -->
</div>

<!-- <custom-loader [displayLoader]="processing"></custom-loader> -->