@import "./../../../../assets/scss/core/mixins/scrollbar";

.root {
  @include scrollbar;
  overflow: auto;

  max-height: calc(100vh - 245px);

  .col {
    padding: 0 !important;
  }

  .head {
    background-color: #f1f3f9;
    padding: 15px 12px 15px 50px;

    font-weight: 700;

    &--dashed {
      background: repeating-linear-gradient(
        -70deg,
        #f1f3f9,
        #f1f3f9 10px,
        white 6px,
        white 13px
      );
    }
  }

  .row {
    margin-left: 0;
    margin-right: 0;
    padding: 10px 0;

    &.no-padding {
      padding: 0 !important;
    }

    &--bg {
      background-color: #f7fafc;
    }
  }

  .graph-card {
    &__head {
      padding: 10px 0 0 0;

      h2 {
        text-align: center;
        font-family: Qanelas;
        font-size: 18px;
        font-weight: 600;
      }
    }

    &__body {
      display: flex;
      align-items: center;
    }

    &__left,
    &__right {
      flex: 1;
      padding: 15px;

      display: flex;
      align-items: center;
      justify-content: center;

      border-right: 1px solid #e5e6e8;

      .chart {
        position: relative;
        max-width: 190px;

        &--dashed {
          &::after {
            content: "";
            background: repeating-linear-gradient(
              -70deg,
              #ffffff00,
              #ffffff00 10px,
              white 0,
              white 12px
            );
            border-radius: 50%;

            pointer-events: none;

            position: absolute;
            left: 50%;
            top: 0;
            transform: translateX(-50%);

            height: 100%;
            width: 100%;
          }
        }

        .info {
          display: flex;
          flex-direction: column;

          align-items: center;
          justify-content: center;

          position: absolute;
          left: 50%;
          top: 50%;

          text-align: center;
          transform: translate(-50%, -50%);
          width: 64px;

          opacity: 1;
          z-index: 1;

          transition-property: opacity;
          transition-duration: 0.2s;

          .value {
            color: black !important;

            font-family: Qanelas;
            font-size: 16px;
            font-weight: 600;

            white-space: nowrap;
          }

          .label {
            color: black !important;
            font-size: 12px;
          }

          .sub {
            color: black !important;

            font-family: Qanelas;
            font-weight: 600;
            font-size: 12px;
          }
        }

        &:hover {
          .info {
            opacity: 0;
          }
        }
      }

      .legends {
        .legend {
          display: flex;
          align-items: center;

          margin: 20px 0;

          .value {
            margin-left: auto;
            font-family: Qanelas;
          }

          .label {
            display: flex;
            flex-direction: column;

            font-weight: 600;
            margin: 0 15px 0 10px;

            .sub {
              font-size: 12px;
              font-weight: 400;
            }
          }

          .label,
          .value {
            white-space: nowrap;
          }

          .color {
            border: 4px solid;
            border-radius: 10px;

            height: 12px;
            width: 13px;

            &--red {
              border-color: #f53c56;
            }

            &--blue {
              border-color: #47a2c1;
            }

            &--yellow {
              border-color: #feb969;
            }

            &--green {
              border-color: #38b475;
            }
          }
        }
      }
    }
  }

  .cust-card--position {
    margin: 0 20px 20px auto;

    .cust-card__body {
      display: flex;
      align-items: center;

      & > div {
        display: flex;
        flex-direction: column;

        &:last-of-type {
          margin-left: 40px;
        }

        &:not(:last-of-type) {
          margin-right: 30px;
        }

        .icon {
          display: flex;
          align-items: center;
          justify-content: center;

          background-color: #05658d;
          border-radius: 50%;

          padding: 25px;
          transform: scale(1.7);

          height: 30px;
          width: 30px;

          img {
            filter: brightness(0) invert(1);
          }
        }
      }
    }
  }

  .info-bundle {
    display: inline-flex;
    flex-direction: column;

    &:not(:last-of-type) {
      margin-bottom: 15px;
    }

    .label {
      font-family: raleway;
      font-size: 10px;
      letter-spacing: 0px;
      text-align: left;

      color: #8898aa;
    }

    .value {
      font-family: qanelas;
      font-size: 19px;
      font-weight: bold;
      text-align: left;
      letter-spacing: 0px;

      color: #8d9cad;

      &--positive {
        color: #38b475;
      }

      &--negative {
        color: #f53c56;
      }

      &--constant {
        color: #05658d;
      }

      &--neutral {
        color: #494948;
      }

      small {
        font-size: 13px;
        font-weight: bold;

        margin-left: -4px;
      }
    }
  }
}
