.btn-secondary {
  color: white !important;
  background-color: #2dcee3 !important;
  border-color: #2dcee3 !important;
}
.validationMsg {
  color: red;
  font-size: 0.8rem;
}

.ui-button-success {
  height: 20px !important;
}

.card-body.download-Model {
  max-height: 28vw;
}
.btn-mail {
  color: white !important;
  background-color: #0f9497 !important;
  border-color: #0f9497 !important;
}

.badge-brouillon {
  background-color: #636e72 !important;
  color: white;
}

.badge-annuler {
  background-color: #fe0000 !important;
  color: white;
}

.badge-enretard {
  background-color: #ffa87d !important;
  color: white;
}

.badge-planifiee {
  background-color: #00d2d3 !important;
  color: white;
}

.badge-success {
  background-color: #2ecc71 !important;
  color: white;
}
.btn-round {
  padding: 5px 10px 5px 10px;
  //position: relative;

  margin-left: 10px;
}
.ft-eye {
  // font-size: larger !important;
}
.fa-envelope {
  margin-left: 10px !important;
  //font-size: 18px;
  font-size: larger !important;
  padding-top: 10px !important;
}
.modal-body {
  overflow: auto !important;
}
