<div class="notifications-list">
  <div class="notifications-list__head">
    <span>Notifications</span>
  </div>

  <div class="notifications-list__body">
    <ul class="list">
      <li class="item"
        *ngFor="let notification of notifications"></li>
    </ul>
  </div>
</div>
