.side-border {
  border-right: 1px solid #d6ddde;
}

.empty-msg {
  color: #a5b0b9;
  font-family: Raleway;
  font-weight: 600;

  position: absolute;
  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);

  p {
    margin: 0;
  }
}

.notes {
  ul {
    list-style-type: none;

    margin: 0;
    padding: 0;

    li:not(:last-of-type) {
      margin-bottom: 15px;
    }
  }
}

//#region Addition card
.addittion-card {
  border-radius: 8px;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);

  padding: 10px;

  &__main {
    display: flex;
    justify-content: space-between;
  }

  &__content {
    flex: 1;

    textarea {
      padding: 10px;

      background-color: #f7fafc;
      border: none;
      border-radius: 8px;

      font-family: Raleway;
      font-size: 14px;
      font-weight: 100;

      height: 100%;
      min-height: 110px;
      width: 100%;

      &:focus {
        outline-color: #beced8;
      }
    }
  }

  &__controls {
    padding: 0 0 0 10px;

    ul {
      margin: 0;
      padding: 0;

      list-style-type: none;

      li {
        .icon-btn {
          cursor: pointer;

          display: flex;
          align-items: center;
          justify-content: center;

          background-color: transparent;
          border: 1px solid grey;
          border-radius: 50%;

          height: 30px;
          width: 30px;

          opacity: 0.8;

          transition-duration: 0.2s;
          transition-property: opacity;

          img {
            width: 15px;
          }

          &:hover {
            opacity: 1;
          }

          &--init {
            border-color: #464646;
            background-color: #ffffff;
          }

          &--attach {
            border-color: #1b9db3;
            background-color: #1b9db3;

            img {
              filter: invert(1);
            }
          }

          &--plus {
            border-color: #38b475;
            background-color: #38b475;

            img {
              filter: invert(1);
            }
          }
        }

        &:not(:last-of-type) {
          margin-bottom: 10px;
        }
      }
    }
  }

  &__files {
    border-top: 1px solid #f1f1f1;

    margin-top: 10px;
    padding-top: 8px;

    ul {
      margin: 0;
      padding: 0;

      list-style-type: none;

      li {
        .file {
          display: flex;
          align-items: center;
          justify-content: space-between;

          padding-left: 10px;

          .info {
            color: #424242 !important;

            font-family: Qanelas;
            font-size: 14px;
            font-weight: 500;
          }

          .remove-btn {
            cursor: pointer;

            display: flex;
            align-items: center;
            justify-content: center;

            opacity: 0.2;

            height: 30px;
            width: 30px;

            transition-duration: 0.2s;
            transition-property: opacity;

            img {
              width: 15px;
            }

            &:hover {
              opacity: 1;
            }
          }
        }

        &:nth-of-type(odd) {
          background-color: #f7fafc;
        }
      }
    }
  }
}
//#endregion
