<div class="root">
  <div class="row">
    <div class="col-6 side-border">

      <!-- #region Addition card -->
      <div class="addittion-card">
        <div class="addittion-card__main">
          <div class="addittion-card__content">
            <textarea placeholder="Nouvelle note" name="commentaire" id="title1" [(ngModel)]="commentaire"></textarea>
          </div>
          <div class="addittion-card__controls">
            <ul>
              <li>
                <div class="icon-btn icon-btn--init" [matTooltip]="'Initialiser'" (click)="onInit()">
                  <img src="./assets/app/images/Icons/rotate-ccw.svg" alt="Reinitialize icon">
                </div>
              </li>
              <li>
                <label for="file21" class="icon-btn icon-btn--attach" [matTooltip]="'Ajouter un fichier'">
                  <img src="./assets/app/images/Icons/paperclip.svg" alt="Attach icon">
                  <input id="file21" type="file" name="files" style="display: none;" [(ngModel)]="files"
                    (change)="startUpload($event.target.files)">
                </label>
              </li>
              <li>
                <div class="icon-btn icon-btn--plus" [matTooltip]="'Valider la mémo'" (click)="save()">
                  <img src="./assets/app/images/Icons/plus.svg" alt="Add file icon">
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div *ngIf="newMemos?.attachments && newMemos?.attachments?.length > 0" class="addittion-card__files">
          <ul>
            <li *ngFor="let item of newMemos?.attachments; let i=index">
              <div class="file">
                <div class="info">
                  <span>{{ item.fileName }}</span>
                </div>
                <div class="controls" *ngIf="modificationPermission">
                  <div class="remove-btn" [matTooltip]="'Supprimer'" (click)="deleteFile(i)">
                    <img src="./assets/app/images/Icons/x.svg" alt="Remove button">
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <!-- #endregion -->

    </div>
    <div class="col-6">
      <div *ngIf="!memos || memos?.length === 0" class="empty-msg">
        <p>Aucune note disponible</p>
      </div>
      <div *ngIf="memos && memos?.length > 0" class="notes">
        <ul>
          <li *ngFor="let memo of memos; let i = index;">
            <memo-card [data]="memo" (edit)="editMemo($event, i)" (delete)="deleteMemo($event)"
              (download)="downloadFile(i, $event)" [modificationPermission]="modificationPermission"></memo-card>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- <body> -->
<!-- <div class="content-header-right col-md-12 col-12">
	<div class="btn-group float-md-right"
		role="group"
		aria-label="Button group with nested dropdown"
		style="margin-top: 1rem;z-index:100">
		<button class="btn btn-primary"
			(click)="openModel('add')"
			placement="bottom"
			id="add-openModel-memos-btn"
			matTooltip="Ajouter">Ajouter
			<i class="ft-plus"></i></button>
	</div>
</div> -->

<!-- <div class="content-wrapper" style="padding: 0px 0.8rem 0px 23px;">
    <div class="content-body">

        <section id="timeline" class="timeline-left timeline-wrapper">
            <ul class="timeline">
                <ng-container *ngFor="let memo of memos; let i=index">
                    <li class="timeline-item mt-3">
                        <div class="timeline-badge">
                            <span class="bg-white" data-toggle="tooltip" data-placement="right">
                                {{i+1}}
                            </span>
                        </div>
                        <div class="timeline-card card border-grey border-lighten-2">
                            <div class="card-body">
                                <h6 class="card-title"><a [routerLink]="['/utilisateurs/detail',memo.idUser]">
                                        {{ memo?.idUser | GetNameOfUserById }}</a>
                                    {{ memo?.createdOn | date:'dd/MM/yyyy HH:mm' }}
                                    <div class="btn-group" *ngIf="modificationPermission">
                                        <button type="button" class="btn btn-success btn-sm"
                                            id="edit-openModel-memos-btn" (click)="openModel('edit',memo,i)"
                                            placement="bottom" matTooltip="{{'labels.modifier' | translate}}"><i
                                                class="ft-edit"></i></button>
                                        <button type="button" class="btn btn-danger btn-sm"
                                            id="delete-openModel-memos-btn" (click)="deleteMemo(i)">
                                            <i class="ft-trash-2" placement="bottom"
                                                matTooltip="{{'labels.supprimer' | translate}}"></i>
                                        </button>
                                    </div>
                                </h6>
                                <p class="card-subtitle text-muted mb-0 pt-1">
                                    <span class="font-small-3">{{ memo?.comment }}</span>
                                </p>
                                <div class="piecesJointe">
                                    <p *ngFor="let piece of memo.attachments;let j = index">
                                        <a (click)="downloadFile(i,j)">{{ piece.fileName }}</a>
                                        <button type="button" class="btn btn-warning btn-sm float-right"
                                            id="openModel-memos-btn" (click)="showDoc(i,j)">
                                            <i class="fa fa-eye" placement="bottom"></i>
                                        </button>
                                        <button type="button" class="btn btn-success btn-sm float-right"
                                            id="openModel-memos-btn" (click)="downloadFile(i,j)">
                                            <i class="fa fa-cloud-download" placement="bottom"></i>
                                        </button>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ng-container>
            </ul>
        </section>
    </div>
</div> -->

<!-- </body> -->

<!-- Modal -->
<!-- <div class="modal fade text-left"
	id="memoPopu"
	tabindex="-1"
	role="dialog"
	aria-labelledby="myModalLabel1"
	aria-hidden="true">
	<div class="modal-dialog"
		role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title"
					id="myModalLabel35"> {{ formTitle }}</h3>
				<button type="button"
					class="close"
					data-dismiss="modal"
					aria-label="Close"
					id="close-memos-btn">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form>
				<div class="modal-body">
					<fieldset class="form-group floating-label-form-group">
						<label for="title1">{{'commun.Comment' | translate}}</label>
						<textarea class="form-control"
							[(ngModel)]="commentaire"
							name="commentaire"
							id="title1"
							rows="3"
							placeholder="saisir ici un commentaire"></textarea>
					</fieldset>
					<div class="dropzone"
						(dropped)="startUpload($event.target.files)">

						<h3>{{'commun.PieceJoint' | translate}}</h3>
						<div class="file">
							<label class="file-label text-center">
								<label for="file21"
									class="btn btn-light"> {{ 'commun.chooseFile' | translate }}
								</label>
								<input class="file-input"
									type="file"
									(change)="startUpload($event.target.files)"
									id="file21"
									[(ngModel)]="files"
									name="files"
									style="visibility:hidden;">
							</label>
						</div>
					</div>
					<div class="upload-table">
						<table class="table">
							<thead>
								<tr>
									<th>{{ 'commun.name' | translate }}</th>
									<th></th>
								</tr>
							</thead>
							<tbody class="upload-name-style">
								<tr *ngFor="let item of newMemos?.attachments; let i=index">
									<td>{{ item.fileName }}</td>
									<td>
										<i (click)="deleteFile(i)"
											style="color: red;font-size: 14px"
											id="deletefile-memos-btn"
											class="ft-trash-2"></i>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="modal-footer">
					<input type="reset"
						class="btn grey btn-light"
						data-dismiss="modal"
						id="close-memos-btn"
						[value]="'commun.close' | translate"
						placement="top"
						matTooltip="{{'commun.close' | translate}}">
					<input type="submit"
						(click)="save()"
						class="btn btn-success btn-lg"
						data-dismiss="modal"
						id="save-memos-btn"
						[value]="'commun.save' | translate"
						placement="top"
						matTooltip="{{'commun.save' | translate}}">
				</div>
			</form>
		</div>
	</div>
</div> -->

<!-- <div class="modal fade text-left"
	id="showImage"
	tabindex="-1"
	role="dialog"
	aria-labelledby="showImage"
	aria-hidden="true">
	<div class="modal-dialog"
		role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title"
					id="myModalLabel35"> Image </h3>
				<button type="button"
					class="close"
					data-dismiss="modal"
					aria-label="Close"
					id="close-memos-btn">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<img [src]="logo">
			</div>
			<div class="modal-footer">
				<input type="reset"
					class="btn grey btn-light"
					data-dismiss="modal"
					id="close-memos-btn"
					[value]="'commun.close' | translate"
					placement="top"
					matTooltip="{{'commun.close' | translate}}">
			</div>

		</div>
	</div>
</div> -->


<custom-loader [displayLoader]="processIsStarting"></custom-loader>