<!-- Table des articles -->
<div class="row">
  <div class="col-sm-12">

    <!-- les action -->
    <div style="margin-bottom: 10px">
      <div class="row">
        <div class="col-md-3 col-12 col-sm-12 col-md-3" *ngIf="!readOnly">
          <button type="button" data-backdrop="false" class="btn btn-info square btn-block" (click)="LoadListProduit()" id="LoadListProduit-selectPDepense-btn"
            data-toggle="modal" data-target="#selectProduits" placement="bottom"
            ngbTooltip="{{'labels.selectArticle' | translate}}">
            <i class="ft-list"></i>
            {{ 'labels.selectArticle' | translate }}
          </button>

        </div>
        <div class="col-md-3 col-12 col-sm-12 col-md-3" *ngIf="!readOnly">
          <button type="button" data-backdrop="false" class="btn btn-success square btn-block" placement="bottom" id="addNewProduit-selectPDepense-btn"
            ngbTooltip="{{'labels.addProduit' | translate}}" (click)="addNewProduit()">
            <i class="ft-list"></i>
            {{ 'labels.addProduit' | translate }}
          </button>
        </div>


        <td class="table-responsive">
          <form class="form form-horizontal" [formGroup]="form">

            <table class="table table-bordered table-acrticles">
              <thead>
                <tr class="text-center">
                  <th colspan="2" style="width: 15rem;">
                    <i class="ft-chevron-right" *ngIf="AllCollapsesIsClosed" (click)="setAllCollapsesClosed()" id="setAllCollapsesClosed-selectPDepense-btn"
                      style="float: left;"></i>
                    <i class="ft-chevron-down" *ngIf="!AllCollapsesIsClosed" id="AllCollapsesIsClosed-selectPDepense-btn"
                      (click)="AllCollapsesIsClosed = true;collapseClosed = []" style="float: left;"></i>
                    {{ 'labels.designation' | translate }}</th>
                  <th>{{ 'labels.qte' | translate }}</th>
                  <th>{{ 'labels.categorie' | translate }}</th>
                  <th>{{ 'labels.type' | translate }}</th>
                  <th>{{ 'labels.prixparfournisseur' | translate }}</th>
                  <th>{{ 'labels.tva' | translate }}</th>
                  <th>Total HT</th>
                  <th>Total TTC</th>
                  <th *ngIf="!readOnly">{{ 'labels.actions' | translate }}</th>
                </tr>
              </thead>
              <tbody>

                <ng-container *ngIf="newProduit && !readOnly">
                  <tr>
                    <td colspan="2"><input type="text" formControlName="nom" class="form-control t"></td>
                    <td><input type="number" formControlName="qte" class="form-control currency-input" id="qte-selectPDepense-btn"></td>
                    <td>
                      <select id="categoeie-selectPDepense-btn" name="categorie" formControlName="categorie" class="form-control selectpicker">
                        <optgroup *ngFor="let categorie of categories" label="{{categorie.label}}" >
                        <option  *ngFor="let item of categorie.subClassification" [ngValue]="item">{{item.label}} </option>									 
                        </optgroup>		
                      </select>
                      <small class="text-danger"
                      *ngIf="f?.categorie?.errors?.required">{{'errors.required'| translate }}</small>
                  </td>
                  <td>
                    <select id="categoeie-selectPDepense-btn" name="type" formControlName="type" class="form-control selectpicker">                
                      <option  *ngFor="let item of typeProduct" [ngValue]="item">{{item.label}} </option>									 
                    </select>
                    <small class="text-danger"
                    *ngIf="f?.type?.errors?.required">{{'errors.required'| translate }}</small>
                </td>
                    <td> <input type="number" formControlName="prixparfournisseur" class="form-control currency-input" id="prixparfournisseur-selectPDepense-btn">
                    </td>
                    <td> <input type="number" formControlName="tva" class="form-control currency-input" id="tva-selectPDepense-btn"> </td>
                    <td class="display-price">
                      <input type="number" disabled  class="form-control currency-input  input-number" id="totalHt-selectPDepense-btn"
                        placeholder="{{ 'labels.totalHt' | translate }}"
                        [value]="calculate_ht(f?.qte?.value,f?.prixparfournisseur?.value)" appInputRemoveDefaultZero>
                    </td>
                    <td class="display-price">
                      <input type="number" disabled  class="form-control currency-input  input-number" id="calculate_ttc-selectPDepense-btn"
                        placeholder="{{ 'labels.totalHt' | translate }}"
                        [value]="calculate_ttc(f?.qte?.value,f?.tva?.value,f?.prixparfournisseur?.value)"
                        appInputRemoveDefaultZero>
                    </td>
                    <td>

                      <button type="button" class="btn btn-success btn-md btn-actions" (click)="saveArticle()" id="saveArticle-selectPDepense-btn"
                        ngbTooltip="{{'labels.addProduit' | translate}}  ">
                        <i class="ft-plus"></i>
                      </button>
                      <button type="button" class="btn btn-danger btn-md btn-actions" (click)="annulerArticle()"  id="annulerArticle-selectPDepense-btn"
                        ngbTooltip="{{'labels.cancel' | translate}}">
                        <i class="ft-trash-2"></i>
                      </button>
                    </td>
                  </tr>

                </ng-container>

                <ng-container *ngFor="let article of articles;let i= index">
                  <tr>
                    <td colspan="2">{{article.product.designation}}</td>
                    <td *ngIf="!readOnly"><input type="number" class="form-control currency-input  input-number" id="setQteArticle-selectPDepense-btn"
                        (input)="setQteArticle(i,$event)" value={{article?.quantity}} />
                      <!-- {{article?.qte}} -->
                    </td>
                    <td class="display-price" *ngIf="readOnly">
                      {{article?.quantity}}
                    </td>
                    <td *ngIf="!readOnly" class="form-control currency-input-test  input-number">
                    <select id="categoeie-selectPDepense-btn" name="categorie" (change)="onChangeCategorie(i,$event)" class="form-control selectpicker">
                      <option hidden value="article?.product?.category?.id" selected disabled>{{ article?.product?.category?.label }}</option>
                      <optgroup *ngFor="let categorie of categories" label="{{categorie.label}}" >
                      <option  *ngFor="let item of categorie.subClassification" value="{{item?.id}}">{{item?.label}}</option>									 
                      </optgroup>		
                    </select>
                    <small class="text-danger"
                    *ngIf="showCategory(i)">{{'errors.required'| translate }}</small>
                    </td>             
                    <td *ngIf="readOnly">
                      {{article?.product?.category?.label}}
                    </td>
                    <td class="display-price">
                      {{article?.product?.productCategoryType?.label}}
                    </td>
                    <td *ngIf="!readOnly"> <input type="number" class="form-control currency-input  input-number" id="setPrixFournisseurArticle-selectPDepense-btn"
                        (input)="setPrixFournisseurArticle(i,$event)"
                        value={{selectPrixParFounisseur(article?.product?.productSuppliers,article?.id,i)}} />
                    </td>
                    <td class="display-price" *ngIf="readOnly">
                      {{selectPrixParFounisseur(article?.product?.productSuppliers,article?.id,i)}}
                    </td>

                    <td *ngIf="!readOnly"> <input type="text" class="form-control currency-input  input-number" id="setTvaArticle-selectPDepense-btn"
                        (input)="setTvaArticle(i,$event)" value={{article.product.vat}} />
                    </td>
                    <td *ngIf="readOnly"> {{article.product.vat}} </td>


                    <td class="display-price">
                      {{ prixHt(i,article.product.quantity) | RoudingNumber | ShowCurrency }}
                    </td>
                    <td class="display-price">
                      {{ prixTtc( article.product.quantity, i) | RoudingNumber | ShowCurrency}}
                    </td>

                    <td *ngIf="!readOnly">

                      <button type="button" class="btn btn-danger btn-md btn-actions" (click)="removeArticle(i,null)"  id="removeArticle-selectPDepense-btn"
                        ngbTooltip="{{'labels.supprimer' | translate}}  {{'labels.article' | translate}}">
                        <i class="ft-trash-2"></i>
                      </button>
                    </td>
                  </tr>
                </ng-container>




                <tr *ngIf="articles?.length == 0" class="text-center">
                  <td colspan="10"> {{ 'labels.msgEmptyTable' | translate }} </td>
                </tr>
              </tbody>
            </table>
          </form>

      </div>
    </div>


    <div class="col-md-12">
      <div class="col-lg-7 col-md-12 col-sm-12 offset-lg-5">
        <table class="table table-bordered">

          <tr>
            <th>TOTAL GENERAL HT :
              <i class="ft-info" placement="bottom"></i>
            </th>
            <td class="text-right">{{ clalcTotalGeneral() | RoudingNumber | ShowCurrency}}</td>
          </tr>


          <tr *ngFor="let T of groupTVA()">
            <th>TVA {{ T.tva | RoudingNumber }} % :
            </th>
            <td class="text-right">
              {{ T.totalTVA | RoudingNumber }}
            </td>

          </tr>

          <tr>
            <th>TOTAL GENERAL TTC
              <i class="ft-info" placement="bottom"></i>
            </th>
            <td class="text-right">{{ calcTotalGeneralTtc() | RoudingNumber | ShowCurrency }}</td>
          </tr>


        </table>
      </div>
    </div>
  </div>



  <!-- <select-produit-fournisseur [reload]="emitter" (ONAdd)="addProduits($event)" [IdFournisseur]="IdFournisseur">
  </select-produit-fournisseur> -->


  <!-- <app-produit-form [reload]="emitter"></app-produit-form> -->