@import "./../../../assets/scss/core/mixins/scrollbar";

$sidebar-item-bg: #f6f9fc;
$sidebar-text-color: #172b4d;
$sidebar-text-secondary: #05658d;
$sidebar-text-highlight: #38b475;

.root {
  background: #ffffff 0% 0% no-repeat padding-box;

  height: 100%;
  width: 249px;

  transition-duration: 0.2s;
  transition-property: width;

  .head {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 30px 20px;

    .logo {
      cursor: pointer;

      opacity: 1;
      padding-left: 6px;

      transition-duration: 0.2s;
      transition-property: opacity padding-left width;

      img {
        &:active,
        &:focus {
          outline: none;
        }
      }
    }

    .toggle {
      cursor: pointer;
      opacity: 0.8;

      .opened {
        transform: rotateZ(-90deg);
      }
    }
  }

  .body {
    overflow: hidden auto;

    padding: 0 16px;
    height: calc(100vh - 95px);

    @include scrollbar;

    transition-duration: 0.2s;
    transition-property: padding;

    .group-list {
      margin: 0;
      padding: 0;

      list-style-type: none;

      label {
        width: 100%;

        input {
          display: none;
        }
      }

      &__item {
        cursor: pointer;

        border-radius: 8px;
        padding: 15px 20px;

        transition-duration: 0.2s;
        transition-property: background-color padding;

        &:hover {
          background-color: $sidebar-item-bg;
        }
      }

      &__head {
        display: flex;
        align-items: center;

        color: $sidebar-text-color;

        transition-duration: 0.2s;
        transition-property: margin-bottom;
      }

      &__label {
        white-space: nowrap;

        transition-duration: 0.2s;
        transition-property: opacity width;
      }

      &__icon {
        margin-right: 8px;

        &--active {
          display: none;
        }
      }

      &__icon-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
      }

      &__item--opened,
      label input:checked + li {
        background: $sidebar-item-bg 0% 0% no-repeat padding-box;
        padding: 20px;

        .group-list__head {
          color: $sidebar-text-highlight;
          margin-bottom: 10px;
        }

        .group-list__body {
          max-height: 100vh;
          opacity: 1;
        }

        .group-list__icon {
          &--stale {
            display: none;
          }

          &--active {
            display: inline-block;
          }
        }
      }

      &__body {
        overflow: hidden;
        opacity: 0;

        height: 100%;
        max-height: 0;

        transition-duration: 0.2s;
        transition-property: max-height opacity;

        .list {
          list-style-type: disc;
          font-size: 20px;

          padding-left: 20px;

          &__item {
            text-align: left;
            line-height: 1.2;
            letter-spacing: 0px;

            color: $sidebar-text-color;
            opacity: 0.8;

            &--active {
              font-weight: bold;
            }

            &:focus {
              outline: none;
            }
          }

          &__label {
            cursor: pointer;

            font-size: 13px;
            white-space: nowrap;

            &:focus {
              outline: none;
            }
          }
        }
      }
    }
  }

  &--closed {
    width: 65px;

    .head {
      .logo {
        opacity: 0;

        padding-left: 0;

        img {
          width: 0;
        }
      }
    }

    .body {
      padding: 0 8px;

      .group-list__item {
        padding: 15px 10px !important;
      }

      .group-list__head {
        margin-bottom: 0 !important;

        .group-list__label {
          opacity: 0 !important;
          width: 0 !important;
        }

        .group-list__icon-wrapper {
          display: flex;
          align-items: center;
          justify-content: center;

          .group-list__icon {
            margin-right: 0 !important;
          }
        }
      }

      .group-list__body {
        max-height: 0 !important;
        opacity: 0 !important;
      }
    }
  }
}
