.paddingTop {
  padding-top: 0rem !important;
  position: relative;
  bottom: 0.1rem;
}

.Label-radion-btn {
  padding: 1rem;
  position: relative;
  bottom: 0.15rem;
}

.flexcontrols {
  display: flex;
  div:last-of-type {
    margin-left: 10px;
  }
}

.checkbox {
  margin: 0.5rem;
}

input[type="checkbox"] {
  visibility: hidden;
}
input[type="checkbox"] + label:before {
  border: 1px solid rgb(119, 115, 115);
  content: "\00a0";
  display: inline-block;
  font: 16px/1em sans-serif;
  width: 20px; /*Desired width*/
  height: 20px; /*Desired height*/
  // margin: 0 .25em 0 0;
  // padding: 0;
  // vertical-align: top;
}
input[type="checkbox"]:checked + label:before {
  background: #fff;
  color: #38b475;
  content: "\2713";
  text-align: center;
}
input[type="checkbox"]:checked + label:after {
  font-weight: bold;
  background-color: #38b475;
}

input[type="checkbox"]:focus + label::before {
  outline: #fff auto 5px;
  //    background-color: #fff;
}

::ng-deep {
  .ui-button-primary.ui-splitbutton.ui-buttonset.ui-widget {
    padding: 1px 0;
    .ui-button:first-of-type {
      display: none;
    }
    .ui-button-icon-left.ui-clickable::before {
      content: "\f142";
      font-family: FontAwesome;
    }
  }
}

.active-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
}
