tr {
  border: 1px #9e98986e solid;
  /* padding: 10px 0px; */
}
table {
  width: 100%;
}
td {
  border: 1px #9e98986e solid;
  height: 40px;
  width: 100px;
  min-width: 100px;
}

td:nth-child(1) {
  padding-left: 8px;
}

.btn-actions-custom {
  button,
  button:active {
    background-color: #dceaf2;
    border: none;
    color: #0b1721;
    padding: 1px 1px;
  }
  button:nth-child(2) {
    //font-size: 20px;
  }
}
.iconEye {
  padding-right: 5px;
  
}

.iconEyeVa {
  padding-top: 4px;
  padding-right: 4px;
  color: #0cf158;
  margin-right:3px;
}

.iconEyeCanc {
  padding-top: 4px;
  padding-left: 4px;
  color: #f10c0c;
  margin-left:3px;
}


table {
  // table-layout: fixed;
  // width: 300px; /* your desired width */
}

.currency-input {
  text-align: right;
  padding-right: 4px;
}
