<div class="root">
    <div class="row">
        <div class="col">
            <div class="details">
                <div class="cust-card cust-card--padding">

                    <div class="cust-card__head">

                        <div class="left">
                            <div class="title" *ngIf="isModif() && document">
                                {{ 'update.' + docType | translate }} : {{ document?.reference }}
                            </div>
                            <div class="title" *ngIf="!isModif()">
                                {{ 'create.' + docType | translate }}
                            </div>
                        </div>

                        <div class="right flexcontrols">
                            <div class="flexcontrols">

                                <div id="annuler" class="cust-button cust-button--secondary" (click)="close()">
                                    <span> Annuler </span>
                                </div>

                                <div class="flexcontrols">

                                    <div id="valider" class="cust-button cust-button--light"
                                        *ngIf="!isModif() ||(isModif() && document?.status=='draft')"
                                        (click)="submit('draft')">
                                        <span>Brouillon</span>
                                    </div>

                                    <div id="valider" class="cust-button cust-button--success" (click)="submit()">
                                        <span>Valider</span>
                                    </div>

                                </div>


                            </div>


                        </div>
                    </div>

                    <div class="cust-card__body">
                        <div class="body">
                            <form [formGroup]="editHelper?.form">

                                <div class="row">

                                    <!-- REFERENCE -->
                                    <div class="col">
                                        <div class="cust-input-group">
                                            <div class="cust-label">{{ 'LABELS.REFERENCE' | translate }} :</div>
                                            <div class="cust-input">
                                                <label class="cust-input__wrapper">
                                                    <input class="cust-input__input" id="add-nom-chantier-form-btn"
                                                        type="text" formControlName="reference">
                                                </label>
                                            </div>
                                            <small class="text-danger"
                                                *ngIf="f?.reference?.hasError('CheckUniqueReference')">{{'errors.unique' | translate }}</small>
                                            <small class="text-danger"
                                                *ngIf="f?.reference?.errors?.required">{{'errors.required' | translate }}</small>
                                        </div>
                                    </div>

                                    <!-- Type -->

                                    <div class="col" *ngIf="!factureFIM && idChantier == null">
                                        <div class="cust-input-group">
                                            <div class="cust-label">{{ 'LABELS.TYPE' | translate }} :</div>

                                            <div class="container form-check-inline">
                                                <mat-checkbox class="new-checkbox mr-1" [checked]="typeNone"
                                                    (change)="changedispalyToClient(1)">
                                                    Normal
                                                </mat-checkbox>
                                                <mat-checkbox class="new-checkbox mr-1"
                                                    *ngIf="docType === apiUrl.Invoice" [checked]="typeContrat"
                                                    (change)="changedispalyToClient(2)">
                                                    Contrat entretien
                                                </mat-checkbox>
                                                <mat-checkbox class="new-checkbox" [checked]="typeChantier"
                                                    (change)="changedispalyToClient(3)">
                                                    Chantier
                                                </mat-checkbox>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col" *ngIf="factureFIM">
                                        <div class="cust-input-group">
                                            <div class="cust-label">Fiche Intervention :</div>
                                            <div class="cust-input">
                                                <label class="cust-input__wrapper">
                                                    <input class="cust-input__input" id="refrenceFicheIM" type="text"
                                                        [value]="refrenceFicheIM" disabled>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Client -->
                                    <div class="col"
                                        *ngIf="(f?.idChantier?.value == null || typeNone) && idChantier == null && !isDocSupplier() ">
                                        <div class="cust-input-group">
                                            <div class="cust-label">{{ 'LABELS.CLIENT' | translate }} :</div>
                                            <div class="cust-input cust-input--select">
                                                <label class="cust-input__wrapper">
                                                    <mat-select id="add-client-form-btn" class="cust-input__input"
                                                        formControlName="client"
                                                        (openedChange)="getAdressIntervention()">
                                                        <mat-option>
                                                            <ngx-mat-select-search ngModel
                                                                (ngModelChange)="filterclient($event)"
                                                                placeholderLabel="Rechercher"
                                                                noEntriesFoundLabel="aucun élément trouvé"
                                                                [ngModelOptions]="{standalone: true}">
                                                            </ngx-mat-select-search>
                                                        </mat-option>

                                                        <mat-option class="mat-add" id="add-add-client-form-btn"
                                                            (click)="addClient()">
                                                            <span class="colorVert">Nouveau client</span>
                                                            <img src="./assets/app/imgs/addVert.png" alt="Plus icon">
                                                        </mat-option>
                                                        <mat-option *ngFor="let client of listClients; let i = index"
                                                            id="add-client-chantier" [value]="client">
                                                            {{ client?.reference }} : {{ client?.name }}</mat-option>
                                                    </mat-select>
                                                </label>
                                            </div>
                                        </div>
                                        <small class="text-danger"
                                            *ngIf="f?.client?.errors?.required">{{'errors.required' | translate }}</small>
                                    </div>

                                    <div class="col"
                                        *ngIf="f?.idChantier?.value != null || idChantier != null && !isDocSupplier()">
                                        <div class="cust-input-group">
                                            <div class="cust-label">{{ 'LABELS.CLIENT' | translate }} :</div>
                                            <div class="cust-input">
                                                <label class="cust-input__wrapper">
                                                    <input class="cust-input__input" id="add-nom-client-form-btn"
                                                        type="text" [value]="f?.client?.value?.name" disabled disabled>
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Fournisseur -->
                                    <div class="col" *ngIf="isDocSupplier() && !isGenererDepenseDepuisBCF()">
                                        <div class="cust-input-group">
                                            <div class="cust-label">{{ 'LABELS.FOURNISSEUR' | translate }} :</div>
                                            <div class="cust-input cust-input--select">
                                                <label class="cust-input__wrapper">
                                                    <mat-select id="add-fournisseur-document-form-btn"
                                                        class="cust-input__input" formControlName="supplier"
                                                        (selectionChange)="loadInfoFournisseur(f?.supplier?.value?.id)">
                                                        <mat-option>
                                                            <ngx-mat-select-search ngModel
                                                                (ngModelChange)="filtersuppluer($event)"
                                                                placeholderLabel="Chercher"
                                                                noEntriesFoundLabel="aucun élément trouvé"
                                                                [ngModelOptions]="{standalone: true}">
                                                            </ngx-mat-select-search>
                                                        </mat-option>
                                                        <mat-option class="mat-add" id="add-add-client-form-btn"
                                                            (click)="addSupplier()">
                                                            <span class="colorVert">Nouveau fournisseur</span>
                                                            <img src="./assets/app/imgs/addVert.png" alt="Plus icon">
                                                        </mat-option>
                                                        <mat-option *ngFor="let fournisseur of listF"
                                                            id="add-fournisseur" [value]="fournisseur">
                                                            {{ fournisseur?.reference }} : {{ fournisseur?.firstName }}
                                                        </mat-option>
                                                    </mat-select>
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col" *ngIf="isGenererDepenseDepuisBCF()">
                                        <div class="cust-input-group">
                                            <div class="cust-label">{{ 'LABELS.FOURNISSEUR' | translate }} :</div>
                                            <div class="cust-input">
                                                <label class="cust-input__wrapper">
                                                    <input class="cust-input__input" id="add-nom-client-form-btn"
                                                        type="text" [value]="f?.supplier?.value?.name" disabled
                                                        disabled>
                                                </label>
                                            </div>
                                        </div>
                                    </div>


                                    <!-- Status -->
                                    <div class="col" *ngIf="isModif()">
                                        <div class="cust-input-group">
                                            <div class="cust-label">{{ 'LABELS.STATUS' | translate }} </div>
                                            <div class="cust-input cust-input--select cust-input--status"
                                                [style.color]="getColor(selectedStatus)">
                                                <label class="cust-input__wrapper">
                                                    <mat-select id="add-status-document-form-btn"
                                                        *ngIf="status.length !== 0" class="cust-input__input"
                                                        [panelClass]="'cust-menu--status'" [value]="selectedStatus"
                                                        (valueChange)="onStatusChanged($event)">
                                                        <mat-option *ngFor="let stts of status; let i = index"
                                                            id="add-status-document" [style.color]="getColor(stts)"
                                                            [value]="stts">{{ stts | translate  }}</mat-option>
                                                    </mat-select>
                                                    <input *ngIf="status.length === 0" class="cust-input__input"
                                                        id="add-status-document-form-btn" type="text"
                                                        [value]="selectedStatus | translate" disabled>
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">


                                    <!-- chantier -->
                                    <div class="col" *ngIf="typeChantier && idChantier == null">
                                        <div class="cust-input-group">
                                            <div class="cust-label">{{ 'LABELS.WORKSHOP' | translate }} :</div>
                                            <div class="cust-input cust-input--select">
                                                <label class="cust-input__wrapper">
                                                    <mat-select id="add-chantier-form-btn" class="cust-input__input"
                                                        formControlName="workshopId"
                                                        (openedChange)="loadClientofChantier(f?.workshopId?.value)">
                                                        <mat-option>
                                                            <ngx-mat-select-search ngModel
                                                                (ngModelChange)="filterchantier($event)"
                                                                placeholderLabel="rechercher"
                                                                noEntriesFoundLabel="aucun élément trouvé"
                                                                [ngModelOptions]="{standalone: true}">
                                                            </ngx-mat-select-search>
                                                        </mat-option>
                                                        <mat-option class="mat-add" id="add-add-client-form-btn"
                                                            (click)="addChantier()">
                                                            <span>Nouveau chantier</span>
                                                            <img src="./assets/app/images/Icons/plus.svg"
                                                                alt="Plus icon">
                                                        </mat-option>
                                                        <mat-option *ngFor="let workshop of listChantiers"
                                                            id="add-chantier" [value]="workshop.id">
                                                            {{ workshop?.name }} </mat-option>
                                                    </mat-select>
                                                </label>
                                            </div>
                                        </div>
                                        <small class="text-danger"
                                            *ngIf="f?.workshopId?.errors?.required">{{'errors.required' | translate }}</small>
                                    </div>


                                    <div class="col" *ngIf="idChantier != null">
                                        <div class="cust-input-group">
                                            <div class="cust-label">{{ 'LABELS.WORKSHOP' | translate }} :</div>
                                            <div class="cust-input">
                                                <label class="cust-input__wrapper">
                                                    <input class="cust-input__input" id="add-nom-chantier-form-btn"
                                                        type="text" [value]="chantiername" disabled>
                                                </label>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col" *ngIf="typeContrat">
                                        <div class="cust-input-group">
                                            <div class="cust-label">{{ 'LABELS.CONTRAT' | translate }} :</div>
                                            <div class="cust-input cust-input--select">
                                                <label class="cust-input__wrapper">
                                                    <mat-select id="add-chantier-form-btn" class="cust-input__input"
                                                        formControlName="contractId"
                                                        (openedChange)="loadContratClient(f?.contractId?.value)">
                                                        <mat-option>
                                                            <ngx-mat-select-search ngModel
                                                                (ngModelChange)="filtercontrat($event)"
                                                                placeholderLabel="rechercher"
                                                                noEntriesFoundLabel="aucun élément trouvé"
                                                                [ngModelOptions]="{standalone: true}">
                                                            </ngx-mat-select-search>
                                                        </mat-option>
                                                        <mat-option *ngFor="let contrat of contrats" id="add-chantier"
                                                            [value]="contrat.id">
                                                            {{ contrat?.reference }} </mat-option>
                                                    </mat-select>
                                                </label>
                                            </div>
                                            <small class="text-danger"
                                                *ngIf="f?.contractId?.errors?.required">{{'errors.required' | translate }}</small>
                                        </div>
                                    </div>


                                    <!-- ADRESFACTURATION -->
                                    <div class="col" *ngIf="!isDocSupplier()">
                                        <div class="cust-input-group">
                                            <div class="cust-label">{{ 'LABELS.ADRESFACTURATION' | translate }} :</div>
                                            <div class="cust-input">
                                                <label class="cust-input__wrapper">
                                                    <input class="cust-input__input"
                                                        id="add-adressFacturation-document-form-btn" type="text"
                                                        [value]="getAdressFacturation() " disabled>
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- ADRESSINTERVENTION -->
                                    <div class="col" *ngIf="isAdresseIntervention()">
                                        <div class="cust-input-group">
                                            <div class="cust-label">{{ 'LABELS.ADRESINTERVENTION' | translate }} :</div>
                                            <div class="cust-input cust-input--select">
                                                <label class="cust-input__wrapper">
                                                    <mat-select id="add-adresseIntervention-document-form-btn"
                                                        class="cust-input__input" formControlName="addressIntervention">
                                                        <mat-option>
                                                            <ngx-mat-select-search ngModel
                                                                (ngModelChange)="filterAdressInterv($event)"
                                                                placeholderLabel="rechercher"
                                                                noEntriesFoundLabel="aucun élément trouvé"
                                                                [ngModelOptions]="{standalone: true}">
                                                            </ngx-mat-select-search>
                                                        </mat-option>
                                                        <mat-option class="mat-add"
                                                            id="add-add-adresseIntervention-form-btn"
                                                            (click)="addAdresse()">
                                                            <span>Nouvelle adresse intervention</span>
                                                            <img src="./assets/app/images/Icons/plus.svg"
                                                                alt="Plus icon">
                                                        </mat-option>

                                                        <mat-option
                                                            *ngFor="let adresse of adressesIntervention; let i = index"
                                                            id="add-adresses" [value]="adresse">
                                                            {{ adresse?.designation }}</mat-option>
                                                    </mat-select>
                                                </label>
                                            </div>
                                            <small class="text-danger"
                                                *ngIf="isAdresseIntervention() && f?.addressIntervention?.errors?.required">{{'errors.required' | translate }}</small>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">

                                    <!-- objet -->
                                    <div class="col">
                                        <div class="cust-input-group">
                                            <div class="cust-label">{{ 'LABELS.OBJET' | translate }} :</div>
                                            <div class="cust-input cust-input--textarea">
                                                <label class="cust-input__wrapper">
                                                    <textarea matInput class="cust-input__input"
                                                        id="add-purpose-facturation-form-btn" rows="1"
                                                        formControlName="purpose"
                                                        placeholder="{{ 'PLACEHOLDERS.OBJET' | translate }}"></textarea>
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- date creation -->
                                    <div class="col">

                                        <div class="cust-input-group">
                                            <div class="cust-label">{{ 'LABELS.DATE_CREATION' | translate }} :</div>
                                            <div class="cust-input cust-input--date">
                                                <label class="cust-input__wrapper">
                                                    <input class="cust-input__input" #fromInput matInput
                                                        [matDatepicker]="creationDate" [placeholder]="'Date Début'"
                                                        formControlName="creationDate">
                                                    <mat-datepicker-toggle matSuffix [for]="creationDate">
                                                    </mat-datepicker-toggle>
                                                    <mat-datepicker #creationDate></mat-datepicker>
                                                </label>
                                            </div>
                                        </div>
                                        <small class="text-danger"
                                            *ngIf="f?.creationDate?.errors?.required">{{'errors.required' | translate }}</small>

                                    </div>

                                    <!-- date echenace -->

                                    <div class="col">

                                        <div class="cust-input-group">
                                            <div class="cust-label">{{ 'LABELS.DATE_ECHEANCE' | translate }} :</div>
                                            <div class="cust-input cust-input--date">
                                                <label class="cust-input__wrapper">
                                                    <input class="cust-input__input" #fromInput matInput
                                                        [matDatepicker]="picker" [placeholder]="'Date fin'"
                                                        formControlName="dueDate">
                                                    <mat-datepicker-toggle matSuffix [for]="picker">
                                                    </mat-datepicker-toggle>
                                                    <mat-datepicker #picker></mat-datepicker>
                                                </label>
                                            </div>
                                        </div>
                                        <small class="text-danger"
                                            *ngIf="f?.dueDate?.errors?.required">{{'errors.required' | translate }}</small>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col"></div>
        <div class="col"></div>
    </div>
</div>

<div class="right">

    <div class="row" *ngIf="docType === apiUrl.Devis && !editHelper.isAction(action.MODIFIER)">

        <div class="col">

        </div>

        <div class="col">
            <div class="cust-input-group">
                <div class="cust-label"></div>
                <div class="cust-input cust-input--date">
                    <label class="cust-input__wrapper">
                        <mat-select class="cust-input__input" [(ngModel)]="typeDevis"
                            [ngModelOptions]="{standalone: true}">
                            <mat-option [value]="TypeDevis.Complet">Saisir depuis l’application
                            </mat-option>
                            <mat-option [value]="TypeDevis.Minimalist">Importer depuis Excel
                            </mat-option>
                        </mat-select>
                    </label>
                </div>
            </div>
        </div>

    </div>

</div>

<div class="root" *ngIf="typeDevis == TypeDevis.Complet && !isDocSupplier() ">
    <div class="row">
        <div class="col">
            <div class="details">
                <table-article [load]="emitter" [readOnly]="false" [articles]="articles" [devis]="document"
                    [isAvoir]="docType === apiUrl.avoir" [document]="document" [checkTypePres]="checkTypePres()"
                    [retenueGarantieValue]="retenueGarantie">
                </table-article>
            </div>
        </div>
    </div>
</div>

<div class="root" *ngIf="typeDevis == TypeDevis.Minimalist || isDocSupplier()">
    <div class="row">
        <div class="col">
            <div class="details">
                <div class="cust-card cust-card--padding">

                    <div class="cust-card__head">

                        <div class="left">
                            <div class="title">
                                Articles
                            </div>
                        </div>


                    </div>

                    <div class="cust-card__body">

                        <!-- <div class="row" *ngIf="typeDevis == TypeDevis.Complet">

                            <div class="col" *ngIf="isdetailLot()">
                                <div class="form-group row">
                                    <label class="col-md-2 label-control title detailLot" for="detailLot">
                                        {{ 'LABELS.DETAILSLOT' | translate }} : </label>
                                    <div class="col-md-5" style="display: flex;">
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" id="detailLot1" value=true class="custom-control-input"
                                                [checked]="detailLot" (click)="click(true)">
                                            <label class="custom-control-label" for="detailLot1">Oui</label>
                                        </div>

                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" id="detailLot28" value="false"
                                                class="custom-control-input" [checked]="!detailLot"
                                                (click)="click(false)">
                                            <label class="custom-control-label" for="detailLot28">Non</label>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div> -->

                        <div class="row" *ngIf="typeDevis == TypeDevis.Minimalist">
                            <div class="col-md-12">
                                <articles-minimaliste [load]="emitter" [readOnly]="false" [data]="document">
                                </articles-minimaliste>
                            </div>
                        </div>

                        <div class="row" *ngIf="isDocSupplier()">
                            <div class="col-md-12">
                                <table-article-depense [load]="emitter" [readOnly]="false" [articles]="articles"
                                    [IdFournisseur]="f?.supplier?.value?.id">
                                </table-article-depense>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="root" *ngIf="typeDevis == TypeDevis.Complet">
    <div class="row">
        <div class="col">
            <div class="details">
                <div class="cust-card cust-card--padding">

                    <div class="cust-card__body">


                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label class="col-md-12 label-control"
                                        for="conditionReglementv">{{ 'LABELS.CONDITIONS' | translate }}</label>
                                    <div class="col-md-12">
                                        <div class="cust-input">
                                            <app-input-textarea id="conditionReglementv"
                                                [controlParent]="editHelper?.form" [readOnly]="false"
                                                [controlName]="'paymentCondition'"
                                                [placeholder]="'LABELS.CONDITIONS' | translate"
                                                [label]="'LABELS.CONDITIONS' | translate">
                                            </app-input-textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label class="col-md-12 label-control"
                                        for="note">{{ 'LABELS.NOTE' | translate }}</label>
                                    <div class="col-md-12">
                                        <div class="cust-input">
                                            <app-input-textarea id="note" [controlParent]="editHelper?.form"
                                                [readOnly]="false" [controlName]="'note'"
                                                [placeholder]="'LABELS.NOTE' | translate"
                                                [label]="'LABELS.NOTE' | translate">
                                            </app-input-textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="root" *ngIf="docType === apiUrl.Depense">
    <div class="row">
        <div class="col">
            <div class="details">
                <div class="cust-card cust-card--padding">

                    <div class="cust-card__head">

                        <div class="left">
                            <div class="title">
                                Joindre justificatif
                            </div>
                        </div>

                    </div>

                    <div class="cust-card__body">

                        <div class="row">
                            <div class="col-12">
                                <table class="table">
                                    <tr>
                                        <th>{{'labels.nom' | translate}}</th>
                                        <th style="text-align: center !important;">{{'labels.action' | translate}}</th>
                                    </tr>
                                    <tr *ngFor="let pieceJointe of piecesJointes;let index= index">
                                        <td style="line-height: 40px;">
                                            {{ pieceJointe?.fileName }}
                                        </td>
                                        <td style="text-align: center !important; line-height: 40px;">
                                            <div class="btn-group" role="group">
                                                <button type="button" class="btn btn-primary btn-md btn-actions"
                                                    placement="bottom"
                                                    ngbTooltip="{{ 'labels.downloadFile' | translate }}"
                                                    (click)="downloadPieceJointe(index)">
                                                    <i class="ft-download"></i>
                                                </button>

                                                <button type="button" class="btn btn-danger btn-md btn-actions"
                                                    placement="bottom"
                                                    ngbTooltip="{{ 'labels.deleteFile' | translate }}"
                                                    (click)="removeFile(index)">
                                                    <i class="ft-trash-2"></i>
                                                </button>
                                            </div>

                                        </td>
                                    </tr>
                                    <tr *ngIf="piecesJointes.length == 0">
                                        <td colspan="2" class="text-center">
                                            {{'noDataAvaible' | translate}}
                                        </td>
                                    </tr>
                                </table>
                                <div class="file float-right;">
                                    <label for="file21" class="btn btn-primary" style="float:right"> Choisir le ficher
                                        <i class="ft-upload"></i></label>
                                    <input class="file-input" type="file" (change)="startUpload($event.target.files)"
                                        id="file21" name="files" style="visibility:hidden;">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>


<custom-loader [displayLoader]="processing"></custom-loader>