$yellow-primary: #1b9db3;
$yellow-secondary: #fffdeb;
$black-primary: #f5f5f5 ;

.navbar-wrapper .navbar-header {
  background: $black-primary !important;
  color: white;
}

.header-navbar .navbar-header .navbar-brand {
  padding: 0px !important;
}
.navbar-brand {
  padding-top: 0px !important;
}

.custom-nav {
  // background-image: url(//mfs2.cdnsw.com/fs/Root/large/du1sv-Pascal_avec_tablette.jpg) !important;
  // background-image: url("assets/app/images/sbp.png") !important;
  background-position: center;
}

.changecolor {
  background-color: transparent;
}
.fa-key {
  background-color: transparent !important;
}
.ft-menu {
  background-color: transparent !important;
}

.fa-key:before {
  content: "\f084";
  background-color: transparent !important;
}
.ft-user {
  background-color: transparent !important;
}
.ft-power {
  background-color: transparent !important;
}

.menuopen {
  // margin-left: 30px;
  // margin-top: -10px;
  height: 30px;
  width: 32px;
}

.menuclose {
  // margin-left: -20px;
  width: 100%;
  height: auto;
  margin-right: 0;
  margin-top: -12px;
}
.body.vertical-layout.vertical-menu.menu-collapsed .main-menu .main-menu-content > span.menu-title,
body.vertical-layout.vertical-menu.menu-collapsed .main-menu .main-menu-content a.menu-title {
  display: none !important;
}

.brand-logo {
  margin-top: 0.8vh;
}
