<div class="modal fade text-left" id="{{idPop}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel9"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">

        <h4 class="modal-title" id="myModalLabel9">
          <i class="fa fa-list"></i> {{ 'labels.choixChantier' | translate }}
        </h4>

        <button type="button" id="add-close-chantier-choix-btn" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

      </div>

      <div class="modal-body">
        <div class="card-body">
          <div class="form-group row">
            <label class="col-md-3 label-control font-weight-bold">{{ 'labels.chantier' | translate }} :</label>
            <div class="col-md-9">
              <ng-select notFoundText="{{'labels.noFoundItem' | translate}}" labelForId=chantier
                id="add-idChantier-chantier-choix-btn" [(ngModel)]="idChantier">
                <ng-option *ngFor="let chantier of chantiers;let i = index" value="{{chantier?.id}}">
                  <!-- {{chantier?.reference}} : -->
                  {{chantier?.name}}</ng-option>
              </ng-select>
            </div>
          </div>
          <!-- Fournisseurs -->
          <div class="form-group row" *ngIf="idChantier != null && choixfournisseur">
            <label class="col-md-3 label-control font-weight-bold">{{ 'labels.fournisseur' | translate }} :</label>
            <div class="col-md-9">
              <ng-select notFoundText="{{'labels.noFoundItem' | translate}}" (search)="getFournisseurs($event)"
                id="add-idFournisseur-chantier-choix-btn" labelForId=fournisseur [(ngModel)]="idFournisseur"
                (clear)="getFournisseurs('')">
                <ng-option *ngFor="let fournisseur of fournisseurs;let i = index" value="{{fournisseur?.id}}">
                  <!-- {{chantier?.reference}} : -->
                  {{fournisseur?.name}}</ng-option>
              </ng-select>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" id="add-cancel-chantier-choix-btn" class="btn grey btn-light"
          data-dismiss="modal">{{ 'labels.cancel' |translate }}
        </button>
        <button type="button" class="btn btn-success btn-lg" [disabled]="!idChantier"
          id="add-choisirChantier-chantier-choix-btn"
          (click)="choisirChantier()">{{ 'labels.choisir' | translate }}</button>
      </div>

    </div>
  </div>
</div>