<!-- #region Display card -->
<div *ngIf="readonly" class="memo-card">
  <div class="memo-card__head">
    <div class="left">
      <span class="label">{{ data?.user?.userName }}</span>
    </div>
    <div class="right" *ngIf="modificationPermission">
      <mat-icon [matMenuTriggerFor]="matMenu" (onMenuOpen)="onMenuOpened(data)">more_vert</mat-icon>
    </div>
  </div>
  <div class="memo-card__body">
    <p class="comment">
      {{ data?.comment }}
    </p>
  </div>
  <div class="memo-card__foot">
    <div class="left">
      <span class="label label--sm">{{ data?.createdOn | date:'dd/MM/yyyy - HH:mm' }}</span>
    </div>
    <div class="right">
      <div class="attachments-preview">
        <div class="left">
          <span [ngClass]="{
            'image':isAttachmentImage(selectedAttachment),
            'file':!isAttachmentImage(selectedAttachment)
          }">{{ selectedAttachment?.fileName }}</span>
        </div>
        <!-- {{isShow(item)}}
        <div class="controls" *ngIf="isShow(item)">
          kkk
          <div class="remove-btn" [matTooltip]="'Visualiser'" (click)="showDoc(item)">
            <img src="./assets/app/images/Icons/eye.svg" alt="Remove button">
          </div>
        </div> -->
        <div #previewContainer class="right">

          <div *ngFor="let attachment of data?.attachments; let i = index;" class="attachment-icon" [ngStyle]="{
              'right': (i * 10) + 'px'
            }" [ngClass]="{
              'attachment-icon--image': isAttachmentImage(attachment),
              'attachment-icon--file': !isAttachmentImage(attachment)
            }" (mouseenter)="onAttachmentHover(attachment)" (click)="onDownload(i)">
            <img alt="File icon" [src]="getAttachmentIcon(attachment)">
          </div>


        </div>
        <ng-container *ngFor="let attachment of data?.attachments; let i = index;">
          <div #previewContainer class="right" style="margin-left: 40px;" *ngIf="isShow(attachment)">
            <div class="attachment-icon" (click)="showDoc(attachment)" class="attachment-icon" [ngStyle]="{
      'right': (i * 10) + 'px'
    }" [ngClass]="{
      'attachment-icon--image': isAttachmentImage(attachment),
      'attachment-icon--file': !isAttachmentImage(attachment)
    }">
              <!-- <img src="./assets/app/images/Icons/eye-green.svg" alt="File icon"> -->
              <img alt="File icon" [src]="getAttachmentViewIcon(attachment)">

            </div>

          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
<!-- #endregion -->

<!-- #region Addition card -->
<div *ngIf="!readonly" class="addittion-card">
  <div class="addittion-card__main">
    <div class="addittion-card__content">
      <textarea placeholder="Nouvelle note" name="commentaire" id="title1" [(ngModel)]="commentaire"></textarea>
    </div>
    <div class="addittion-card__controls">
      <ul>
        <li>
          <div class="icon-btn icon-btn--init" [matTooltip]="'Initialiser'" (click)="onInit()">
            <img src="./assets/app/images/Icons/rotate-ccw.svg" alt="Reinitialize icon">
          </div>
        </li>
        <li>
          <label for="filecardinput" class="icon-btn icon-btn--attach" [matTooltip]="'Ajouter un fichier'">
            <img src="./assets/app/images/Icons/paperclip.svg" alt="Attach icon">
            <input id="filecardinput" type="file" name="files" style="display: none;" [(ngModel)]="files"
              (change)="onUpload($event.target.files)">
          </label>
        </li>
        <li>
          <div class="icon-btn icon-btn--check" [matTooltip]="'Valider la mémo'" (click)="onValidate()">
            <img src="./assets/app/images/Icons/check.svg" alt="Add file icon">
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div *ngIf="memo?.attachments && memo?.attachments?.length > 0" class="addittion-card__files">
    <ul>
      <li *ngFor="let item of memo?.attachments; let i=index">
        <div class="file">
          <div class="info">
            <span>{{ item.fileName }}</span>
          </div>

          <div class="controls" *ngIf="modificationPermission">
            <div class="remove-btn" [matTooltip]="'Supprimer'" (click)="onRemove(i)">
              <img src="./assets/app/images/Icons/x.svg" alt="Remove button">
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
<!-- #endregion -->

<!-- #region Actions overlay -->
<mat-menu #matMenu="matMenu" class="cust-menu cust-menu--horizontal cust-menu--memo" overlapTrigger xPosition="before">
  <!-- <span mat-menu-item class="menu-item" [matTooltip]="'Editer'" *ngIf="isShow" (click)="showDoc()">
    <div class="icon icon--small">
      <img src="./assets/app/images/Icons/eye.svg" alt="Visualiser icon">
    </div>
  </span> -->

  <span mat-menu-item class="menu-item" [matTooltip]="'Editer'" (click)="onEdit()">
    <div class="icon icon--small">
      <img src="./assets/app/images/Icons/edit.svg" alt="Edit icon">
    </div>
  </span>

  <span mat-menu-item class="menu-item" [matTooltip]="'Supprimer'" (click)="onDelete()">
    <div class="icon icon--opaque">
      <img src="./assets/app/images/Icons/trash-2.svg" alt="Delete icon">
    </div>
  </span>
</mat-menu>
<!-- #endregion -->