<!-- Table des articles -->

<div class="cust-card">
	<div class="cust-card__head">
		<div class="left">
			<div class="title">
				Articles
			</div>
		</div>
		<div class="right">
			<div *ngIf="!readOnly" class="row">

				<div class="cust-input-group input-cursor">
					<div class="cust-input cust-input--select">
						<label class="cust-input__wrapper">
							<div class="cust-input__input" mat-button [matMenuTriggerFor]="menuArticle">
								{{ 'labels.ajouteAricle' | translate }}
							</div>
						</label>
						<mat-menu #menuArticle="matMenu">
							<button mat-menu-item
								(click)="lastUpdatedProduit = null;idLotUsedForAddProduit = null;addProduit()">{{ 'labels.saisirNouveauArticle' | translate  }}</button>
							<button mat-menu-item (click)="LoadListProduit() ; idLotUsedForAddProduit = null ">
								{{ 'labels.selectArticleExistant' | translate  }}</button>
						</mat-menu>
					</div>
				</div>

				<div class="cust-input-group input-cursor" *ngIf="!isIntervention">
					<div class="cust-input cust-input--select">
						<label class="cust-input__wrapper">
							<div class="cust-input__input" mat-button [matMenuTriggerFor]="menuLot">
								{{ 'labels.ajouteLot' | translate}}
							</div>
						</label>
						<mat-menu #menuLot="matMenu">
							<button mat-menu-item data-toggle="modal"
								data-target="#addLot">{{ 'labels.saisirNouveauLot' | translate  }}</button>
							<button mat-menu-item (click)="LoadListLots() ; idLotUsedForAddProduit = null;">
								{{ 'labels.selectLotExistant' | translate  }}</button>
						</mat-menu>
					</div>
				</div>

				<div class="cust-input-group input-cursor" *ngIf="!isIntervention">
					<div class="cust-input">
						<label class="cust-input__wrapper">
							<div class="cust-input__input" (click)="AddLigne()">
								{{ 'labels.ajouteLigne' | translate }}
							</div>
						</label>
					</div>
				</div>
			</div>
			<div *ngIf="readOnly && !isIntervention" class="row">
				<div class="col">
					<div class="info-bundle">
						<span class="value value--positive">
							{{ calcTotalGeneralTtc() | RoudingNumber | ShowCurrency }}</span>
						<span class="label" style="text-align: right;">Total TTC</span>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="row" *ngIf="!readOnly && showPrices">
		<div class="col">
		</div>
		<div class="col">
		</div>
		<div class="col d-flex justify-content-end mb-2">
			<div class="cust-input-group pr-1">
				<div class="cust-label"> </div>
				<div class="cust-input">
					<label class="cust-input__wrapper">
						<input *ngIf="!readOnly && showPrices" type="number" class="cust-input__input" min="0"
							[(ngModel)]="tvaGlobal" id="tvaGlobal-tableArticle-btn" appInputRemoveDefaultZero
							[ngModelOptions]="{standalone: true}" placeholder="{{ 'labels.Tvaglobal' | translate }}"
							[disabled]="readOnly">
					</label>
				</div>
			</div>
			<button type="button" data-backdrop="false"
				class="btn btn-danger resetsizecancel square w-auto mr-1  btn-cancel"
				id="annulerTVAGlobal-tableArticle-btn" *ngIf="tvaGlobal !== null" (click)="annulerTVAGlobal()"
				ngbTooltip=" {{'labels.cancel' | translate}} {{'labels.Tvaglobal' |translate}}"><i class="ft-x"></i>
			</button>
		</div>
	</div>

	<div class="prest-table-wrapper" (mouseleave)="onLeave()">
		<table class="prest-table" cdkOverlayOrigin #trigger="cdkOverlayOrigin">
			<thead>
				<tr>
					<th *ngIf="!readOnly"></th>
					<th *ngFor="let column of columns;let i= index" [id]="'th-' + column.name" [ngClass]="{
							'cell-right': ['quantity', 'tva', 'totalHours', 'totalHt', 'totalTTC', 'materialCost'].includes(column.name),
							'cell-no-padding': !readOnly && column.name === '	 name'
						}">
						<div>
							<span>{{ column.nameTranslate | translate }}</span>
						</div>
					</th>
					<th *ngIf="!readOnly" id="th-actions">

						<div class="cust-input-group input-cursor" *ngIf="!isIntervention">
							<button mat-icon-button [matMenuTriggerFor]="menu">
								<mat-icon>more_vert</mat-icon>
							</button>
							<mat-menu #menu="matMenu">
								<button mat-menu-item (click)="addRemiseGlobal()"> Insérer une remise globale
								</button>
								<button mat-menu-item (click)="addProrata()"> Insérer une part protata </button>
								<button mat-menu-item (click)="addParticipationPuc()"> Insérer une participation
									PUC</button>
								<button mat-menu-item (click)="addRetenuGaranti()"> Insérer une retenue de garantie
								</button>
							</mat-menu>
						</div>


					</th>
				</tr>
			</thead>
			<tbody id="parent" cdkDropList [cdkDropListData]="articles" [cdkDropListDisabled]="readOnly"
				[cdkDropListConnectedTo]="getConnectedIds('parent')" (cdkDropListDropped)="drop($event)"
				(cdkDragStarted)="onDragStarted()" (cdkDragEnded)="onDragEnded()">
				<!-- {{ getConnectedIds('parent') }} -->
				<ng-container *ngFor="let prestation of articles;let i= index">

					<ng-container *ngIf="prestation.type ==  articleType.ligne">

						<tr cdkDrag [attr.data-type]="'ligne'" (mouseenter)="onHover($event, prestation)">
							<td *ngIf="!readOnly">
								<div>
									<img src="./assets/app/images/Icons/menuGr.svg" alt="Edit icon" />
								</div>
							</td>
							<td [attr.colSpan]="9" class="cell-auto" [ngClass]="{ 'cell-no-padding': !readOnly }">
								<span>{{prestation?.product?.designation}} - {{prestation?.product?.description}}</span>
							</td>

							<td *ngIf="!readOnly" class="actions">
								<div (click)="removeArticle(i,null)">
									<img src="./assets/app/imgs/small-delete.png">
								</div>
							</td>
						</tr>

					</ng-container>

					<ng-container *ngIf="prestation.type ==  articleType.lot">
						<tr cdkDrag [attr.data-type]="'lot'" (mouseenter)="onHover($event, prestation)">
							<td *ngIf="!readOnly">
								<div>
									<img src="./assets/app/images/Icons/menuGr.svg" alt="Edit icon" />
								</div>
							</td>
							<td [attr.colSpan]="ShowRemise ? 8 : 7" class="cell-auto"
								[ngClass]="{ 'cell-no-padding': !readOnly }">
								<span *ngIf="readOnly"> {{ prestation?.product?.name }} </span>
								<input *ngIf="!readOnly" class="input--small" type="text" (input)="updateLot(i,$event)"
									[value]="prestation?.product?.name">
							</td>
							<td *ngIf="displaysGeneralCalculation" class="cell-right cell-black">
								<span>
									{{CalculTotalHTLOT(prestation?.product?.products) | RoudingNumber | ShowCurrency}}
								</span>
							</td>
							<td *ngIf="displaysGeneralCalculation" class="cell-right cell-green">
								<span>
									{{ CalculTotalTtcLOT(prestation?.product?.products) | RoudingNumber | ShowCurrency }}
								</span>
							</td>
							<td *ngIf="!readOnly" class="actions">
								<div title="Saisir un nouvel article"
									(click)="idLotUsedForAddProduit = prestation?.product?.id ; lastUpdatedProduit = null ; addProduit()">
									<img title="Saisir un nouvel article" src="./assets/app/imgs/add.png">
								</div>
								<div title="Sélectionner un article existant"
									(click)="idLotUsedForAddProduit = prestation?.product?.id;LoadListProduit()">
									<img title="Sélectionner un article existant"
										src="./assets/app/imgs/small-menu.png">
								</div>
								<div title="Supprimer lot" (click)="removeArticle(i,null)">
									<img title="Supprimer lot" src="./assets/app/imgs/small-delete.png">
								</div>
							</td>
						</tr>

						<tr class="nested-table">
							<!-- <ng-container *ngIf="ShowRemise"> -->
							<td [attr.colSpan]="getColspan()">
								<!-- </ng-container>
							<ng-container *ngIf="!ShowRemise">
								<td [attr.colSpan]="readOnly ? 9 : 11">
							</ng-container> -->

								<table>
									<tbody cdkDropList [id]="prestation.idPres" [cdkDropListDisabled]="readOnly"
										[cdkDropListData]="prestation.product.products"
										[cdkDropListConnectedTo]="getConnectedIds(prestation.idPres)"
										(cdkDropListDropped)="drop($event)" (cdkDragStarted)="onDragStarted()"
										(cdkDragEnded)="onDragEnded()">
										<ng-container
											*ngFor="let produit of prestation?.product?.products;let ii= index">
											<tr cdkDrag [attr.data-type]="produit.type"
												(mouseenter)="onHover($event, produit)">
												<div *cdkDragPlaceholder class="prestation-placeholder">
												</div>

												<td *ngIf="!readOnly">
													<img src="./assets/app/images/Icons/menuGr.svg" alt="Edit icon" />
												</td>
												<td class="cell-auto nested-cell"
													[ngClass]="{ 'cell-no-padding': !readOnly }" data-header="th-name"
													style="position: relative;">
													<div class="dot-wrapper">
														<span class="dot"></span>

														<span> {{produit?.product?.designation}} </span>
													</div>
												</td>
												<td class="cell-right nested-cell" data-header="th-quantity">
													<div *ngIf="readOnly">
														<span> {{ produit?.quantity }}
														</span>
													</div>
													<input *ngIf="!readOnly" class="input--small" type="number"
														(input)="setQuantiteArticle(produit, $event)"
														[value]="produit.quantity">
												</td>
												<td class="nested-cell" data-header="th-unite">
													<span> {{ produit?.product?.unite}} </span>
												</td>
												<td class="cell-right nested-cell" data-header="th-tva">
													<div *ngIf="readOnly">
														<span> {{produit?.product?.vat}} %
														</span>
													</div>
													<input *ngIf="!readOnly" class="input--small" type="number"
														(input)="setTvaArticle(i, ii, $event)"
														[value]="produit.product.vat">
													<ng-container *ngIf="!readOnly">
														<span>
															/ {{ produit?.product?.hourlyCost }}
														</span>
													</ng-container>
												</td>
												<td class="cell-right nested-cell" data-header="th-totalHours">
													<div *ngIf="readOnly">
														<span> {{ produit?.product?.totalHours }} /
															{{ produit?.product?.hourlyCost }}
														</span>
													</div>
													<input *ngIf="!readOnly" class="input--small" type="number"
														(input)="settotalHoursArticle(i, ii, $event)"
														[value]="produit.product.totalHours">
												</td>
												<td class="nested-cell" data-header="th-category">
													<span> {{produit?.product?.category?.label}}
													</span>
												</td>
												<td class="cell-right nested-cell" data-header="th-materialCost">
													<div *ngIf="readOnly">
														<span> {{ produit?.product?.materialCost }} </span>
													</div>
													<input *ngIf="!readOnly" class="input--small" type="number"
														[(ngModel)]="produit?.product.materialCost">
												</td>
												<td class="cell-right" *ngIf="showPrices && ShowRemise">
													<div>
														<span> {{ produit?.product?.discount?.value }}
														</span>
													</div>
												</td>
												<td class="cell-right cell-black nested-cell" data-header="th-totalHt">
													<div>
														<span>
															{{ TotalHt(produit?.product, produit?.quantity)  | RoudingNumber | ShowCurrency}}
														</span>
													</div>
												</td>
												<td class="cell-right cell-green nested-cell" data-header="th-totalTTC">
													<div>
														<span>
															{{ prixTtc(produit?.product, produit?.quantity, produit?.product?.vat) | RoudingNumber | ShowCurrency}}
														</span>
													</div>
												</td>
												<td *ngIf="!readOnly" class=" nested-cell" data-header="th-actions">
													<div class="actions">

														<div
															(click)="lastUpdatedProduit = ii;idLotUsedForAddProduit = prestation?.product?.id;addProduit(createProduitFormLot(produit?.product,produit?.quantity)) ">
															<img src="./assets/app/imgs/small-edit.png">
														</div>
														<!-- <div
															(click)="reloadPrixParFournisseur();">
															<img src="./assets/app/imgs/small-menu.png">
														</div> -->

														<div (click)="removeArticle(i,ii)">
															<img src="./assets/app/imgs/small-delete.png">
														</div>
													</div>
												</td>
											</tr>
											<!-- <tr cdkDrag>
												<td [attr.colSpan]="readOnly ? 9 : 11">DRAGGING</td>
											</tr> -->
										</ng-container>
									</tbody>
								</table>
							</td>
						</tr>
					</ng-container>

					<ng-container *ngIf="prestation.type ==  articleType.produit">
						<tr cdkDrag [attr.data-type]="prestation.type" (mouseenter)="onHover($event, prestation)">
							<td *ngIf="!readOnly">
								<img src="./assets/app/images/Icons/menuGr.svg" alt="Edit icon" />
							</td>
							<td class="cell-auto" [ngClass]="{ 'cell-no-padding': !readOnly }">
								<span>
									<!-- <ng-container *ngIf="prestation?.product?.reference!=null">
										{{prestation?.product?.reference}} -

									</ng-container> -->
									{{prestation?.product?.designation}}
								</span>
							</td>
							<td class="cell-right">
								<div *ngIf="readOnly">
									<span> {{ prestation?.quantity }}
									</span>
								</div>
								<input *ngIf="!readOnly" class="input--small" type="number"
									(input)="setQuantiteArticle(prestation,$event)" [value]="prestation.quantity">
							</td>
							<td *ngIf="showPrices">
								<span> {{ prestation.product.unite}} </span>
							</td>
							<td class="cell-right" *ngIf="showPrices">
								<div *ngIf="readOnly">
									<span *ngIf="tvaGlobal == null || tvaGlobal == -1"> {{prestation?.product.vat}} %
									</span>
									<span *ngIf="tvaGlobal > -1 && tvaGlobal != null "> {{ tvaGlobal }}
									</span>
								</div>
								<input *ngIf="!readOnly && (tvaGlobal == null || tvaGlobal == -1) " class="input--small"
									type="number" (input)="setTvaArticle(i,$event)" [value]="prestation.product.vat">
								<input *ngIf="!readOnly && tvaGlobal != null && tvaGlobal >-1" class="input--small"
									type="number" (input)="setTvaArticle(i,$event)" value="{{ tvaGlobal }}">
							</td>
							<td class="cell-right" *ngIf="showPrices">
								<div *ngIf="readOnly">
									<span> {{ prestation?.product.totalHours }} / {{ prestation?.product?.hourlyCost }}
									</span>
								</div>
								<input *ngIf="!readOnly" class="input--small" type="number"
									(input)="settotalHoursArticle(i,$event)" [value]="prestation.product.totalHours">
								<ng-container *ngIf="!readOnly">
									<span>
										/ {{ prestation?.product?.hourlyCost }}
									</span>
								</ng-container>
							</td>
							<td *ngIf="showPrices">
								<span> {{prestation?.product?.category?.label}} </span>
							</td>
							<td class="cell-right" *ngIf="showPrices">
								<div *ngIf="readOnly">
									<span> {{ prestation?.product?.materialCost }} </span>
								</div>
								<input *ngIf="!readOnly" class="input--small" type="number"
									[(ngModel)]="prestation?.product.materialCost">
							</td>
							<td class="cell-right" *ngIf="showPrices && ShowRemise">
								<div>
									<span> {{ prestation?.product?.discount?.value }}
									</span>
								</div>
							</td>
							<td class="cell-right cell-black" *ngIf="showPrices">
								<div>
									<span>
										{{ TotalHt(prestation?.product,prestation?.quantity)   | RoudingNumber | ShowCurrency }}
									</span>
								</div>
							</td>
							<td class="cell-right cell-green" *ngIf="showPrices">
								<div>
									<span>
										{{ prixTtc(prestation?.product, prestation?.quantity, prestation?.product?.vat) | RoudingNumber | ShowCurrency}}
									</span>
								</div>
							</td>
							<td *ngIf="!readOnly">
								<div class="actions">
									<div
										(click)="lastUpdatedProduit = i;idLotUsedForAddProduit = null;addProduit(createProduitForm(prestation)) ">
										<img src="./assets/app/imgs/small-edit.png">
									</div>

									<div (click)="removeArticle(i,null)">
										<img src="./assets/app/imgs/small-delete.png">
									</div>
								</div>
							</td>
						</tr>
					</ng-container>

				</ng-container>
			</tbody>
		</table>
	</div>

	<!-- table Calcul Total -->
	<div *ngIf="displaysGeneralCalculation" class="calcul-table-wrapper">
		<div class="col-lg-8 col-md-12 col-sm-12 offset-lg-4">
			<table class="calcul-table">
				<ng-container *ngIf="!factureCloture && !isCloture">

					<tr>
						<td>
							<span>
								Total general HT
								<!-- <i class="ft-info"
								placement="bottom"
								ngbTooltip="Prorata {{prorata}}% inclus"></i> -->
							</span>
						</td>
						<td>
							<span>
								{{ clalcTotalGeneral() | RoudingNumber | ShowCurrency}}
							</span>
						</td>
					</tr>

					<tr *ngIf="showAdditionalInfos && remiseGlobaleVisible">
						<td>
							{{ 'labels.remiseGlobalHT' | translate }}
						</td>
						<td>
							<div class="flex-div">
								<input type="number" min="0" [disabled]="readOnly" [ngModelOptions]="{standalone: true}"
									[(ngModel)]="remiseGloabl" *ngIf="!readOnly">

								<mat-select *ngIf="!readOnly" class="remise-type-select"
									id="selettypeRemiseGloabl-tableArticle-btn" [(ngModel)]="typeRemiseGloabl"
									[ngModelOptions]="{standalone: true}" [disabled]="readOnly"
									(change)="clalcNouveauTotalGeneral()">
									<mat-option [value]="2">€</mat-option>
									<mat-option [value]="1">%</mat-option>
								</mat-select>

								<span *ngIf="readOnly">
									{{ remiseGloabl }}
									<span *ngIf="typeRemiseGloabl === 2"> € </span>
									<span *ngIf="typeRemiseGloabl === 1"> % </span>
								</span>
							</div>
						</td>
					</tr>

					<tr *ngIf="remiseGloabl != 0 && showAdditionalInfos">
						<td>
							<span>
								Nouveau total géneral HT (prorata {{prorata}}% inclus ):
							</span>
						</td>
						<td>
							<span>
								{{ clalcNouveauTotalGeneral() | RoudingNumber | ShowCurrency}}
							</span>
						</td>
					</tr>

					<tr *ngIf="showAdditionalInfos">
						<td>
							Montant H.T :
							<!-- <i class="ft-info"
							placement="bottom"
							ngbTooltip="Total général HT - prorata inclus"></i> -->
						</td>

						<td>
							<span>{{ clalcMontantHt() | RoudingNumber | ShowCurrency}}</span>
						</td>
					</tr>

					<tr *ngIf="showAdditionalInfos && proarataVisible">
						<td>
							<span>
								Part prorata <span *ngIf="readOnly">{{prorata}}</span> :
							</span>
						</td>
						<td>
							<div class="flex-div">
								<input type="number" min="0" class="form-control text-right input-calc"
									id="prorata-tableArticle-btn" [(ngModel)]="prorata" appInputRemoveDefaultZero
									*ngIf="!readOnly" />
								<span>{{ clalcPartProrata() | RoudingNumber | ShowCurrency}}</span>
							</div>
						</td>
					</tr>

					<tr *ngFor="let T of groupTVA()">
						<td>
							<span>
								TVA {{ T.tva | RoudingNumber }} % :
							</span>
						</td>
						<td><span>
								{{ T.totalTVA | RoudingNumber }}
							</span></td>
					</tr>

					<tr *ngIf="showAdditionalInfos && pucVisible">
						<td>
							<span>
								Participation PUC <span *ngIf="readOnly">{{puc}} %</span>
								<!-- <i class="ft-info"
								placement="bottom"
								ngbTooltip="{{ puc }} % calculé sur H.T  ( Prorata non compris ) ( H.T - {{prorata}}%  * {{ puc/100 }} )"></i> -->
							</span>
						</td>
						<td>
							<div class="flex-div">
								<input type="number" min="0" class="form-control text-right input-calc"
									id="puc-tableArticle-btn" [(ngModel)]="puc" *ngIf="!readOnly"
									appInputRemoveDefaultZero />
								<span>
									{{ calcParticipationPuc() | RoudingNumber | ShowCurrency }}
								</span>
							</div>
						</td>
					</tr>

					<tr *ngIf="showAdditionalInfos && garantiVisible">
						<td>
							<span>Retenue de garantie</span>
						</td>
						<td>
							<div class="flex-div">
								<div class="mr-2">
									<div class="row">
										<div class="flex-div">
											<input type="number" class="form-control text-right mr-1"
												appInputRemoveDefaultZero id="retenueGarantieValue-tableArticle-btn"
												[(ngModel)]="retenueGarantieValue" placeholder="retenueGarantie"
												[disabled]="readOnly" *ngIf="garantiVisible" max="100" min="0">
											<div class="input-group-prepend" *ngIf="garantiVisible">
												<div class="input-group-text">%</div>
											</div>
										</div>
										<div class="flex-div">
											<div class="mr-1">
												Délais de garantie (Mois)
											</div>
											<input type="number" class="form-control text-right"
												id="delaiGarantie-tableArticle-btn" appInputRemoveDefaultZero
												[(ngModel)]="delaiGarantie" placeholder="delai Garantie"
												[disabled]="readOnly" max="100" min="0">
										</div>
									</div>

								</div>

								<!-- <ng-container *ngIf="!readOnly">
								<div class="custom-control custom-checkbox mr-1">
									<input type="checkbox" [(ngModel)]="retenueGarantie" id="retenueGarantie-tableArticle-btn"
										class="custom-control-input">
									<label *ngIf="garantiVisible" class="custom-control-label"
										for="retenueGarantie-tableArticle-btn">Oui</label>
									<label *ngIf="!garantiVisible" class="custom-control-label"
										for="retenueGarantie-tableArticle-btn">Non</label>
								</div>
							</ng-container> -->

								<div *ngIf="garantiVisible">
									{{ clalcMontantHt() * (retenueGarantieValue/100) | RoudingNumber | ShowCurrency }}
								</div>

								<ng-container *ngIf="readOnly">
									<div *ngIf="!garantiVisible">
										Non
									</div>
								</ng-container>
							</div>
						</td>
					</tr>

					<tr *ngIf="!factureCloture && !isCloture">
						<td>
							<span>Total géneral TTC</span>
						</td>

						<td>
							<span>
								{{ calcTotalGeneralTtc() | RoudingNumber | ShowCurrency }}
							</span>
						</td>
					</tr>
				</ng-container>

				<br>

				<ng-container *ngIf="factureCloture || isCloture">
					<tr>
						<td>
							<span>
								Total HT Devis initiale -
							</span> <strong> {{referenceDevis}}</strong>:
						</td>
						<td>
							<span>
								{{ devisInitiale?.orderDetails?.totalHT | RoudingNumber | ShowCurrency}}
							</span>
						</td>
					</tr>
					<tr *ngFor="let T of groupTVA()">
						<td>
							<span>
								TVA {{ T.tva | RoudingNumber }} % :
							</span>
						</td>
						<td><span>
								{{ T.totalTVA | RoudingNumber }}
							</span></td>
					</tr>

					<tr>
						<td>
							<span> TOTAL TTC Devis initiale -</span>
							<strong> {{referenceDevis}}</strong>:
						</td>

						<td>
							<span>
								{{ devisInitiale?.orderDetails?.totalTTC | RoudingNumber | ShowCurrency}}
							</span>
						</td>
					</tr>
					<tr>
						<td>
							<span> TOTAL TTC Facture Acompte/situation :</span>
							<!-- <strong></strong>: -->
						</td>

						<td>
							<span>
								- {{ totalTtcAcompteSituation | RoudingNumber | ShowCurrency }}
							</span>
						</td>
					</tr>
					<!-- <ng-container *ngFor="let facture of listFactureAcompte;let i= index">

						<tr>
							<td>

								TOTAL TTC Facture Acompte -
								<strong>
									{{facture.reference}}
								</strong>
								:


							</td>

							<td>
								<span>
									- {{ facture?.totalTTC | RoudingNumber | ShowCurrency }}
								</span>
							</td>
						</tr>
					</ng-container> -->
					<!-- <ng-container *ngFor="let facture of listFactureSituation;let i= index">

						<tr>
							<td>
								<span>TOTAL TTC Facture Situation -</span>
								<strong> {{facture.reference}}</strong>:

							</td>

							<td>
								<span>
									- {{ facture?.totalTTC | RoudingNumber | ShowCurrency }}
								</span>
							</td>
						</tr>
					</ng-container> -->
					<tr>
						<td>
							<span>Total Ht facture :</span>
						</td>

						<td>
							<span>
								{{ restHtDevis | RoudingNumber | ShowCurrency }}
							</span>
						</td>
					</tr>
					<tr>
						<td>
							<span>Reste à payer :</span>
						</td>

						<td>
							<span>
								{{ calcTotalGeneralTtc() | RoudingNumber | ShowCurrency }}
							</span>
						</td>
					</tr>
				</ng-container>
			</table>
		</div>
	</div>
	<br>
	<br>
	<br>
</div>


<!-- <form-produit [reload]="emitter" (OnSave)="insertNewProduit($event)" [isIntervention]=isIntervention>
</form-produit> -->

<!-- Liste des Lots -->
<div class="modal fade text-left" id="addLot" tabindex="-1" role="dialog" aria-labelledby="myModalLabel9"
	aria-hidden="true">
	<div class="modal-dialog modal-sm" role="document">
		<div class="modal-content">
			<div class="modal-header">

				<h4 class="modal-title" id="myModalLabel9">

					<i class="fa fa-list"></i> {{ 'labels.newLots' | translate }}

				</h4>

				<button type="button" class="close" data-dismiss="modal" aria-label="Close" id="close-tableArticle-btn">
					<span aria-hidden="true">&times;</span>
				</button>

			</div>
			<div class="modal-body">
				<div class="card-body">
					<div class="col-md-12">
						<div class="form-group row">
							<label class="col-md-4 label-control" for="prixTTC">{{ 'labels.nom' | translate }}</label>
							<div class="col-md-8">
								<input type="text" id="addLot" class="form-control currency-input"
									id="newLots-tableArticle-btn" placeholder="{{ 'labels.nom' | translate }}"
									[(ngModel)]="newLots" [disabled]="readOnly">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn grey btn-light" data-dismiss="modal" id="cancel-tableArticle-btn"
					ngbTooltip="{{ 'labels.cancel'| translate }}">{{ 'labels.cancel' |translate }}
				</button>
				<button type="button" class="btn btn-success btn-lg" (click)="addNewLots();newLots=''"
					id="sauvegarder-tableArticle-btn" ngbTooltip="{{ 'labels.sauvegarder'| translate }}"
					[disabled]="newLots.length < 0">{{ 'labels.sauvegarder' | translate }}</button>
			</div>
		</div>
	</div>
</div>

<ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="trigger" [cdkConnectedOverlayOpen]="detailShown">
	<div id="prest-detail" class="prest-detail">
		<div class="row">
			<div *ngIf="detailObj['category']" class="col">
				<div class="info-bundle">
					<span class="value value--neutral">{{ detailObj['category'].label }}</span>
					<span class="label">Catégorie</span>
				</div>
			</div>
			<div class="col">
				<div class="info-bundle">
					<span class="value value--neutral">{{ detailObj['hours'] }}:00</span>
					<span class="label">Nombres d'heures</span>
				</div>
			</div>
			<div class="col">
				<div class="info-bundle">
					<span class="value value--neutral">{{ detailObj['totalHT'] }} €</span>
					<span class="label">Cout horaire</span>
				</div>
			</div>
			<div class="col">
				<div class="info-bundle">
					<span class="value value--neutral">{{ detailObj['materialCost'] }} €</span>
					<span class="label">Cout matériel</span>
				</div>
			</div>
			<div class="col">
				<div class="info-bundle">
					<span class="value value--neutral">{{ detailObj['tva'] }} %</span>
					<span class="label">TVA</span>
				</div>
			</div>
		</div>
		<div *ngIf="detailObj['description']" class="row mt-2">
			<div class="col">
				<div class="info-bundle">
					<span class="value value--neutral value--small">{{ detailObj['description'] }}</span>
					<span class="label">{{ 'labels.description' | translate }}</span>
				</div>
			</div>
		</div>
	</div>
</ng-template>