<br>
<div class="root">
  <div class="row">
    <div class="col">
      <div class="details">
        <div class="cust-card cust-card--padding">


          <div class="cust-card__body">

            <div class="row">

              <div class="col">
                <div class="cust-input-group">
                  <div class="cust-label">{{ 'labels.compteCredit'  | translate  }} :</div>
                  <div class="cust-labelGros"> {{ paiement?.account?.label}} </div>
                </div>
              </div>

              <div class="col">
                <div class="cust-input-group">
                  <div class="cust-label">{{ 'labels.date'  | translate  }} :</div>
                  <div class="cust-labelGros"> {{ paiement?.datePayment | date:'dd/MM/yyyy' }} </div>
                </div>
              </div>


              <div class="col">
                <div class="cust-input-group">
                  <div class="cust-label">{{ 'labels.moyenPaiement'  | translate  }} :</div>
                  <div class="cust-labelGros"> {{ paiement?.paymentMethod?.value }} </div>
                </div>
              </div>


            </div>


            <div class="row">

              <div class="col">
                <div class="cust-input-group">
                  <div class="cust-label">{{ 'labels.montant' | translate }} :</div>
                  <div class="cust-labelGros">
                    {{ paiement?.amount | RoudingNumber | ShowCurrency }} </div>
                </div>
              </div>

              <div class="col">
                <div class="cust-input-group">
                  <div class="cust-label">{{ 'labels.type'  | translate  }} :</div>
                  <div class="cust-labelGros"> {{ getOperation(paiement?.operation) }} </div>
                </div>
              </div>
              <div class="col">
                <div class="cust-input-group">
                  <div class="cust-label">{{ 'labels.description' | translate }} :</div>
                  <div class="cust-input cust-input--textarea">
                    <label class="cust-input__wrapper">
                      <textarea matInput class="cust-input__input" readonly [value]="paiement?.description"></textarea>
                    </label>
                  </div>
                </div>
              </div>

            </div>



          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>

<br>


<br>
<div class="root" *ngIf="paiement?.associatedDocuments?.length !== 0">
  <div class="row">
    <div class="col">
      <div class="details">
        <div class="cust-card cust-card--padding">

          <div class="cust-card__head">

            <div class="left">
              <div class="title">
                {{'labels.documentAssocie' | translate}}
              </div>
            </div>

          </div>

          <div class="cust-card__body">

            <ng-container *ngIf="paiement?.associatedDocuments?.length > 0">

              <div class="table-responsive">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>{{ 'labels.type' | translate }}</th>
                      <th>{{ 'labels.reference' | translate }}</th>
                      <th>{{ 'labels.dateCreation' | translate }}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of paiement?.associatedDocuments">
                      <td *ngIf="item?.documentType == typeDocument.Invoice"> {{ 'labels.facture' | translate }} </td>
                      <td *ngIf="item?.documentType == typeDocument.CreditNote"> {{ 'labels.avoir' | translate }} </td>
                      <td *ngIf="item?.documentType == typeDocument.Expenses"> {{ 'labels.depense' | translate }} </td>
                      <td><a
                          [routerLink]="[ '/'+routerLink(item?.documentType)+ '/detail', item?.id ]">{{ item?.reference }}</a>
                      </td>
                      <td> {{ item?.creationDate | date:'dd/MM/yyyy' }} </td>
                    </tr>

                  </tbody>
                </table>
              </div>
            </ng-container>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br>

<custom-loader [displayLoader]="processing"></custom-loader>