// ================================================================================================
// 	File Name: app.scss
// 	Description: Mail application scss file.
// 	----------------------------------------------------------------------------------------------
// 	Item Name: Stack - Responsive Admin Theme
// 	Version: 2.1
// 	Author: PIXINVENT
// 	Author URL: http://www.themeforest.net/user/pixinvent
// ================================================================================================

@import 'bootstrap-extended';
@import 'font';
@import 'colors';
@import 'components';
@import 'ng-vertical-menu-template';

$annulee: #343a40;
$Facture: #3498db;
$EnAttente: #ffa87d;
$success: #16d39a;
$NonAcceptee: #fa5502;
$Signed: #78a300;
$Late: #ff0000;
$Planifiee: #00d2d3;
$brouillon: #636e72;

.status-Annulee {
    background-color: $annulee !important;
}
.status-EnAttente {
    background-color: $EnAttente !important;
}

.status-success {
    background-color: $success !important;
}

.status-NonAcceptee {
    background-color: $NonAcceptee !important;
}
.status-Facture {
    background-color: $Facture !important;
}
.status-Signed {
    background-color: $Signed !important;
}
.status-Late {
    background-color: $Late !important;
}
.status-finishedContrat {
    background-color: $Late !important;
}
.status-planifiee {
    background-color: $Planifiee !important;
}
.status-brouillon {
    background-color: $brouillon !important;
}

.borV {
    border-left: 15px solid $success;
    td:first-child {
        position: relative;
        &::after {
            content: ' ';
            position: absolute;
            width: 15px;
            height: 2px;
            left: -15px;
            bottom: -1px;
            background-color: white;
        }
    }
}
.borA {
    border-left: 15px solid $EnAttente;
    td:first-child {
        position: relative;
        &::after {
            content: ' ';
            position: absolute;
            width: 15px;
            height: 2px;
            left: -15px;
            bottom: -1px;
            background-color: white;
        }
    }
}
.borF {
    border-left: 15px solid $Facture;
    td:first-child {
        position: relative;
        &::after {
            content: ' ';
            position: absolute;
            width: 15px;
            height: 2px;
            left: -15px;
            bottom: -1px;
            background-color: white;
        }
    }
}

.borS {
    border-left: 15px solid $Signed;
    td:first-child {
        position: relative;
        &::after {
            content: ' ';
            position: absolute;
            width: 15px;
            height: 2px;
            left: -15px;
            bottom: -1px;
            background-color: white;
        }
    }
}

.borNV {
    border-left: 15px solid $NonAcceptee;
    td:first-child {
        position: relative;
        &::after {
            content: ' ';
            position: absolute;
            width: 15px;
            height: 2px;
            left: -15px;
            bottom: -1px;
            background-color: white;
        }
    }
}
.borB {
    border-left: 15px solid $brouillon;
    td:first-child {
        position: relative;
        &::after {
            content: ' ';
            position: absolute;
            width: 15px;
            height: 2px;
            left: -15px;
            bottom: -1px;
            background-color: white;
        }
    }
}
.borEC {
    border-left: 15px solid $Planifiee;
    td:first-child {
        position: relative;
        &::after {
            content: ' ';
            position: absolute;
            width: 15px;
            height: 2px;
            left: -15px;
            bottom: -1px;
            background-color: white;
        }
    }
}
.borAnnuler {
    border-left: 15px solid $annulee;
    td:first-child {
        position: relative;
        &::after {
            content: ' ';
            position: absolute;
            width: 15px;
            height: 2px;
            left: -15px;
            bottom: -1px;
            background-color: white;
        }
    }
}
.borLate {
    border-left: 15px solid $Late;
    td:first-child {
        position: relative;
        &::after {
            content: ' ';
            position: absolute;
            width: 15px;
            height: 2px;
            left: -15px;
            bottom: -1px;
            background-color: white;
        }
    }
}

/** Progress Bar **/

.progress {
    display: flex;
    height: 1rem;
    font-size: 0.75rem;
    // background-color: rgb(179, 226, 211);
    border-radius: 0.25rem;
    width: 85%;
}

.mt-75,
.my-75 {
    margin-top: 0.75rem !important;
}

.mb-75,
.my-75 {
    margin-bottom: 0.75rem !important;
}

.progress-bar-0 {
    background-color: #fd2c2c;
}
.progress-bar-50 {
    background-color: #3498db;
}
.progress-bar-100 {
    background-color: #16d39a;
}
