@font-face {
  font-family: 'qanelas';
  font-weight: bold;
  src: url('assets/app/fonts/Qanelas/Qanelas-Bold.ttf');
}

@font-face {
  font-family: 'qanelas';
  font-weight: 500;
  src: url('assets/app/fonts/Qanelas/Qanelas-Medium.ttf');
}

@font-face {
  font-family: 'qanelas';
  font-weight: 400;
  src: url('assets/app/fonts/Qanelas/Qanelas-Regular.ttf');
}
