<!-- Multi-column ordering table -->
<div class="content-header row">
  <div class="content-header-left col-md-6 col-12 mb-2">
    <h3 class="content-header-title mb-0"> Paramétrage des comptes bancaires</h3>
  </div>

  <div class="content-header-right col-md-6 col-12">

    <div class="btn-group float-md-right" role="group" aria-label="Button group with nested dropdown">
      <button (click)="form.reset()" type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#add"
        placement="bottom" [container]="'body'"
        ngbTooltip="{{ 'labels.nouveau' | translate }} {{ 'labels.compte' | translate }}">{{ 'labels.nouveau' | translate }}
        <i class="ft-plus"></i></button>
    </div>
  </div>

</div>
<section id="multi-column">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-content collapse show">
          <div class="card-body init-card-body card-dashboard">

            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered"
              ng-if="ParametrageCompte" id="categorieTable" style="width:100%">
              <thead>
                <tr>
                  <ng-container *ngFor="let column of parametrageCompteTableColumns;let index = index">
                    <th *ngIf="parametrageCompteTableColumns.length-1 != index"> {{column}}</th>
                  </ng-container>
                  <th class="actions">
                    {{parametrageCompteTableColumns[parametrageCompteTableColumns.length-1]}}
                  </th>
                </tr>
              </thead>
              <tbody *ngIf="ParametrageCompte?.length > 0">
                <tr *ngFor="let compte of ParametrageCompte">
                  <td>{{ compte?.label }}</td>
                  <td>{{ compte?.code }} </td>
                  <td>
                    <ng-container *ngIf="compte?.type == TypeCompte?.bancaire">Banque
                    </ng-container>
                    <ng-container *ngIf="compte?.type == TypeCompte?.caisse">Caisse</ng-container>

                  </td>


                  <td class="actions">
                    <div class="btn-group" role="group" aria-label="Basic example"
                      *ngIf="compte?.type != TypeCompte?.caisse">
                      <button type="button" class="btn btn-success btn-md btn-actions" data-toggle="modal"
                        data-target="#update" (click)="updateParametrageCompte(compte)" placement="bottom"
                        [container]="'body'" ngbTooltip="{{ 'labels.modifier' | translate }}"><i
                          class="ft-edit"></i></button>
                      <button type="button" class="btn btn-danger btn-md btn-actions" (click)="delete(compte?.id)"
                        placement="bottom" [container]="'body'" ngbTooltip="{{ 'labels.supprimer' | translate }}"><i
                          class="ft-trash-2"></i></button>
                    </div>
                  </td>
                </tr>
              </tbody>
              <tbody *ngIf="ParametrageCompte?.length == 0">
                <tr>
                  <td colspan="5" class="no-data-available">{{'noDataAvaible' | translate}}</td>
                </tr>
              <tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/ Multi-column ordering table -->
</section>

<div class="modal fade text-left" id="add" tabindex="-1" role="dialog" aria-labelledby="myModalLabel9"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-success">

        <h4 class="modal-title">

          <i class="fa fa-plus"></i> Ajouter le compte bancaire

        </h4>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

      </div>
      <div class="modal-body">
        <form class="form form-horizontal" [formGroup]="form" (ngSubmit)="add()">
          <div class="form-body">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group row">
                  <label class="col-md-5 label-control">{{'labels.Nom' |
                          translate}}</label>
                  <div class="col-md-7">
                    <input type="text" formControlName="Nom" class="form-control"
                      placeholder="{{'labels.Nom'|translate}}">
                    <small class="text-danger" *ngIf="f?.Nom?.errors?.required">{{'errors.required'|translate }}</small>
                    <small class="text-danger"
                      *ngIf="f?.Nom?.hasError('checkUniqueNom')">{{'errors.unique' | translate }}</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-body">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group row">
                  <label class="col-md-5 label-control">{{
                          'labels.type' | translate }}</label>
                  <div class="col-md-7">

                    <!-- <select formControlName="type" class="form-control" class="form-control" [value]="1"> -->
                    <!-- <select formControlName="type" class="form-control" class="form-control"  [value]="1">
                      <option value="1">{{'listPC.Type.bancaire' | translate}}</option>
                    </select> -->
                    <input type="text" class="form-control" value="{{ 'listPC.Type.bancaire' | translate}}"
                      [attr.disabled]="true">
                    <br>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </form>
        <div class="form-body">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group row">
                <label class="col-md-5 label-control">{{'labels.code_comptable' |
                          translate}}</label>
                <div class="col-md-7">

                  <input type="text" [(ngModel)]="codeComptable"  class="form-control" />
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn grey btn-light" data-dismiss="modal" placement="bottom" [container]="'body'"
          ngbTooltip="{{'labels.cancel' | translate}}"> {{'labels.cancel' | translate}} </button>
        <button type="button" (click)="add()" class="btn btn-success btn-lg" placement="bottom" [container]="'body'"
          ngbTooltip="{{ 'labels.sauvegarder' | translate }}"> {{ 'labels.sauvegarder' | translate }} </button>
      </div>
    </div>
  </div>
</div>



<div class="modal fade text-left" id="update" tabindex="-1" role="dialog" aria-labelledby="myModalLabel9"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-success white">

        <h4 class="modal-title">

          <i class="fa fa-plus"></i> Modifier des comptes bancaires

        </h4>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

      </div>
      <div class="modal-body">
        <form class="form form-horizontal" [formGroup]="form" (ngSubmit)="update()">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group row">
                <label class="col-md-3 label-control">{{ 'labels.Nom' | translate }}</label>
                <div class="col-md-7">
                  <input type="text" formControlName="Nom" class="form-control"
                    placeholder="{{ 'labels.Nom' | translate }}">
                  <small class="text-danger" *ngIf="f?.Nom?.errors?.required">{{'errors.required'|translate }}</small>
                  <small class="text-danger"
                    *ngIf="f?.Nom?.hasError('checkUniqueNom')">{{'errors.unique' | translate }}</small>

                </div>
              </div>
            </div>
          </div>
          <div class="row">

            <div class="col-md-12">
              <div class="form-group row">
                <label class="col-md-3 label-control">{{
                              'labels.type' | translate }}</label>
                <div class="col-md-7">
                  <!-- 
                    <select formControlName="type" class="form-control" class="form-control" [value]="1">
                      <option value="1">{{'listPC.Type.bancaire' | translate}}</option>
                       <option value="2">{{'listPC.Type.caisse' | translate}}</option> 

                    </select> -->
                  <input type="text" class="form-control" value="{{'listPC.Type.bancaire' | translate}}"
                    [attr.disabled]="true">

                  <br>
                  <small class="text-danger" *ngIf="f?.type?.errors?.required">{{'errors.required'
                                  | translate }}</small>
                </div>
              </div>
            </div>
          </div>
        </form>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group row">
              <label class="col-md-3 label-control">{{ 'labels.code_comptable' | translate }}</label>
              <div class="col-md-7">
                <input type="text" [(ngModel)]="codeComptable" class="form-control" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn grey btn-secondary" data-dismiss="modal" placement="bottom"
          [container]="'body'" ngbTooltip=" {{'labels.cancel' | translate}}"> {{'labels.cancel' | translate}} </button>
        <button type="button" (click)="update()" class="btn btn-success" placement="bottom" [container]="'body'"
          ngbTooltip="{{ 'labels.modifier' | translate }}"> {{ 'labels.modifier' | translate }} </button>
      </div>
    </div>
  </div>
</div>