<form class="tagsForm " *ngIf="readOnly">
  <div class="row">
    <div class="col-10">
      <div class="cust-input-group">
        <div class="cust-label"></div>
        <div class="cust-input">
          <label class="cust-input__wrapper">
            <input class="cust-input__input" id="label" type="text"
              placeholder="Saisir ici un rubrique et puis cliquer sur entrer"
              (keyup)="tagsInputkeyup(inputString.value,$event)" #inputString>
          </label>
        </div>
      </div>

    </div>
    <div class="col-2" *ngIf="inputString.value.length != 0">
      <button type="button" class="btn cust-button cust-button--success float-left"
        (click)="addNewTagsFromInputClick();" id="add-label">
        Ajouter
      </button>
    </div>

  </div>
</form>
<small style="color: #FF7588 !important;" *ngIf="showTagsValidation">
  <i class="ft-alert-triangle"></i>
  Cette valeur est déja ajouté !
</small>

<div class="row">
  <div class="col-12">
    <div class="tags-list" *ngIf="readOnly">
      <button type="button" *ngFor="let tag of newTags;let i = index" id="removeTags">
        {{ tag }}<i class="ft-x" (click)="removeTag(tag,i)" *ngIf="conditionremoveTag(tag)"></i>
      </button>
    </div>
    <div class="tags-list" *ngIf="!readOnly">
      <button type="button" *ngFor="let tag of newTags;let i = index" id="newTags">
        {{ tag }}
      </button>
    </div>
  </div>
</div>