<h1 mat-dialog-title
    class="modal-title"
    *ngIf="!data.readOnly && data.listes == null  "
    style=" padding-top: 10px  !important;">
    {{ data && data.nom ? data.nom : 'Créer gamme maintenance' }}
</h1>

<h1 mat-dialog-title
    class="modal-title"
    *ngIf="!data.readOnly && data.listes != null "
    style=" padding-top: 10px  !important;">
    {{ 'labels.modifier' | translate }}
    {{'labels.equipement' | translate}} </h1>

<h1 mat-dialog-title
    class="modal-title"
    *ngIf="data.readOnly && data.listes != null  "
    style=" padding-top: 10px  !important;">
    {{ 'labels.details' | translate }} {{'labels.equipement' | translate}}</h1>
<mat-dialog-content>
    data: {{ data |json }}
    <div class="row"
        style="width: 100%;padding: 0px 0px 0px 30px;">
        <div class="col-12">
            <!-- <div > -->
            <!-- <input type="text" class="form-control" [(ngModel)]="data.nom" [disabled]="data?.readOnly" /> -->
            <!-- </div> -->
            <div class="col-md-6 "
                style="padding: 0px 0px 0px 30px;">
                <!-- <div class="form-group row">
                    <label class="col-md-3 label-control"
                        for="nom">{{ 'labels.nom' | translate }}</label>
                    <div class="col-md-9">
                        <input type="text"
                            id="nom-gme-btn"
                            class="form-control"
                            [(ngModel)]="data.nom"
                            [disabled]="data?.readOnly" />
                    </div>
                </div> -->
            </div>
        </div>
        <div class="col-12"
            style="overflow: auto;height: 360px;padding-bottom: 10px;">
            <gamme-maintenance-equipement [libelles]="data?.listes"
                [load]="emitter"
                [readOnly]="data?.readOnly">
            </gamme-maintenance-equipement>
        </div>
    </div>

</mat-dialog-content>

<div class="footer">
    <button mat-raised-button
        mat-dialog-close
        class="btn grey btn-light float-right"
        id="cancel-gme-btn">
        Annuler
    </button>
    <button type="button"
        class="btn btn-success float-right"
        (click)="save()"
        id="save-gme-btn">Enregistrer</button>
</div>
