.display-table {
  background: transparent !important;
  border-radius: 10px;
  box-shadow: 0px 3px 6px #2c28281c;
  overflow: hidden;
  max-height: calc(100vh - 130px);
}

// .display-table__body {
//   overflow-x: hidden;
// }
