<ng-container *ngIf="!readOnly">
    <form class="form form-horizontal" [formGroup]="form">

        <div class="row">
            <div class="col-md-6">
                <div class="form-group row">
                    <div class="col-md-3">
                        <label class="label-control">{{'labels.articles' | translate}}</label>
                    </div>
                    <div class="col-md-9" *ngIf="f?.devisExel.value == null && !readOnly">
                        <label class="label-control" for="add-startUpload-file-btn"
                            class="btn-file-upload">{{'labels.chooseFile' | translate}}</label>
                        <input class="file-input" type="file" (change)="startUpload($event.target.files)"
                            id="add-startUpload-file-btn" name="files" style="visibility:hidden;" /><br />
                        <small class="text-danger"
                            *ngIf="f?.devisExel?.errors?.required">{{'errors.required' | translate }}</small>
                    </div>
                    <div class="col-md-9" *ngIf="f?.devisExel.value != null">
                        <p>{{ fileName }} <i class="ft-download" (click)="downloadFile()" id="add-downloadFile-file-btn"
                                *ngIf="data !== null" ngbTooltip="{{'labels.telecharger' | translate}}"></i>
                            <i class="ft-trash" *ngIf="!readOnly" ngbTooltip="{{'labels.supprimer' | translate}}"
                                id="add-removeFile-file-btn" (click)="removeFile()"></i></p>
                    </div>

                </div>
            </div>
        </div>
        <!-- nomber_heure & cout_vente -->
        <div class="row">
            <div class="col-md-6">
                <div class="form-group row">
                    <label class="col-md-3 label-control"
                        for="nombre_heure">{{'labels.nombre_heure' | translate}}</label>
                    <div class="col-md-9">
                        <input type="number" formControlName="nomber_heure" id="add-nombre_heure-article-btn"
                            class="form-control currency-input" min="0" />
                        <small class="text-danger"
                            *ngIf="f?.nomber_heure?.errors?.required">{{'errors.required' | translate }}</small>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group row">
                    <label class="col-md-3 label-control" for="cout_horaire">
                        {{'labels.cout_horaire' | translate}}
                        <i class="ft-info" placement="bottom"
                            ngbTooltip="{{ f?.nomber_heure?.value}} ({{ 'labels.nombre_heure' | translate }}) × {{ f?.cout_vente?.value }} ({{ 'labels.cout_vente' | translate }})"></i>
                    </label>
                    <div class="col-md-9">
                        <input type="number" [value]="f?.nomber_heure?.value * f?.cout_vente?.value" disabled
                            id="add-cout_horaire-article-btn" class="form-control currency-input" min="0" />
                        <small class="text-danger"
                            *ngIf="f?.cout_vente?.errors?.required">{{'errors.required' | translate }}</small>
                    </div>
                </div>
            </div>


        </div>

        <!-- cout_materiel & devisExel-->
        <div class="row">
            <div class="col-md-6">
                <div class="form-group row">
                    <label class="col-md-3 label-control"
                        for="cout_materiel">{{'labels.prix_vente' | translate}}</label>
                    <div class="col-md-9">
                        <input type="number" formControlName="cout_materiel" id="add-cout_materiel-article-btn"
                            class="form-control currency-input" min="0" />
                        <small class="text-danger"
                            *ngIf="f?.cout_materiel?.errors?.required">{{'errors.required' | translate }}</small>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group row">
                    <label class="col-md-3 label-control">{{'labels.achat_materield' | translate}}</label>
                    <div class="col-md-9">
                        <input type="number" formControlName="achat_materiel" id="add-achat_materiel-article-btn"
                            class="form-control currency-input" min="0" />
                        <small class="text-danger"
                            *ngIf="f?.achat_materiel?.errors?.required">{{'errors.required' | translate }}</small>
                    </div>
                </div>
            </div>
        </div>
        <!-- puc & prorata-->
        <div class="row">
            <div class="col-md-6">
                <div class="form-group row">
                    <label class="col-md-3 label-control">{{'labels.puc' | translate}} %</label>
                    <div class="col-md-9">
                        <input type="number" formControlName="puc" id="add-puc-article-btn"
                            class="form-control currency-input" min="0" />
                        <small class="text-danger"
                            *ngIf="f?.puc?.errors?.required">{{'errors.required' | translate }}</small>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group row">
                    <label class="col-md-3 label-control">{{'labels.prorata' | translate}} %</label>
                    <div class="col-md-9">
                        <input type="number" formControlName="prorata" id="add-prorata-article-btn"
                            class="form-control currency-input" min="0" />
                        <small class="text-danger"
                            *ngIf="f?.prorata?.errors?.required">{{'errors.required' | translate }}</small>
                    </div>
                </div>
            </div>
        </div>

        <!-- totalHt & tva-->
        <div class="row">
            <div class="col-md-6 offset-md-6">
                <div class="form-group row">
                    <label class="col-md-3 label-control">{{'labels.totalHt' | translate}} (€) </label>
                    <div class="col-md-9">
                        <input type="text" id="add-TotalHt-article-btn" class="form-control currency-input"
                            placeholder="{{ 'labels.TotalHt' | translate }}"
                            value="{{ TotalHt(f?.nomber_heure?.value , f?.cout_vente?.value,f?.cout_materiel?.value) }} "
                            disabled appInputRemoveDefaultZero>
                    </div>
                </div>
            </div>
            <div class="col-md-6  offset-md-6">
                <div class="form-group row">
                    <label class="col-md-3 label-control">{{'labels.tva' | translate}} %</label>
                    <div class="col-md-9">
                        <input type="number" formControlName="tva" id="add-tva-article-btn"
                            class="form-control currency-input" min="0" />
                        <small class="text-danger"
                            *ngIf="f?.tva?.errors?.required">{{'errors.required' | translate }}</small>
                    </div>
                </div>
            </div>


        </div>
        <!-- totalTtc-->
        <div class="row">

            <div class="col-md-6 offset-md-6">
                <div class="form-group row">
                    <label class="col-md-3 label-control">{{'labels.totalTTC' | translate}} (€)</label>
                    <div class="col-md-9">
                        <input type="text" id="add-TotalTtc-article-btn" class="form-control currency-input"
                            placeholder="{{ 'labels.totalTTC' | translate }}"
                            value="{{ TotalTtc(f?.nomber_heure?.value , f?.cout_vente?.value,f?.cout_materiel?.value,f?.tva?.value) }}"
                            disabled appInputRemoveDefaultZero>
                    </div>
                </div>
            </div>
            <div class="col-md-6 offset-md-6">
                <div class="row" style="min-height: 60px;">
                    <div class="col-3 custom-control custom-checkbox" style="position: relative;
                    top: 10px;">
                        <input class="custom-control-input ng-valid ng-dirty ng-touched" id="retenue" type="checkbox"
                            ng-reflect-model="true" [(ngModel)]="retenueGarantie" [ngModelOptions]="{standalone: true}">
                        <label class="custom-control-label" for="retenue">Retenue de garantie</label>
                    </div>
                    <div class="col-3">
                        <div class="input-group">
                            <input type="number" class="form-control text-right" appInputRemoveDefaultZero
                                [(ngModel)]="retenueGarantieValue" [ngModelOptions]="{standalone: true}"
                                placeholder="retenueGarantie" [disabled]="readOnly" *ngIf="retenueGarantie"
                                max="100" min="0">
                            <div class="input-group-prepend" *ngIf="retenueGarantie">
                                <div class="input-group-text">%</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <div class="row" *ngIf="retenueGarantie">
                                <div class="col-6"> <input type="number" class="form-control text-right"
                                        appInputRemoveDefaultZero [(ngModel)]="delaiGarantie"
                                        [ngModelOptions]="{standalone: true}" placeholder="délai Garantie"
                                        [disabled]="readOnly" max="100" min="0"></div>
                                <div class="col-6" style="margin-left: -10px;margin-top: 12px;    font-weight: normal;">
                                    <span class="display-price" style="font-size: 9px;">Délais de garantie (Mois)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2" *ngIf="retenueGarantie">
                        <input type="text" id="retenue" class="form-control currency-input" value=" {{ TotalHt(f?.nomber_heure?.value , f?.cout_vente?.value,f?.cout_materiel?.value) * (retenueGarantieValue/100) | RoudingNumber | ShowCurrency }}
                                " disabled appInputRemoveDefaultZero>
                    </div>
                </div>
            </div>
        </div>





    </form>
</ng-container>
<ng-container *ngIf="readOnly">
    <form class="form form-horizontal" [formGroup]="form">
        <!-- devisExel -->
        <div class="row">

            <div class="col-md-6">
                <div class="form-group row">
                    <div class="col-md-3">
                        <label class="label-control" for="puc">{{'labels.articles' | translate}}</label>
                    </div>
                    <div class="col-md-9" *ngIf="f?.devisExel.value == null && !readOnly">
                        <label class="label-control" for="devisExel"
                            class="btn-file-upload">{{'labels.chooseFile' | translate}}</label>
                        <input class="file-input" type="file" (change)="startUpload($event.target.files)"
                            id="add-startUpload-article-btn" name="files" style="visibility:hidden;" /><br />
                        <small class="text-danger"
                            *ngIf="f?.devisExel?.errors?.required">{{'errors.required' | translate }}</small>
                    </div>
                    <div class="col-md-9" *ngIf="f?.devisExel.value != null">
                        <p>{{ data?.orderDetails?.productsDetails_File?.fileName }}
                            <i class="ft-download" ngbTooltip="{{'labels.telecharger' | translate}}"
                                id="add-downloadFile-article-btn" (click)="downloadFile()"></i>
                            <i class="ft-trash" ngbTooltip="{{'labels.supprimer' | translate}}" *ngIf="!readOnly"
                                id="add-removeFile-article-btn" (click)="removeFile()"></i>
                        </p>
                    </div>

                </div>
            </div>
        </div>
        <!-- nbr heure & coutVente-->
        <div class="row">
            <div class="col-md-6">
                <div class="form-group row">
                    <label class="col-md-3 label-control"
                        for="nombre_heure">{{'labels.nombre_heure' | translate}}</label>
                    <div class="col-md-9">
                        <input type="number" [value]="data?.orderDetails?.productsPricingDetails.totalHours"
                            class="form-control currency-input" id="show-nombre_heure-article-btn" disabled />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group row">
                    <label class="col-md-3 label-control" for="cout_horaire">
                        {{'labels.cout_horaire' | translate}}
                        <i class="ft-info" placement="bottom"
                            ngbTooltip="{{ data?.orderDetails?.productsPricingDetails.totalHours }} ({{ 'labels.nombre_heure' | translate }}) × {{ data?.orderDetails?.productsPricingDetails.hourlyCost }} ({{ 'labels.cout_vente' | translate }})"></i>
                    </label>
                    <div class="col-md-9">
                        <input type="number"
                            [value]="data?.orderDetails?.productsPricingDetails.totalHours * data?.orderDetails?.productsPricingDetails.hourlyCost"
                            class="form-control currency-input" id="show-cout_horaire-article-btn" disabled />
                    </div>
                </div>
            </div>

        </div>
        <!-- coutMateriel & cout achat Materiel -->
        <div class="row">


            <div class="col-md-6">
                <div class="form-group row">
                    <label class="col-md-3 label-control"
                        for="cout_materiel">{{'labels.prix_vente' | translate}}</label>
                    <div class="col-md-9">
                        <input type="number" [value]="data?.orderDetails?.productsPricingDetails.materialCost"
                            class="form-control currency-input" id="show-prix_vente-article-btn" disabled />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group row">
                    <label class="col-md-3 label-control">{{'labels.achat_materield' | translate}}</label>
                    <div class="col-md-9">
                        <input type="number" [value]="data?.orderDetails?.productsPricingDetails.achatsMateriels"
                            class="form-control currency-input" id="show-achat_materield-article-btn" disabled />
                    </div>
                </div>
            </div>
        </div>


        <!-- puc & prorata-->
        <div class="row">
            <div class="col-md-6">
                <div class="form-group row">
                    <label class="col-md-3 label-control">{{'labels.puc' | translate}} %</label>
                    <div class="col-md-9">
                        <input type="number" [value]="data?.orderDetails?.puc" class="form-control currency-input"
                            id="show-puc-article-btn" disabled />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group row">
                    <label class="col-md-3 label-control">{{'labels.prorata' | translate}} %</label>
                    <div class="col-md-9">
                        <input type="number" [value]="data?.orderDetails?.proportion"
                            class="form-control currency-input" id="show-prorata-article-btn" disabled />
                    </div>
                </div>
            </div>
        </div>

        <!-- totalHt & tva-->
        <div class="row">
            <div class="col-md-6 offset-md-6">
                <div class="form-group row">
                    <label class="col-md-3 label-control">{{'labels.totalHt' | translate}} (€)</label>
                    <div class="col-md-9">
                        <input type="number" [value]="data.totalHt" class="form-control currency-input"
                            id="show-totalHt-article-btn" disabled />
                    </div>
                </div>
            </div>
            <div class="col-md-6 offset-md-6">
                <div class="form-group row">
                    <label class="col-md-3 label-control">{{'labels.tva' | translate}} %</label>
                    <div class="col-md-9">
                        <input type="number" [value]="data.orderDetails.globalVAT_Value"
                            class="form-control currency-input" id="show-tva-article-btn" disabled />
                    </div>
                </div>
            </div>
        </div>
        <!-- totalTtc-->
        <div class="row">

            <div class="col-md-6 offset-md-6">
                <div class="form-group row">
                    <label class="col-md-3 label-control">{{'labels.totalTTC' | translate}} (€)</label>
                    <div class="col-md-9">
                        <input type="text" id="show-TotalTtc-article-btn" class="form-control currency-input"
                            placeholder="{{ 'labels.TotalTtc' | translate }}" [value]="data.totalTTC | RoudingNumber "
                            disabled>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-6 offset-md-6">
            <div class="row" style="min-height: 60px;">
                <div class="col-3  " style="position: relative;
                    top: 10px;">

                    <label class="control-label" for="show-retenueGarantie-article-btn">Retenue de garantie</label>
                </div>
                <p *ngIf="!retenueGarantie" style="font-weight: bold;
                margin-left: 514px;
                margin-top: 4px;">
                    Non</p>
                <div class="col-3">
                    <div class="input-group">
                        <input type="number" class="form-control text-right" appInputRemoveDefaultZero
                            id="show-retenueGarantie-article-btn" [(ngModel)]="retenueGarantieValue"
                            [ngModelOptions]="{standalone: true}" placeholder="retenueGarantie" *ngIf="retenueGarantie"
                            max="100" min="0" disabled>
                        <div class="input-group-prepend" *ngIf="retenueGarantie">
                            <div class="input-group-text">%</div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <div class="row" *ngIf="retenueGarantie">
                            <div class="col-6"> <input type="number" class="form-control text-right"
                                    id="show-delaiGarantie-article-btn" appInputRemoveDefaultZero
                                    [(ngModel)]="delaiGarantie" [ngModelOptions]="{standalone: true}"
                                    placeholder="delai Garantie" [disabled]="readOnly" max="100" min="0"></div>
                            <div class="col-6" style="margin-left: -10px;margin-top: 12px;    font-weight: normal;">
                                <span class="display-price" style="font-size: 9px;">Délais de garantie (Mois)</span>
                            </div>
                        </div>
                        <!-- <select style="min-height: 40px; width: 9vw !important;" [(ngModel)]="delaiGarantie"
                            [ngModelOptions]="{standalone: true}" disabled *ngIf="retenueGarantie == 1">
                            <option [value]="null">{{ 'delai_garantie.question' | translate }}</option>
                            <option [value]="delaiGarantiesEnum.TroisMois">
                                {{ 'delai_garantie.troisMois' | translate }}</option>
                            <option [value]="delaiGarantiesEnum.SixMois">
                                {{ 'delai_garantie.sixMois' | translate }}</option>
                            <option [value]="delaiGarantiesEnum.UnAns">
                                {{ 'delai_garantie.unAns' | translate }}</option>
                            <option [value]="delaiGarantiesEnum.DeuxAns">
                                {{ 'delai_garantie.deuxAns' | translate }}</option>
                        </select> -->
                    </div>
                </div>
                <div class="col-md-2" *ngIf="retenueGarantie">
                    <input type="text" id="show-valueGarantie-article-btn" class="form-control currency-input" value="{{data.totalHt * (retenueGarantieValue/100) | RoudingNumber | ShowCurrency }}
                                " disabled appInputRemoveDefaultZero>

                </div>

            </div>
        </div>



    </form>
</ng-container>