<div *ngIf="!loading">


  <div *ngIf="isPaiement()" class="card offset-md-9 col-md-3">
    <div class="card-body">
      <div class="media-body media-right text-right">
        <h3>{{ totalPeriode | RoudingNumber | ShowCurrency}}</h3>
        <span class="text-muted">{{ 'labels.soldeCourant' | translate }}</span>
      </div>
    </div>
  </div>

  <!-- ........................ dataTables ..................... -->

  <data-table [data]="helper.data" [columns]="helper.header" [name]="helper.docType" [actions]="actions"
    [filterDate]="filterDate()" [isAdd]="isAdd()" [comptes]="helper.comptes" [listMois]="helper.listMois"
    [Isfilter]="Isfilter()" [periodes]="helper.periodes" [profils]="helper.profils" [status]="status"
    [listChantiers]="helper.listChantiers" [listClient]="helper.listClient" [listSupplier]="helper.listSupplier"
    [isVisitM]="isVisitM()" [isMission]="isMission()" [listTechnicien]="helper.listTechnicien"
    [title]="'LIST.TITLE' | translate" (changeEvent)="changeFiltersEvent($event)" [idChantier]="idChantier">
  </data-table>

  <!-- ......................................................... -->


  <custom-loader [displayLoader]="loading"></custom-loader>