<div class="axiobat-modal">
  <div class="root">

    <!-- #region Head -->
    <div class="head">

      <div class="left">
        <div class="title">
          Image
        </div>
      </div>

      <div class="right">
        <!-- <div id="annuler" class="cust-button cust-button--secondary" (click)="close()">
          <span>{{ 'labels.cancel' | translate }}</span>
        </div> -->


      </div>

      <div class="close" (click)="close()">
        <img src="./assets/app/images/Icons/x.svg" alt="Close button">
      </div>
    </div>
    <!-- #endregion -->

    <!-- #region Body -->
    <div class="body">
      <div class="row">

        <!-- Name -->
        <div class="col">
          <img [src]="data">

        </div>



      </div>


    </div>
    <!-- #endregion -->
  </div>
</div>