<!-- <h1 mat-dialog-title class="modal-title">
  {{ getmodelName()}}</h1> -->
<div class="axiobat-modal">
  <div class="root">
    <!-- <mat-dialog-content> -->



    <!-- #region Head -->
    <div class="head">

      <div class="left">
        <div class="title">
          {{ getmodelName()}}
        </div>
      </div>

      <div class="right">
        <div id="annuler" class="cust-button cust-button--secondary" (click)="close()">
          <span>Fermer</span>
        </div>

        <div id="valider" class="cust-button cust-button--success" (click)="save()">
          <span>Valider</span>
        </div>
      </div>

      <div class="close" (click)="close()">
        <img src="./assets/app/images/Icons/x.svg" alt="Close button">
      </div>
    </div>
    <!-- #endregion -->

    <!-- #region Body -->
    <div class="body">
      <form [formGroup]="documentationForm">
        <div class="row">

          <!-- Name -->
          <div class="col">
            <div class="cust-input-group">
              <div class="cust-label">Désignation :</div>
              <div class="cust-input">
                <label class="cust-input__wrapper">
                  <input class="cust-input__input" id="add-nom-chantier-form-btn" type="text"
                    formControlName="designation" [readonly]="data?.readOnly">
                </label>
              </div>
              <small class="text-danger" *ngIf="f?.designation?.errors?.required">{{'errors.required' | translate
                }}</small>
              <small class="text-danger" *ngIf="f?.designation?.errors?.minlength">{{'errors.minLength'
                        | translate:{ number:2} }}</small>

            </div>
          </div>


        </div>

        <div class="row">

          <!-- Comment -->
          <div class="col">
            <div class="cust-input-group">
              <div class="cust-label">commentaire:</div>
              <div class="cust-input cust-input--textarea">
                <label class="cust-input__wrapper">
                  <textarea matInput class="cust-input__input" id="add-commentaire-chantier-form-btn" rows="5"
                    formControlName="commentaire" [placeholder]="'Entrez votre commentaire'"
                    [readonly]="data?.readOnly"></textarea>
                </label>
              </div>
            </div>
          </div>


        </div>

        <div class="row">

          <!-- Hours -->
          <div class="col">
            <div class="cust-input-group" *ngIf="file == null">
              <div class="cust-label"> Fichier  :</div>
              <div class="cust-input">
                <label class="cust-input__wrapper">
                 <!-- <i class="ft-upload"></i> -->
                  <input class="cust-input__input" type="file" id="rebrique-choseFile-input"
                    (change)="startUpload($event.target.files)">
                </label>
              </div>
            </div>

            <div class="cust-input-group" *ngIf="file != null">
              <div class="cust-label"> Fichier :</div>
              <div class="cust-input">
                <label class="cust-input__wrapper">
                  <div>{{file.fileName }}</div>
                  <div>
                    <i id="rebrique-removeFile-input" class="ft-trash btn-remove"
                      style="font-size: 20px; color: red; position: relative; top: 3px; " (click)="removeFile()"
                      *ngIf="type != formType.preview"></i>
                    <i id="rebrique-downloadPieceJointe-input" class="ft-download btn-download"
                      style="font-size: 20px; color: #1B9DB3; position: relative; top: 3px; "
                      (click)="downloadPieceJointe()" *ngIf="type != formType.add"></i>
                  </div>
                </label>
              </div>
            </div>


          </div>
        </div>


        <div class="row">

          <div class="col">
            <div class="cust-label ">{{ 'tags.title' | translate }} :</div>

            <div class="col-md-12">
              <ino-tags [load]="emitter" [allTagsList]="allTagsList" [newTags]="listLabelTags"
                (onTagsChange)="onTagsChange($event)" [readOnly]="!readOnly" [size]="'small'">
              </ino-tags>
            </div>
          </div>
        </div>
      </form>
    </div>
    <!-- #endregion -->

    <!-- //</mat-dialog-content> -->
  </div>
</div>