mat-form-field {
  width: 100%;
}

button {
  margin-left: 3px;
}

mat-dialog-content.mat-dialog-content {
  width: 100%;
  margin: 0;
}

// h1.modal-title.mat-dialog-title {
//   color: white;
//   background: #00bcd4;
//   text-align: center !important;
//   align-items: flex-start;
//   justify-content: space-between;
//   padding: 1rem;
//   border-top-left-radius: 0.27rem;
//   border-top-right-radius: 0.27rem;
// }
// mat-dialog-content.mat-dialog-content {
//   padding: 0;
// }

// .row {
//   width: 100%;
//   padding: 0px 0px 0px 0px;
//   padding-left: 44px;
// }

// .col-5 {
//   border-left: 1px solid #babfc7;
// }

// label.custom-control-label {
//   margin-top: -8px;
// }

// .msgEmtyListSelectedVide {
//   text-align: center;
//   padding-top: 14px;
// }
// .table th,
// .table td {
//   border-bottom: 0.75px solid #e6e5e5 !important;
//   border-top: 0px solid #e6e5e5 !important;
// }
// .table tbody + tbody {
//   border: none !important;
// }

// .text-purple {
//   color: #e91e63 !important;
//   // padding: 12px 8px;
//   vertical-align: middle;
//   font-family: Roboto, Helvetica, Arial, sans-serif;
//   font-weight: 300;
// }
// .firt-div {
//   display: block;
//   line-height: normal;
//   font-family: inherit;
//   font-size: 14px;
//   font-weight: 400;
//   letter-spacing: 0.2px;
// }

// label {
//   cursor: default;
// }

// input {
//   direction: ltr;
//   unicode-bidi: isolate;
// }

// button,
// select {
//   text-transform: none;
//   background: transparent;
//   border: none;
//   /* text-align: right; */
// }

// .mat-form-field-empty.mat-form-field-label {
//   color: green !important;
// }

// .mat-form-field-appearance-legacy .mat-form-field-underline {
//   background-color: transparent !important;
// }

// .mat-dialog-actions {
//   padding-right: 17px;
//   border-top: 0.75px solid #00bcd4;
// }

// mat-dialog-content.mat-dialog-content {
//   height: 100%;
// }

// .btn-light {
//   color: #2a2e30;
//   background-color: #babfc7;
//   border-color: #babfc7;
// }

// button,
// select {
//   text-transform: none;
//   background: transparent;
//   border: 1px solid #ccd6e6;
// }

// mat-dialog-content.mat-dialog-content {
//   height: 100%;
// }

.axiobat-modal {
  border-radius: 10px;
}

.root {
  .head {
    position: relative;

    display: grid;
    grid-template-columns: 1fr 274px;
    align-items: center;

    padding: 20px 34px;
    border-bottom: 1px solid #d9dde1;

    .left {
      .title {
        font-family: qanelas;
        font-size: 19px;
        font-weight: bold;

        text-align: left;
        letter-spacing: 0px;
        color: #494948;
      }
    }

    .right {
      display: flex;
      align-items: center;

      .cust-button {
        margin-left: 10px;
      }
    }

    .close {
      cursor: pointer;
      opacity: 0.4;

      position: absolute;
      right: 8px;
      top: 6px;

      transition-duration: 0.2s;
      transition-property: opacity;

      img {
        width: 20px;
      }

      &:hover {
        opacity: 0.6;
      }
    }
  }

  .body {
    padding: 20px 34px;

    .row {
      &:not(:first-of-type) {
        margin-top: 20px;
      }
    }

    .timepicker {
      text-align: center;
    }

    .slider {
      margin-bottom: 25px;
    }
  }
}
