<div class="classification container--header">
  <div class="row">
    <div class="container-fluid">
      <div class="col-12 text-right">
        <button (click)="onClassificationAdd()" class="btn btn-info my-1">
          Ajouter une Classification
        </button>
      </div>
    </div>
  </div>

  <ul *ngFor="let category of classifications; let i = index;" class="list">
    <li class="item">
      <div class="head">
        <div class="content">{{ category.label }}</div>
        <div class="controls">
          <p-button icon="pi pi-plus" (onClick)="onSubClassificationAdd($event, i)" styleClass="ui-button-success">
          </p-button>
          <p-button icon="pi pi-pencil" (onClick)="onClassificationUpdate($event, i)" styleClass="ui-button-success">
          </p-button>
          <p-button icon="pi pi-trash" (onClick)="onClassificationDelete($event, i)" styleClass="ui-button-danger">
          </p-button>
        </div>
      </div>
      <div class="body">
        <!-- Add new compoent-->
        <app-category-list (subCategoryDelete)="subClassificationDelete($event, i)"
        (subCategoryUpdate)="onSubClassificationUpdate($event, i)"
          [data]="category.subClassification"></app-category-list>
      </div>
    </li>
  </ul>
</div><!-- END CLASSIFICATION -->

<!-- Model sub classification -->
<p-dialog [header]="HeaderSubClassification" [modal]="true" [baseZIndex]="100000" [autoZIndex]="false" [resizable]="false"
  [style]="{'position': 'fixed', 'overflow': 'visible', 'z-index': '999'}" [(visible)]="modalSubClassificationState">
  <div class="p-grid">
    <div class="p-col-12">
      <form *ngIf="subClassificationForm" [formGroup]="subClassificationForm">

        <div class="custom-input custom-input--required">
          <span class="custom-input__label"> Nom </span>
          <div class="ui-inputgroup">
            <input class="form-control form-control-sm" pInputText formControlName="label" type="text">
          </div>
        </div>

        <div class="custom-input custom-input--required">
          <div class="ui-inputgroup">
            

            <select class="custom-select custom-select-md form-control form-control-md" formControlName="chartAccountItemId">
              <option [ngValue]="null"  selected >choisissez votre code compatble </option>
              <option *ngFor="let cat of subCategorySales"   [ngValue]="cat.id">
                {{ cat.label }}
              </option>
            </select>
            <p-button icon="pi pi-plus" (onClick)="onAddSale($event, i)" styleClass="ui-button-success"></p-button>
          </div>
        </div>
        <div class="custom-input">
          <span class="custom-input__label"> Description </span>
          <div class="ui-inputgroup">
            <input class="form-control form-control-sm" pInputText formControlName="description" type="text">
          </div>
        </div>
        <div class="p-col-12 dialog-controls">
          <button class="btn btn-info" [disabled]="!subClassificationForm.dirty || subClassificationForm.invalid" (click)=" changeSubClassification()">
            Confirmer
          </button>
        </div>
        <input class="form-control form-control-sm" pInputText formControlName="id" type="hidden">

      </form>
    </div>
  </div>
</p-dialog><!-- END DIALOG -->

<!-- Model classification -->
<p-dialog [header]="HeaderClassification" [modal]="true" [baseZIndex]="100000" [autoZIndex]="false" [resizable]="false"
  [style]="{'position': 'fixed', 'overflow': 'visible', 'z-index': '999'}" [(visible)]="modalClassificationState">
  <div class="p-grid">
    <div class="p-col-12">
      <form *ngIf="classificationForm" [formGroup]="classificationForm">

        <div class="custom-input custom-input--required">
          <span class="custom-input__label"> Famille(Classification)  </span>
          <div class="ui-inputgroup">
            <input class="form-control form-control-sm" pInputText formControlName="label" type="text">
            <input type="hidden" class="form-control form-control-sm" formControlName="id">
          </div>
        </div>

        <div class="p-col-12 dialog-controls">
          <button class="btn btn-info" [disabled]="!classificationForm.dirty || classificationForm.invalid" (click)="changeClassification()">
            Confirmer
          </button>
        </div>
      </form>
    </div>
  </div>
</p-dialog><!-- END DIALOG -->

<!-- Model Sales -->
<p-dialog [header]="headerSales" [modal]="true" [baseZIndex]="100000" [autoZIndex]="false" [resizable]="false"
  [style]="{'position': 'fixed', 'overflow': 'visible', 'z-index': '999'}" [(visible)]="modalSalesState">
  <div class="p-grid">
    <div class="p-col-12">
      <form *ngIf="salesForm" [formGroup]="salesForm">

        <div class="custom-input custom-input--required">
          <span class="custom-input__label"> Famille </span>
          <div class="ui-inputgroup">
            <input class="form-control form-control-sm" pInputText formControlName="label" type="text">
          </div>
        </div>

        <div class="custom-input custom-input--required">
          <span class="custom-input__label"> Code </span>
          <div class="ui-inputgroup">
            <input class="form-control form-control-sm" pInputText formControlName="code" type="text">

          </div>
        </div>
        <div class="p-col-12 dialog-controls">
          <button class="btn btn-info" [disabled]="!salesForm.dirty || salesForm.invalid" (click)="addSale()">
            Confirmer
          </button>
        </div>
      </form>
    </div>
  </div>
</p-dialog><!-- END DIALOG -->