<div class="row">
    <div class="col main-col">
        <div class="row">
            <div class="root col">
                <div class="details">
                    <div class="cust-card cust-card--padding">
                        <div class="cust-card__head">
                            <div class="left">
                                <div class="title">
                                    {{ 'parametrageHoraireTravail.title' | translate }}
                                </div>
                            </div>
                            <div>

                            </div>

                            <!-- Right controls -->
                            <div class="right flexcontrols menu-points-beta">
                                <div id="modifier" class="cust-button cust-button--success" (click)="update()"
                                    placement="bottom"
                                    ngbTooltip="{{ 'labels.modifier' | translate }} {{ 'labels.parametragecouthoraire' | translate }}">
                                    <span>{{ 'labels.modifier' | translate }}</span>
                                </div>
                            </div>
                        </div>


                        <div class="cust-card__body">
                            <div class="body">
                                <form [formGroup]="form">

                                    <div class="row">
                                        <div class="col">
                                            <div class="cust-input-group">
                                                <div class="cust-label">
                                                    {{ 'parametrageHoraireTravail.heureDebut' | translate }}
                                                    :</div>
                                                <div class="cust-input">
                                                    <label class="cust-input__wrapper">
                                                        <input class="cust-input__input" id="add-heureDebut-form-btn"
                                                            type="time" formControlName="heureDebut">

                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                        </div>
                                    </div>
                                    <br>

                                    <div class="row">
                                        <div class="col">
                                            <div class="cust-input-group">
                                                <div class="cust-label">
                                                    {{ 'parametrageHoraireTravail.heureFin' | translate }} :
                                                </div>
                                                <div class="cust-input cust-input--textarea">
                                                    <label class="cust-input__wrapper">
                                                        <input class="cust-input__input" id="add-heureFin-form-btn"
                                                            type="time" formControlName="heureFin">
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>