#search-nav .nav {
  border-bottom: 2px solid #e0e0e0;
}

#search-nav .nav-link.active {
  padding-bottom: 6px;
  border-bottom: 2px solid #1b9db3;
  margin-bottom: -2px;
}

#search-results .media-search {
  padding-top: 5px;
}
