<div class="root">
    <div class="row">
        <div class="col">
            <div class="details">
                <div class="cust-card cust-card--padding">

                    <div class="cust-card__head">

                        <div class="left">
                            <div class="title">
                                Information
                            </div>
                        </div>

                    </div>

                    <div class="cust-card__body">
                        
                        <div class="row">
                            
                            <div class="col">
                              <div class="cust-input-group">
                                  <div class="cust-label">{{ isClient() ? ( 'LABELS.codeclient' | translate ) : ('LABELS.REFERENCE'  | translate) }} :</div>
                                  <div class="cust-labelGros"> {{ data?.reference }} </div>
                              </div>
                           </div>

                              <div class="col" *ngIf="isClient()">
                                  <div class="cust-input-group">
                                      <div class="cust-label">{{ 'LABELS.typeClient' | translate }} :</div>
                                      <div class="cust-labelGros"> {{'typeClient.'+data?.type |translate}} </div>
                                  </div>
                              </div>

                              <div class="col">
                                  <div class="cust-input-group">
                                      <div class="cust-label">{{ 'LABELS.NOM' | translate }} :</div>
                                      <div class="cust-labelGros"> {{ data?.firstName }} </div>
                                  </div>
                              </div>  

                              
                              <div class="col" *ngIf="clientType.Particular == data?.type && isClient()">
                                <div class="cust-input-group">
                                    <div class="cust-label">{{ 'LABELS.LASTNAME' | translate }} :</div>
                                    <div class="cust-labelGros"> {{ data?.lastName }} </div>
                                </div>
                            </div>  

                            <div class="col" *ngIf="isFournisseur()">
                                <div class="cust-input-group">
                                    <div class="cust-label">{{ 'LABELS.tvaIntraCommunautaire' | translate }} :</div>
                                    <div class="cust-labelGros"> {{ data?.intraCommunityVAT }} </div>
                                </div>
                             </div>
                                                    
                          </div>

                          <div class="row">
                            
                            <div class="col">
                              <div class="cust-input-group">
                                  <div class="cust-label">{{ 'LABELS.PHONE_NUMBER' | translate }} :</div>
                                  <div class="cust-labelGros"> {{ data?.phoneNumber }} </div>
                              </div>
                           </div>

                           <div class="col">
                            <div class="cust-input-group">
                                <div class="cust-label">{{ 'LABELS.EMAIL' | translate }} :</div>
                                <div class="cust-labelGros"> {{ data?.email }} </div>
                            </div>
                         </div>

                         <div class="col">
                            <div class="cust-input-group">
                                <div class="cust-label">{{ 'LABELS.ACCOUNTING_CODE' | translate }} :</div>
                                <div class="cust-labelGros"> {{ data?.accountingCode }} </div>
                            </div>
                         </div>

                    
                        </div>

                        <div class="row">

                         
                            <div class="col" *ngIf="clientType.Particular != data?.type || isFournisseur()">
                                <div class="cust-input-group">
                                    <div class="cust-label">{{ 'LABELS.siteWeb' | translate }} :</div>
                                    <div class="cust-labelGros"> {{ data?.website }} </div>
                                </div>
                             </div>
                            
    
                             <div class="col" *ngIf="clientType.Particular != data?.type || isFournisseur()">
                                <div class="cust-input-group">
                                    <div class="cust-label">{{ 'LABELS.FAX' | translate }} :</div>
                                    <div class="cust-labelGros"> {{ data?.landLine  }} </div>
                                </div>
                              </div>
                              
                            
                            <div class="col" *ngIf="clientType.Particular != data?.type || isFournisseur()">
                              <div class="cust-input-group">
                                  <div class="cust-label">{{ 'LABELS.siret' | translate }} :</div>
                                  <div class="cust-labelGros"> {{ data?.siret }} </div>
                              </div>
                           </div>
                        </div>


                        
                        <div class="row">

                            <div class="col" *ngIf="clientType.Particular != data?.type && isClient()">
                                <div class="cust-input-group">
                                    <div class="cust-label">{{ 'LABELS.GROUPE' | translate }} :</div>
                                    <div class="cust-labelGros"> {{ data?.groupeId | GetNameOfGroupe }} </div>
                                </div>
                             </div>

                            <div class="col" *ngIf="clientType.Particular != data?.type && !isFournisseur()">
                              <div class="cust-input-group">
                                  <div class="cust-label">{{ 'LABELS.tvaIntraCommunautaire' | translate }} :</div>
                                  <div class="cust-labelGros"> {{ data?.intraCommunityVAT }} </div>
                              </div>
                           </div>

                         
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>



<div class="root" *ngIf="isFournisseur()">
    <div class="row">
        <div class="col">
            <div class="details">
                <div class="cust-card cust-card--padding">

                    <div class="cust-card__head">

                        <div class="left">
                            <div class="title">
                                Adresse
                            </div>
                        </div>

                    </div>


                    <div class="cust-card__body">

                        <div class="row">
                            
                            <div class="col">
                              <div class="cust-input-group">
                                  <div class="cust-label">{{ 'LABELS.ADRESSE' | translate }} :</div>
                                  <div class="cust-labelGros"> {{ data?.address?.street }} </div>
                              </div>
                           </div>

                              <div class="col">
                                  <div class="cust-input-group">
                                      <div class="cust-label">{{ 'LABELS.Complement' | translate }} :</div>
                                      <div class="cust-labelGros"> {{ data?.address?.complement }} </div>
                                  </div>
                              </div>

                              <div class="col">
                                  <div class="cust-input-group">
                                      <div class="cust-label">{{ 'LABELS.City' | translate }} :</div>
                                      <div class="cust-labelGros"> {{ data?.address.city }} </div>
                                  </div>
                              </div>                           

                          </div>

                          <div class="row">
                            
                            <div class="col">
                              <div class="cust-input-group">
                                  <div class="cust-label">{{ 'LABELS.codePostal' | translate }} :</div>
                                  <div class="cust-labelGros"> {{ data?.address?.postalCode }} </div>
                              </div>
                           </div>

                              <div class="col">
                                  <div class="cust-input-group">
                                      <div class="cust-label">{{ 'LABELS.departement' | translate }} :</div>
                                      <div class="cust-labelGros"> {{ data?.address?.department }} </div>
                                  </div>
                              </div>

                              <div class="col">
                                  <div class="cust-input-group">
                                      <div class="cust-label">{{ 'LABELS.pays' | translate }} :</div>
                                      <div class="cust-labelGros"> {{ data?.address?.countryCode }} </div>
                                  </div>
                              </div>                           

                          </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>

<div class="root" *ngIf="isClient()">
    <div class="row">
        <div class="col">
            <div class="details">
                <div class="cust-card cust-card--padding">

                    <div class="cust-card__head">

                        <div class="left">
                            <div class="title">
                                Adresses
                            </div>
                        </div>

                    </div>


                    <div class="cust-card__body">
                        <list-address [addresses]="data?.addresses" [show]="false"></list-address>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>

<div class="root">
    <div class="row">
        <div class="col">
            <div class="details">
                <div class="cust-card cust-card--padding">

                    <div class="cust-card__head">

                        <div class="left">
                            <div class="title">
                                Contacts
                            </div>
                        </div>

                    </div>


                    <div class="cust-card__body">
                        <liste-contacts [contacts]="data?.contactInformations" [show]="false"></liste-contacts>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<div class="root">
    <div class="row">
        <div class="col">
            <div class="details">
                <div class="cust-card cust-card--padding">

                    <div class="cust-card__head">

                        <div class="left">
                            <div class="title">
                                Autre
                            </div>
                        </div>

                    </div>


                    <div class="cust-card__body">


                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label class="col-md-12 label-control"
                                        for="conditionReglementv">{{ 'LABELS.CONDITIONS' | translate }}</label>
                                    <div class="col-md-12">
                                        <div class="rich-text-value" [innerHTML]="data?.paymentCondition">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label class="col-md-12 label-control"
                                        for="note">{{ 'LABELS.NOTE' | translate }}</label>
                                    <div class="col-md-12">
                                        <div class="rich-text-value" [innerHTML]="data?.note">
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>