
<h1 mat-dialog-title class="modal-title">
    Ajouter Utilisateur </h1>
<mat-dialog-content>

    <div class="row firt-div">
        <div class="card-body">
            <h5 class="card-title text-center"></h5>
            <form class="form-signin" [formGroup]="form">

                <div class="form-label-group">
                    <label for="inputEmail">Nom d'utilisateur</label>
                    <input type="text" formControlName="username" id="inputEmail" class="form-control"
                        placeholder="Nom d'utilisateur" required autofocus>
                    <small class="text-danger"
                        *ngIf="f?.username?.errors?.minlength">{{'errors.minLength' | translate:{number:4} }}</small>
                    <small class="text-danger"
                        *ngIf="f?.username?.errors?.required">{{'errors.required' | translate }}</small>
                    <small class="text-danger"
                        *ngIf="f?.username?.hasError('CheckUniqueUserName')">{{'errors.unique' | translate }}</small>
                </div>

                <div class="form-label-group pt-1">
                    <label for="inputPassword">Mot de passe</label>
                    <show-hide-password size="md" icon="fontawesome" btnStyle="secondary" [btnOutline]="true">
                        <input type="password" formControlName="password" id="inputPassword" class="form-control"
                            placeholder="Mot de passe" required>
                    </show-hide-password>
                    <small class="text-danger"
                        *ngIf="f?.password?.errors?.minlength">{{'errors.minLength' | translate:{number:6} }}</small>
                    <small class="text-danger"
                        *ngIf="f?.password?.errors?.required && insertOrUpdate">{{'errors.required' | translate }}</small>
                </div>

                <div class="form-label-group pt-1">
                    <label for="inputPassword">Type utilisateur</label>
                    <div class=" container form-check-inline">
                        <div>
                            <input class="mr-1" id="radio-1" name="typeClient" type="checkbox" value="1"
                                (change)="changedispalyToClient(1)" (click)="changedispalyToClient(1)"
                                >
                            <label for="radio-1" class="radio-label">FICHE INTERVENTION</label>
                        </div>


                        <div>
                            <input class="mr-1" id="radio-2" name="typeClient" type="checkbox" value="2"
                                (change)="changedispalyToClient(2)" (click)="changedispalyToClient(2)"
                                >
                            <label for="radio-2" class="radio-label">DEVIS</label>
                        </div>

                        <div>
                            <input class="mr-1" id="radio-3" name="typeClient" type="checkbox" value="3"
                                (click)="changedispalyToClient(3)" (change)="changedispalyToClient(3)"
                                >
                            <label for="radio-3" class="radio-label">FACTURE</label>
                        </div>
                    </div>
                </div>
                <div class="custom-control custom-checkbox mt-1 mb-2">
                    <input type="checkbox" formControlName="actif" class="custom-control-input" id="customCheck1">
                    <label class="custom-control-label" for="customCheck1">Actif</label>
                </div>

            </form>
        </div>
    </div>


</mat-dialog-content>

<mat-dialog-actions align="end" style="padding-right: 15px;">
    <button mat-raised-button mat-dialog-close class="btn grey btn-light float-right">
        Annuler
    </button>
    <button [disabled]="true" type="button" class="btn btn-success float-right" (click)="saveInfos()">Enregistrer</button>
</mat-dialog-actions>
<custom-loader [displayLoader]="processing"></custom-loader>