<div class="root">
  <!-- #region Head -->
  <div class="head row">
    <div class="col-8">
      <div class="row">
        <!-- Devis -->
        <div class="col-6 mb-2">
          <div class="cust-card cust-card--devis">
            <div class="cust-card__body">
              <div class="left">
                <div class="info-bundle info-bundle--feature">
                  <span class="label">Devis</span>
                  <span class="value value--constant">{{ 0 }}</span>
                </div>
              </div>
              <div class="right">
                <div class="info-bundle">
                  <span class="label">Total</span>
                  <span class="value value--constant">{{
                    0 | RoudingNumber | ShowCurrency
                  }}</span>
                </div>
              </div>
            </div>
            <div class="cust-card__foot">
              <div class="statuses">
                <div class="status status--in_progress">{{ 0 }} En Cours</div>
                <div class="status status--billed">{{ 0 }} Facturé</div>
                <div class="status status--signed">{{ 0 }} à signer</div>
              </div>
            </div>
          </div>
        </div>

        <!-- Factures -->
        <div class="col-6 mb-2">
          <div class="cust-card cust-card--facture">
            <div class="cust-card__body">
              <div class="left">
                <div class="info-bundle info-bundle--feature">
                  <span class="label">Factures</span>
                  <span class="value value--constant">{{ 0 }}</span>
                </div>
              </div>
              <div class="right">
                <div class="info-bundle">
                  <span class="label">Total</span>
                  <span class="value value--constant">{{
                    0 | RoudingNumber | ShowCurrency
                  }}</span>
                </div>
              </div>
            </div>
            <div class="cust-card__foot">
              <div class="statuses">
                <div class="status status--in_progress">{{ 0 }} En Cours</div>
                <div class="status status--late">{{ 0 }} En retards</div>
                <div class="status status--signed">{{ 0 }} Clôturée</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <!-- Interventions -->
        <div class="col-6">
          <div class="cust-card cust-card--interventions">
            <div class="cust-card__body">
              <div class="left">
                <div class="info-bundle info-bundle--feature">
                  <span class="label">Interventions</span>
                  <span class="value value--constant">{{ 0 }}</span>
                </div>
              </div>
              <div class="right">
                <div class="info-bundle">
                  <span class="label">Total</span>
                  <span class="value value--constant">{{
                    0 | RoudingNumber | ShowCurrency
                  }}</span>
                </div>
              </div>
            </div>
            <div class="cust-card__foot">
              <div class="statuses">
                <div class="status status--planned">{{ 0 }} Planifié</div>
                <div class="status status--realized">{{ 0 }} Réalizer</div>
                <div class="status status--billed">{{ 0 }} Facturé</div>
              </div>
            </div>
          </div>
        </div>

        <!-- Contrats -->
        <div class="col-6">
          <div class="cust-card cust-card--contrats">
            <div class="cust-card__body">
              <div class="left">
                <div class="info-bundle info-bundle--feature">
                  <span class="label">Contrats de maintenance</span>
                  <span class="value value--constant">{{ 0 }}</span>
                </div>
              </div>
              <div class="right">
                <div class="info-bundle">
                  <span class="label">Total</span>
                  <span class="value value--constant">{{
                    0 | RoudingNumber | ShowCurrency
                  }}</span>
                </div>
              </div>
            </div>
            <div class="cust-card__foot">
              <div class="statuses">
                <div class="status status--waiting">{{ 0 }} En attends</div>
                <div class="status status--finished">{{ 0 }} Terminé</div>
                <div class="status status--in_progress">{{ 0 }} En cours</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="row">
        <!-- Period -->
        <div class="col-12 mb-2">
          <div matRipple class="cust-card cust-card--input">
            <div class="cust-card__body">
              <div class="period-input">
                <div class="period-input__label">Trimestre courant</div>
                <div class="period-input__value">30 aou - 29 nov</div>
                <div class="period-input__icon">
                  <img
                    src="./assets/app/images/Icons/chevron-down.svg"
                    alt="Close button"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Chantier -->
        <div class="col-12">
          <div class="cust-card cust-card--chantier">
            <div class="cust-card__body">
              <div class="left">
                <div class="info-bundle info-bundle--feature">
                  <span class="label">Chantiers</span>
                  <span class="value value--constant">{{ 0 }}</span>
                </div>
              </div>
              <div class="right">
                <div class="row mb-1">
                  <div class="col-6">
                    <div class="info-bundle info-bundle--right float-right">
                      <span class="label">Total</span>
                      <span class="value value--constant">{{
                        0 | RoudingNumber | ShowCurrency
                      }}</span>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="info-bundle info-bundle--right float-right">
                      <span class="label">Marge sur matériel</span>
                      <span class="value value--negative">{{
                        0 | RoudingNumber | ShowCurrency
                      }}</span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <div class="info-bundle info-bundle--right float-right">
                      <span class="label"
                        >Marge sur la main d'oeuvre interne</span
                      >
                      <span class="value value--positive">{{
                        0 | RoudingNumber | ShowCurrency
                      }}</span>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="info-bundle info-bundle--right float-right">
                      <span class="label">Marge Chantier</span>
                      <span class="value value--positive">{{
                        0 | RoudingNumber | ShowCurrency
                      }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="cust-card__foot">
              <div class="statuses">
                <div class="status status--study">{{ 0 }} étudier</div>
                <div class="status status--accepted">{{ 0 }} Accepté</div>
                <div class="status status--finished">{{ 0 }} Terminé</div>
                <div class="status status--refused">{{ 0 }} Refusé</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- #endregion -->

  <!-- #region Analytics -->
  <div class="analytics row">
    <div
      [ngClass]="{
        'col-lg-12 col-xl-6': menu.opened,
        'col-md-12 col-lg-6': !menu.opened
      }"
    >
      <div class="cust-card cust-card--chart-ca">
        <div class="cust-card__body">
          <div class="top">
            <div class="left">
              <div class="info-bundle">
                <span class="label">Prévision et évolution mensuelle</span>
                <span class="value value--neutral">C.A en HT</span>
              </div>
            </div>
            <div class="right">
              <div class="row">
                <div class="col-6">
                  <div class="info-bundle">
                    <span class="value value--constant"
                      >{{ 0 | RoudingNumber }} <small>€</small></span
                    >
                    <span class="label">Chiffre D'affaires</span>
                  </div>
                </div>
                <div class="col-6">
                  <div class="cust-input cust-input--select cust-input--numero">
                    <label class="cust-input__wrapper">
                      <mat-select
                        class="cust-input__input"
                        [(ngModel)]="currentYearCA"
                        (valueChange)="onYearCAChanged()"
                      >
                        <mat-option *ngFor="let year of years" [value]="year">{{
                          year
                        }}</mat-option>
                      </mat-select>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="bottom">
            <canvas #chartMonthlyEvolutionCa></canvas>
          </div>
          <div class="cust-card__footer">
            <div class="legends">
              <div class="label label--ca">Chiffre d'affaire actuel</div>
              <div class="label label--prev">Prévisions</div>
              <div class="label label--prev-year">Année précédente</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      [ngClass]="{
        'col-lg-12 col-xl-6': menu.opened,
        'col-md-12 col-lg-6': !menu.opened
      }"
    >
      <div class="cust-card cust-card--chart-depense">
        <div class="cust-card__body">
          <div class="top">
            <div class="left">
              <div class="info-bundle">
                <span class="label">Evolution mensuelle</span>
                <span class="value value--neutral">Dépenses</span>
              </div>
            </div>
            <div class="right">
              <div class="row">
                <div class="col-6">
                  <div class="info-bundle">
                    <span class="value value--constant"
                      >{{ 0 | RoudingNumber }} <small>€</small></span
                    >
                    <span class="label">Dépenses</span>
                  </div>
                </div>
                <div class="col-6">
                  <div class="cust-input cust-input--select cust-input--numero">
                    <label class="cust-input__wrapper">
                      <mat-select
                        class="cust-input__input"
                        [(ngModel)]="currentYearHT"
                        (valueChange)="onYearHTChanged()"
                      >
                        <mat-option *ngFor="let year of years" [value]="year">{{
                          year
                        }}</mat-option>
                      </mat-select>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="bottom">
            <canvas #lineObjectifMunsuelle></canvas>
          </div>
          <div class="cust-card__footer">
            <div class="legends">
              <div class="label label--depense">Dépense actuel</div>
              <div class="label label--prev-year">Année précédente</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- #endregion -->

  <!-- #region Tables -->
  <div class="tables row">
    <div
      [ngClass]="{
        'col-lg-12 col-xl-8': menu.opened,
        'col-md-12 col-lg-8': !menu.opened
      }"
    >
      <div class="cust-card">
        <div
          class="cust-card__tabs scroll-on-hover nav nav-tabs nav-fill"
          id="nav-tab"
          role="tablist"
        >
          <a
            class="cust-card__tab nav-item nav-link active"
            id="nav-ca-tab"
            data-toggle="tab"
            href="#nav-table-chantier"
            role="tab"
            aria-controls="nav-table-chantier"
            aria-selected="true"
          >
            Chantiers
          </a>
          <a
            class="cust-card__tab nav-item nav-link"
            id="nav-workforce-tab"
            data-toggle="tab"
            href="#nav-workforce"
            role="tab"
            aria-controls="nav-workforce"
            aria-selected="true"
          >
            Main d'œuvre (Heures)
          </a>
          <a
            class="cust-card__tab nav-item nav-link"
            id="nav-client-tab"
            data-toggle="tab"
            href="#nav-client"
            role="tab"
            aria-controls="nav-client"
            aria-selected="true"
          >
            Clients
          </a>
          <a
            class="cust-card__tab nav-item nav-link"
            id="nav-article-tab"
            data-toggle="tab"
            href="#nav-article"
            role="tab"
            aria-controls="nav-article"
            aria-selected="true"
          >
            Articles
          </a>
          <a
            class="cust-card__tab nav-item nav-link"
            id="nav-label-tab"
            data-toggle="tab"
            href="#nav-label"
            role="tab"
            aria-controls="nav-label"
            aria-selected="true"
          >
            Label
          </a>
          <a
            class="cust-card__tab nav-item nav-link"
            id="nav-supplier-tab"
            data-toggle="tab"
            href="#nav-supplier"
            role="tab"
            aria-controls="nav-supplier"
            aria-selected="true"
          >
            Fournisseurs
          </a>
          <a
            class="cust-card__tab nav-item nav-link"
            id="nav-article-quantity-tab"
            data-toggle="tab"
            href="#nav-article-quantity"
            role="tab"
            aria-controls="nav-article-quantity"
            aria-selected="true"
          >
            Articles QTE
          </a>
          <a
            class="cust-card__tab nav-item nav-link"
            id="nav-article-price-tab"
            data-toggle="tab"
            href="#nav-article-price"
            role="tab"
            aria-controls="nav-article-price"
            aria-selected="true"
          >
            Articles Prix</a
          >
        </div>
        <div class="cust-card__body tab-content">
          <div
            class="tab-pane fade show active"
            id="nav-table-chantier"
            role="tabpanel"
            aria-labelledby="nav-ca-tab"
          >
            <div class="title-header">
              <h5>
                {{ "labels.topchantierCA" | translate }}
              </h5>
              <p>Liste des chantiers en cours et terminé</p>
            </div>
            <div class="table-responsive" id="content-ca">
              <table class="table">
                <thead class="text-purple">
                  <tr>
                    <th class="text-purple">N°</th>
                    <th class="text-purple" style="text-align: left">
                      {{ "labels.nom" | translate }}
                    </th>
                    <th
                      class="text-purple"
                      style="text-align: right; padding-right: 31px"
                    >
                      {{ "labels.chiffreaffaire" | translate }}
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container
                    *ngFor="let chantier of top10ChantierParCA; let i = index"
                  >
                    <tr>
                      <td>{{ i + 1 }}</td>
                      <td style="text-align: left">{{ chantier?.name }}</td>
                      <td style="font-size: 1.1rem; text-align: right">
                        {{ chantier?.turnover | RoudingNumber | ShowCurrency }}
                      </td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </div>
          </div>

          <div
            class="tab-pane fade show"
            id="nav-workforce"
            role="tabpanel"
            aria-labelledby="nav-workforce-tab"
          >
            <div class="title-header">
              <h5>
                {{ "labels.topchantierheures" | translate }}
              </h5>
              <p>
                Liste des chantiers en cours et terminé avec une fiche
                d'intervention avec status réalisé
              </p>
            </div>
            <div class="table-responsive">
              <table class="table">
                <thead class="text-purple">
                  <tr>
                    <th class="text-purple">N°</th>
                    <th class="text-purple" style="text-align: left">
                      {{ "labels.nom" | translate }}
                    </th>
                    <th class="text-purple" style="text-align: right">
                      {{ "labels.heures" | translate }}
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container
                    *ngFor="
                      let chantier of top10ChantierParHeures;
                      let i = index
                    "
                  >
                    <tr>
                      <td>{{ i + 1 }}</td>
                      <td style="text-align: left">{{ chantier?.name }}</td>
                      <td style="font-size: 1.1rem; text-align: right">
                        {{ chantier?.workingHours | RoudingNumber }}
                      </td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </div>
          </div>

          <div
            class="tab-pane fade show"
            id="nav-client"
            role="tabpanel"
            aria-labelledby="nav-client-tab"
          >
            <div class="title-header">
              <h5>
                {{ "labels.top10CAClient" | translate }}
              </h5>
              <p>Liste des clients et chiffre d'affaires</p>
            </div>
            <div class="table-responsive">
              <table class="table">
                <thead class="text-purple">
                  <tr>
                    <th class="text-purple">N°</th>
                    <th class="text-purple" style="text-align: left">
                      {{ "labels.nom" | translate }}
                    </th>
                    <th
                      class="text-purple"
                      style="text-align: right; padding-right: 31px"
                    >
                      {{ "labels.chiffreaffaire" | translate }}
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container
                    *ngFor="let client of top10CAClient; let i = index"
                  >
                    <tr>
                      <td>{{ i + 1 }}</td>
                      <td style="text-align: left">{{ client?.name }}</td>
                      <td style="font-size: 1.1rem; text-align: right">
                        {{ client?.total | RoudingNumber | ShowCurrency }}
                      </td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </div>
          </div>

          <div
            class="tab-pane fade show"
            id="nav-article"
            role="tabpanel"
            aria-labelledby="nav-article-tab"
          >
            <div class="title-header">
              <h5>
                {{ "labels.top10CAparArticle" | translate }}
              </h5>
              <p>Liste des articles et chiffre d'affaires</p>
            </div>
            <div class="table-responsive">
              <table class="table">
                <thead class="text-purple">
                  <tr>
                    <th class="text-purple">N°</th>
                    <th class="text-purple" style="text-align: left">
                      {{ "labels.nom" | translate }}
                    </th>
                    <th
                      class="text-purple"
                      style="text-align: right; padding-right: 31px"
                    >
                      {{ "labels.chiffreaffaire" | translate }}
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container
                    *ngFor="let article of top10CAparArticle; let i = index"
                  >
                    <tr>
                      <td>{{ i + 1 }}</td>
                      <td style="text-align: left">{{ article?.reference }}</td>
                      <td style="font-size: 1.1rem; text-align: right">
                        {{
                          article?.totalOrders | RoudingNumber | ShowCurrency
                        }}
                      </td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </div>
          </div>

          <div
            class="tab-pane fade show"
            id="nav-label"
            role="tabpanel"
            aria-labelledby="nav-label-tab"
          >
            <div class="title-header">
              <h5>
                {{ "labels.top10CAparLabel" | translate }}
              </h5>
              <p>Chiffre d'affaires</p>
            </div>
            <div class="table-responsive">
              <table class="table">
                <thead class="text-purple">
                  <tr>
                    <th class="text-purple">N°</th>
                    <th class="text-purple" style="text-align: left">
                      {{ "labels.nom" | translate }}
                    </th>
                    <th class="text-purple" style="text-align: right">
                      {{ "labels.chiffreaffaire" | translate }}
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container
                    *ngFor="let label of top10CAparLabel; let i = index"
                  >
                    <tr>
                      <td>{{ i + 1 }}</td>
                      <td style="text-align: left">{{ label?.name }}</td>
                      <td style="font-size: 1.1rem; text-align: right">
                        {{ label?.total | RoudingNumber | ShowCurrency }}
                      </td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </div>
          </div>

          <div
            class="tab-pane fade show"
            id="nav-supplier"
            role="tabpanel"
            aria-labelledby="nav-supplier-tab"
          >
            <div class="title-header">
              <h5>
                {{ "labels.topfournisseurCA" | translate }}
              </h5>
              <p>Liste des Fournisseur avec chiffre d'affaires</p>
            </div>
            <div class="table-responsive">
              <table class="table">
                <thead class="text-purple">
                  <tr>
                    <th class="text-purple">N°</th>
                    <th class="text-purple" style="text-align: left">
                      {{ "labels.nom" | translate }}
                    </th>
                    <th
                      class="text-purple"
                      style="text-align: right; padding-right: 31px"
                    >
                      {{ "labels.chiffreaffaire" | translate }}
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container
                    *ngFor="
                      let fournisseur of top10fournisseurCa;
                      let i = index
                    "
                  >
                    <tr>
                      <td>{{ i + 1 }}</td>
                      <td style="text-align: left">
                        {{ fournisseur?.supplier?.name }}
                      </td>
                      <td style="font-size: 1.1rem; text-align: right">
                        {{
                          fournisseur?.totalTransaction
                            | RoudingNumber
                            | ShowCurrency
                        }}
                      </td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </div>
          </div>

          <div
            class="tab-pane fade show"
            id="nav-article-quantity"
            role="tabpanel"
            aria-labelledby="nav-article-quantity-tab"
          >
            <div class="title-header">
              <h5>
                {{ "labels.top10articlecmdqte" | translate }}
              </h5>
              <p>Liste des quantités d'articles commandés</p>
            </div>
            <div class="table-responsive">
              <table class="table">
                <thead class="text-purple">
                  <tr>
                    <th class="text-purple">N°</th>
                    <th class="text-purple" style="text-align: left">
                      {{ "labels.nom" | translate }}
                    </th>
                    <th
                      class="text-purple"
                      style="text-align: right; padding-right: 31px"
                    >
                      {{ "labels.qte" | translate }}
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container
                    *ngFor="let article of top10articleQte; let i = index"
                  >
                    <tr>
                      <td>{{ i + 1 }}</td>
                      <td style="text-align: left">{{ article?.reference }}</td>
                      <td style="font-size: 1.1rem; text-align: right">
                        {{ article?.countOrders }}
                      </td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </div>
          </div>

          <div
            class="tab-pane fade show"
            id="nav-article-price"
            role="tabpanel"
            aria-labelledby="nav-article-price-tab"
          >
            <div class="title-header">
              <h5>
                {{ "labels.top10articlecmdprix" | translate }}
              </h5>
              <p>Liste des articles commandés et des prix</p>
            </div>
            <div class="table-responsive">
              <table class="table">
                <thead class="text-purple">
                  <tr>
                    <th class="text-purple">N°</th>
                    <th class="text-purple" style="text-align: left">
                      {{ "labels.nom" | translate }}
                    </th>
                    <th class="text-purple" style="text-align: right">
                      {{ "labels.prix" | translate }}
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container
                    *ngFor="let article of top10articlePrix; let i = index"
                  >
                    <tr>
                      <td>{{ i + 1 }}</td>
                      <td style="text-align: left">{{ article?.reference }}</td>
                      <td style="font-size: 1.1rem; text-align: right">
                        {{
                          article?.totalOrders | RoudingNumber | ShowCurrency
                        }}
                      </td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      [ngClass]="{
        'col-lg-12 col-xl-4': menu.opened,
        'col-md-12 col-lg-4': !menu.opened
      }"
    >
      <div class="cust-card cust-card--input">
        <div class="cust-card__head">
          <div class="title">Récapitulatif trésorerie</div>
        </div>
        <div class="cust-card__body">
          <div class="row">
            <div class="col-12">
              <div class="row">
                <div class="col-6">
                  <div class="info-bundle info-bundle--right float-right">
                    <span class="value value--positive">{{
                      0 | RoudingNumber | ShowCurrency
                    }}</span>
                    <span class="label">Encaissements actuels</span>
                  </div>
                </div>

                <div class="col-6">
                  <div class="info-bundle info-bundle--right float-right">
                    <span class="value value--positive">{{
                      0 | RoudingNumber | ShowCurrency
                    }}</span>
                    <span class="label">Reste à encaisser</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="row mt-1">
                <div class="col-6">
                  <div class="info-bundle info-bundle--right float-right">
                    <span class="value value--negative">{{
                      0 | RoudingNumber | ShowCurrency
                    }}</span>
                    <span class="label">Décaissements actuels</span>
                  </div>
                </div>

                <div class="col-6">
                  <div class="info-bundle info-bundle--right float-right">
                    <span class="value value--negative">{{
                      0 | RoudingNumber | ShowCurrency
                    }}</span>
                    <span class="label">Reste à dècaisser</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="row mt-1">
                <div class="col-6">
                  <div class="info-bundle info-bundle--right float-right">
                    <span class="value value--constant">{{
                      0 | RoudingNumber | ShowCurrency
                    }}</span>
                    <span class="label">Total actuel</span>
                  </div>
                </div>

                <div class="col-6">
                  <div class="info-bundle info-bundle--right float-right">
                    <span class="value value--constant">{{
                      0 | RoudingNumber | ShowCurrency
                    }}</span>
                    <span class="label">Total prévisionnel</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- #endregion -->
</div>

<custom-loader [displayLoader]="processing"></custom-loader>
