<div class="root">
    <div class="row">
        <div class="col">
            <div class="details">
                <div class="cust-card cust-card--padding">

                    <div class="cust-card__body">
                        <div class="body">

                            <div class="row">


                                <div class="col">
                                    <div class="cust-input-group">
                                        <div class="cust-label">{{ 'LABELS.NOM' | translate }} :</div>
                                        <div class="cust-labelGros"> {{ chantier?.name }} </div>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="cust-input-group">
                                        <div class="cust-label">{{ 'LABELS.CLIENT' | translate }} :</div>
                                        <div class="cust-labelGros"> {{ chantier?.client?.name }} </div>
                                    </div>
                                </div>


                                <div class="col">
                                    <div class="cust-input-group">
                                        <div class="cust-label">{{ 'LABELS.STATUS' | translate }} :</div>
                                        <!-- <div class="cust-input cust-input--select cust-input--status"
                                            [style.color]="getColor(data?.status)">
                                            <label class="cust-input__wrapper">
                                                <input class="cust-input__input" type="text"
                                                    [value]="chantier?.status | translate" disabled>
                                            </label>
                                        </div> -->
                                        <div class="cust-labelGros">
                                            <i class="fa fa-circle" [style.color]="getColor(chantier?.status)"
                                                aria-hidden="true"></i> {{ chantier?.status  | translate }} </div>
                                    </div>
                                </div>


                                <div class="col">
                                    <div class="cust-input-group">
                                        <div class="cust-label">{{ 'LABELS.DATE_CREATION' | translate }} :</div>
                                        <div class="cust-labelGros">
                                            {{ chantier?.createdOn    | date: 'dd/MM/yyyy h:mm' }} </div>
                                    </div>
                                </div>

                            </div>
                            <br>
                            <div class="row">

                                <div class="col">
                                    <div class="cust-input-group">
                                        <div class="cust-label">{{ 'LABELS.COMMENTAIRE' | translate }} :</div>
                                        <div class="cust-input cust-input--textarea">
                                            <label class="cust-input__wrapper">
                                                <textarea matInput class="cust-input__input" rows="5" readonly
                                                    [value]="(chantier?.comment == null || chantier?.comment == undefined) ? '':chantier?.comment"></textarea>
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="cust-input-group">
                                        <div class="cust-label">{{ 'LABELS.DESCRIPTION' | translate }} :</div>
                                        <div class="cust-input cust-input--textarea">
                                            <label class="cust-input__wrapper">
                                                <textarea matInput class="cust-input__input" rows="5" disabled
                                                    [value]="(chantier?.description == null || chantier?.description == undefined) ? '':chantier?.description"></textarea>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col"></div>
        <div class="col"></div>
    </div>
</div>

<br>
<br>
<div class="root2">
    <div class=" head row ">
        <div [ngClass]="{
            'col-lg-6 col-xl-6': menu.opened,
            'col-md-6 col-lg-6': !menu.opened
        }">
            <div class="cust-card cust-card--1">
                <div class="cust-card__body">
                    <div class="left">
                        <div class="top">
                            <span class="title">Sous traitance</span>
                        </div>
                    </div>
                    <div class="right">
                        <div>
                            <span class="chip chip--heure">{{ chantier?.totalHours }} H</span>

                        </div>
                        <div>
                            <span class="chip chip--text-heure">{{'labels.nombrHeure' | translate}}</span>

                        </div>
                        <div>
                            <span class="chip chip--montant">{{ chantier?.amount| RoudingNumber | ShowCurrency }}</span>
                        </div>
                        <div>
                            <span class="chip chip--text-montant">{{'labels.montant' | translate}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div [ngClass]="{
            'col-lg-6 col-xl-6': menu.opened,
            'col-md-6 col-lg-6': !menu.opened
        }">
            <div class="cust-card cust-card--2">
                <div class="cust-card__body">

                    <div class=" top">
                        <span class="title">{{'labels.tauxAvancement' | translate}}</span>
                    </div>

                    <div class=" bottom">
                        <app-slider [value]="tauxAvancement.currentValue || 0" (change)="onTauxUpdate($event)">
                        </app-slider>
                    </div>



                </div>
            </div>
        </div> -->
        <div [ngClass]="{
            'col-lg-6 col-xl-6': menu.opened,
            'col-md-6 col-lg-6': !menu.opened
        }">
            <div class="cust-card cust-card--2">
                <div class="cust-card__body">
                    <div class="leftn">
                        <div class="top">
                            <div class="info-bundle">
                                <span class="label">{{'labels.tauxAvancement' | translate}}</span>
                            </div>
                        </div>
                        <div class="bottom">
                            <!-- <div class="row">
                                <div class="col">
                                    <div class="cust-input-group">
                                        <div class="slider">
                                          
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                            <app-slider [value]="tauxAvancement?.currentValue || 0" [readOnly]="true">
                            </app-slider>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<br>

<!-- <custom-loader [displayLoader]="processing"></custom-loader> -->