<div class="modal-header">
    <h4 class="modal-title"> IMPORTER UN FICHIER</h4>
</div>

<div class="modal-body">

    <div class="row" style="margin: auto">
        <file-drop 
            dropZoneLabel="" 
            (onFileDrop)="dropped($event)" 
            [showBrowseBtn]="true"
            dropZoneClassName='custom-drop-file'
            browseBtnLabel="Choisir fichiers" 
            dropZoneLabel="">
        </file-drop>
    </div>

    <div class="table-responsive" *ngIf="file" >
        <table class="table">
            <thead>
                <tr>
                    <th>nom</th>
                </tr>
            </thead>
            <tbody class="upload-name-style">
                <tr>
                    <td>{{ file?.name }}</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>

<div class="modal-footer">

    <button 
        type="button" 
        class="btn btn-secondary" 
        data-dismiss="modal" 
        placement="top"
        (click)="modal.dismiss()"
        [ngbTooltip]="'labels.close' | translate">
        Fermer
    </button>

    <button 
        type="button" 
        class="btn btn-primary" 
        (click)="save()"
        [ngbTooltip]="'labels.sauvegarder' | translate">
        Sauvegarder
    </button>
    
</div>