.mat-menu-item {
  line-height: 38px;
  height: 38px;
}

.mat-menu-item .mat-icon {
  margin-right: 10px;
  font-weight: bold;
}


.pi {
  // color: var(--color-secondary-tint);
  // font-size: 1.6rem;

  background-color: white;
  border: 1px solid gainsboro;
  border-radius: 4px;

  padding: 8px;
  cursor: pointer;

  // transition-duration: 0.3s;
  // transition-property: background-color;

  &:hover {
    background-color: #eeeeee;
  }
}