<!-- Multi-column ordering table -->
<div class="content-header row">
  <div class="content-header-left col-md-6 col-12 mb-2">
    <!-- <h3 class="content-header-title mb-0">{{'list.title' | translate}}</h3> -->
  </div>
  <div class="content-header-right col-md-6 col-12">
    <div class="btn-group float-md-right" role="group" aria-label="Button group with nested dropdown">
      <a class="btn btn-new" (click)="LoadAddClientUser()" placement="bottom"
        ngbTooltip="{{'labels.nouveau' | translate}} utilisateur">{{'labels.nouveau'
      | translate}} <i class="ft-plus"></i></a>

    </div>
  </div>
</div>
<section id="multi-column">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-content collapse show">
          <div class="card-body init-card-body card-dashboard">

            <show-hide-table-columns [columns]="userTableColumns" [tableName]="'usersTable'"
              [btnLabel]="'Afficher_Masquées_Les_Colonnes' | translate" [showAll]=" 'list.montreTout'  | translate"
              [showNone]=" 'list.montrerAucun'  | translate" [checkedColumns]="checkedColumns"
              (selectColumn)="SetCheckedColmuns($event)">
            </show-hide-table-columns>
            <div class="table-with-overflow">
              <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                class="table table-striped table-bordered" id="usersTable" style="width:100%;padding-right: 1rem;">
                <thead>
                  <tr>
                    <th>{{'labels.nom' | translate }}</th>
                    <th>{{'labels.prenom' | translate }}</th>
                    <th>Actif</th>
                    <th>Dernière connexion</th>
                    <th>Date de création</th>
                    <th>Nom d'utilisateur</th>
                    <th style="text-align:center">{{'labels.action' | translate }}</th>
                  </tr>
                </thead>
                <tbody *ngIf="Users?.list?.length > 0">
                  <tr *ngFor="let user of Users?.list;let i = index" (dblclick)="doubleClick(user?.id)">
                    <td [hidden]="checkedColumns[0]">{{ user?.nom }}</td>
                    <td [hidden]="checkedColumns[1]">{{ user?.prenom }}</td>
                    <td [hidden]="checkedColumns[2]">
                      <ng-container *ngIf="user?.actif == usersProfil.desactiver">
                        {{'labels.non' | translate}}
                      </ng-container>
                      <ng-container *ngIf="user?.actif == usersProfil.activer">
                        {{'labels.oui' | translate}}
                      </ng-container>
                    </td>
                    <td [hidden]="checkedColumns[3]">
                      {{ user?.dernierecon | date : 'dd/MM/yyyy HH:mm' }}</td>
                    <td [hidden]="checkedColumns[4]">{{ user?.joinDate | date : 'dd/MM/yyyy' }}</td>
                    <td [hidden]="checkedColumns[5]" class="display-price">{{ user?.username }}</td>
                    <td class="actions" [hidden]="checkedColumns[0]">
                      <div class="btn-group" role="group">
                        <button type="button" class="btn btn-danger btn-md btn-actions" (click)="delete(user?.id,i)"
                          placement="bottom" [container]="'body'"
                          ngbTooltip="{{'labels.supprimer' | translate }} {{'labels.utilisateur' | translate }}">
                          <i class="ft-trash-2"></i>
                        </button>
                        <button type="button" class="btn btn-warning btn-md btn-actions" data-toggle="modal"
                          placement="bottom" [container]="'body'" ngbTooltip="{{'labels.changeThePassword' | translate }}"
                          data-target="#changePassword" (click)="setUserIdInlocalStorage(user?.id)">
                          <i class="fa fa-key"></i>
                        </button>
                      </div>
                    </td>
                  </tr>
                </tbody>
                <tbody *ngIf="Users?.list?.length == 0">
                  <tr>
                    <td colspan="10" class="no-data-available">{{'noDataAvaible' | translate}}</td>
                  </tr>
                <tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/ Multi-column ordering table -->

<!-- Modal -->
<!-- <change-password></change-password> -->

<custom-loader [displayLoader]="processing"></custom-loader>