@media only screen and (min-width: 1300px) {
  show-hide-table-columns {
    position: relative !important;
    float: right !important;
  }
}

@media only screen and (max-width: 1300px) {
  show-hide-table-columns {
    position: relative !important;
    margin-bottom: 5rem !important;
    top: -2rem !important;
  }
}

.select-type-user {
  position: absolute;
  left: 0;
  width: 100%;
  box-sizing: content-box;
  background: none;
  border: 1px #babfc7 solid;
  box-shadow: none;
  outline: 0;
  cursor: default;
  height: 2rem;
}

label {
  font-size: 1rem !important;
  font-weight: bold !important;
  line-height: 2 !important;
}

.no-data-available {
  text-align: center;
}
.btn-group {
  float: left;
}

/*  css table**/
.dataTables_filter .form-control-sm {
  border-radius: 0px;
  padding: 16px;
  //background: $gray-dark url(../../assets/images/search.png) no-repeat scroll 3px 5px;
  border-color: #d3d1d2 !important;
  z-index: 0;
  padding-left: 30px;
}
.table thead th {
  font-family: "Jura", sans-serif;
}
.table td {
  ul {
    margin: 0px !important;
    padding: 0px 13px !important;
  }

  ul li {
    line-height: 1.3 !important;
  }
}
.table tbody + tbody {
  border-top: none !important;
}
table.dataTable {
  border-collapse: collapse !important;
}
.table-white-space {
  th,
  td {
    white-space: nowrap;
  }
}

.table-borderless {
  td,
  th {
    border: none;
  }
}

.table thead th {
  vertical-align: bottom;
  border-bottom: none;
  border-top: none;
  color: #929091;
  font-weight: lighter;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 400;
}
.table td {
  padding: 0.75rem;
  vertical-align: middle;
  border-top: 1px solid #98a4b8;
  color: #000;
  font-weight: 400;
  font-size: 1rem;
}
.table-bordered {
  th,
  td {
    border: none;
  }
}
.table-striped {
  tbody tr:nth-of-type(odd) {
    background-color: #e9e9e9;
  }
}

.table-bordered {
  border: none;
}

.table-inverse {
  color: #eceeef;
  // background-color: #00A5A8;
}

.table {
  &.table-column {
    th,
    td {
      border-bottom: none;
      border-left: 1px solid #e3ebf3;
    }
    th:first-child,
    td:first-child {
      border-left: 1px solid #e3ebf3;
    }
  }
  th,
  td {
    padding: 0.75rem 2rem;
  }
  &.table-xl {
    th,
    td {
      padding: 1.25rem 2rem;
    }
  }
  &.table-lg {
    th,
    td {
      padding: 0.9rem 2rem;
    }
  }
  &.table-de {
    th,
    td {
      padding: 0.75rem 2rem;
    }
  }
  &.table-sm {
    th,
    td {
      padding: 0.6rem 2rem;
    }
  }
  &.table-xs {
    th,
    td {
      padding: 0.4rem 2rem;
    }
  }
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
  color: #929091 !important;
  font-family: "Jura", sans-serif !important;
}
.dataTables_info {
  color: #929091;
}

.table tbody + tbody {
  border-top: none !important;
}
table.dataTable {
  border-collapse: collapse !important;
}
.borV {
  border-left: 15px solid #3eb93c;
  td:first-child {
    position: relative;
    &::after {
      content: " ";
      position: absolute;
      width: 15px;
      height: 2px;
      left: -15px;
      bottom: -1px;
      background-color: white;
    }
  }
}
.borA {
  border-left: 15px solid #cbe20e;
  td:first-child {
    position: relative;
    &::after {
      content: " ";
      position: absolute;
      width: 15px;
      height: 2px;
      left: -15px;
      bottom: -1px;
      background-color: white;
    }
  }
}

.borNV {
  border-left: 15px solid #ed1b24;
  td:first-child {
    position: relative;
    &::after {
      content: " ";
      position: absolute;
      width: 15px;
      height: 2px;
      left: -15px;
      bottom: -1px;
      background-color: white;
    }
  }
}
.borEC {
  border-left: 15px solid #00d2d3;
  td:first-child {
    position: relative;
    &::after {
      content: " ";
      position: absolute;
      width: 15px;
      height: 2px;
      left: -15px;
      bottom: -1px;
      background-color: white;
    }
  }
}
.borB {
  border-left: 15px solid #636e72;
  td:first-child {
    position: relative;
    &::after {
      content: " ";
      position: absolute;
      width: 15px;
      height: 2px;
      left: -15px;
      bottom: -1px;
      background-color: white;
    }
  }
}
.borR {
  border-left: 15px solid #a54a50;
  td:first-child {
    position: relative;
    &::after {
      content: " ";
      position: absolute;
      width: 15px;
      height: 2px;
      left: -15px;
      bottom: -1px;
      background-color: white;
    }
  }
}
div.dataTables_wrapper div.dataTables_processing {
  background-color: #a54a50 !important;
  color: #fff !important;
  width: 25em !important;
  padding: 3rem 0rem !important;
  opacity: 0.95 !important;
  text-align: center;
  position: absolute;
  top: 15%;
  left: 35%;
}

.btn-new {
  border-color: #009688 !important;
  background-color: #009688 !important;
  color: #ffffff !important;
}
