.root {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .left {
    display: flex;
    align-items: center;

    .label {
      margin: 0;
      padding: 0;

      font-family: Qanelas;
      font-size: 14px;
      letter-spacing: 0px;
      color: #494948;
    }
  }

  .right {
    display: flex;
    align-items: center;

    .radial-btn {
      margin-left: 5px;
    }
  }

  .dropdown {
    margin-left: 8px;
  }

  .radial-btn {
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: white;
    border: 1px solid #8898aa80;
    border-radius: 50%;

    height: 25px;
    width: 25px;

    transition-property: background-color box-shadow;
    transition-duration: 0.2s;

    .fa {
      color: #05658d;
      font-size: 12px;

      margin: 0 !important;
    }

    span {
      color: #05658c;

      font-family: qanelas;
      font-size: 13px;
      font-weight: bold;

      transition-duration: 0.2s;
      transition-property: color;
    }

    &:hover {
      background-color: #f1f3f9;
    }

    &--active {
      cursor: default;

      background: #05658d 0% 0% no-repeat padding-box;
      box-shadow: 0px 3px 6px #2c28281c;

      span {
        color: white;
      }

      &:hover {
        background: #05658d 0% 0% no-repeat padding-box;
      }
    }

    &--disabled {
      pointer-events: none;
      border-color: #8898aa80;

      span,
      .fa {
        color: #8898aa80;
      }

      &:hover {
        background: #05658d 0% 0% no-repeat padding-box;
      }
    }

    &--up {
      span,
      .fa {
        position: relative;
        top: -1px;
      }
    }

    &--right {
      span,
      .fa {
        position: relative;
        right: -1px;
      }
    }

    &--left {
      span,
      .fa {
        position: relative;
        left: -1px;
      }
    }
  }
}
