<div class="axiobat-modal">
  <div class="root">

    <!-- #region Head -->
    <div class="head">

      <div class="left">
        <div class="title">
          {{ 'labels.mouvementCompte'  | translate }}

        </div>
      </div>

      <div class="right">
        <div id="annuler" class="cust-button cust-button--secondary" (click)="close()">
          <span>{{ 'labels.cancel' | translate }}</span>
        </div>

        <div id="valider" class="cust-button cust-button--success" (click)="saveMovement()">
          <span>Valider</span>
        </div>
      </div>

      <div class="close" (click)="close()">
        <img src="./assets/app/images/Icons/x.svg" alt="Close button">
      </div>
    </div>
    <!-- #endregion -->

    <!-- #region Body -->
    <div class="body">
      <form [formGroup]="form">
        <div class="row">
          <div class="col">
            <div class="cust-input-group">
              <div class="cust-label">{{ 'labels.moyenPaiement' | translate }} :</div>
              <div class="cust-input cust-input--select">
                <label class="cust-input__wrapper">
                  <mat-select formControlName="idModePaiement">
                    <mat-option *ngFor="let modeRegelement of modesRegelement;let i = index"
                      [value]="modeRegelement?.id">{{ modeRegelement?.value }}
                    </mat-option>
                  </mat-select>
                </label>
              </div>
              <small class="text-danger"
                *ngIf="f?.idModePaiement?.errors?.required">{{'errors.required' | translate }}</small>
            </div>
          </div>
        </div>

        <div *ngIf="dateLang" class="row mt-2">
          <div class="col">
            <div class="cust-input-group">
              <div class="cust-label">{{ 'labels.date' | translate }} :</div>
              <div class="cust-input cust-input--date">
                <label class="cust-input__wrapper">
                  <input class="cust-input__input" #fromInput matInput [matDatepicker]="dateCreation"
                    [placeholder]="'Date Début'" formControlName="datePaiement">
                  <mat-datepicker-toggle matSuffix [for]="dateCreation">
                  </mat-datepicker-toggle>
                  <mat-datepicker #dateCreation></mat-datepicker>
                </label>
              </div>
              <small class="text-danger"
                *ngIf="f?.datePaiement?.errors?.required">{{'errors.required' | translate }}</small>
            </div>
          </div>
        </div>
        <div class="row form-group mt-2">
          <div class="col-md-12">
            <div class="cust-input-group">
              <div class="cust-label">{{ 'labels.compteDebiter' | translate }} :</div>
              <div class="cust-input cust-input--select">
                <label class="cust-input__wrapper">
                  <mat-select formControlName="idCompteDebit">
                    <mat-option *ngFor="let compte of comptes;let i = index" value="{{compte?.id}}">
                      {{compte?.label}}
                    </mat-option>
                  </mat-select>
                </label>
              </div>
              <small class="text-danger"
                *ngIf="f?.idCompteDebit?.errors?.required">{{'errors.required' | translate }}</small>
            </div>
          </div>
        </div>


        <div class="row form-group mt-2">
          <div class="col-md-12">
            <div class="cust-input-group">
              <div class="cust-label">{{ 'labels.compteCredit' | translate }} :</div>
              <div class="cust-input cust-input--select">
                <label class="cust-input__wrapper">
                  <mat-select formControlName="idCompteCredit">
                    <mat-option *ngFor="let compte of comptes;let i = index" value="{{compte?.id}}">
                      {{compte?.label}}
                    </mat-option>
                  </mat-select>
                </label>
              </div>
              <small class="text-danger"
                *ngIf="f?.idCompteCredit?.errors?.required">{{'errors.required' | translate }}</small>
            </div>
          </div>
        </div>

        <div class="row form-group mt-2">
          <div class="col-md-12">
            <div class="cust-input-group">
              <div class="cust-label">{{ 'labels.montant' | translate }} :</div>
              <div class="cust-input cust-input--numero">
                <label class="cust-input__wrapper">
                  <input formControlName="montant" [value]="f?.montant?.value | RoudingNumberInput" type="number"
                    class="cust-input__input" style="text-align: left;">
                </label>
              </div>
              <small class="text-danger" *ngIf="f?.montant?.errors?.required">{{'errors.required' | translate }}</small>
              <small class="text-danger"
                *ngIf="f?.montant?.hasError('CheckValidPrice')">{{'errors.invalid' | translate }}</small>
            </div>
          </div>
        </div>

        <!-- <div class="row form-group mt-2">
                  <div class="col-md-12">
                      <div class="cust-input-group">
                          <div class="cust-label">{{ 'labels.description' | translate }} :</div>
                          <div class="cust-input cust-input--textarea">
                              <label class="cust-input__wrapper">
                                  <textarea class="cust-input__input" formControlName="description"></textarea>
                              </label>
                          </div>
                      </div>
                  </div>
              </div> -->
      </form>
    </div>
    <!-- #endregion -->
  </div>
</div>