.colorVert {
  color: #8bd0ad;
}

.axiobat-modal {
  border-radius: 10px;
}

.root {
  .head {
    position: relative;

    display: grid;
    grid-template-columns: 1fr 274px;
    align-items: center;

    padding: 20px 34px;
    border-bottom: 1px solid #d9dde1;

    .left {
      .title {
        font-family: qanelas;
        font-size: 19px;
        font-weight: bold;

        text-align: left;
        letter-spacing: 0px;
        color: #494948;
      }
    }

    .right {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .cust-button {
        margin-left: 10px;
      }
    }

    .close {
      cursor: pointer;
      opacity: 0.4;

      position: absolute;
      right: 8px;
      top: 6px;

      transition-duration: 0.2s;
      transition-property: opacity;

      img {
        width: 20px;
      }

      &:hover {
        opacity: 0.6;
      }
    }
  }

  .body {
    padding: 20px 34px;

    .row {
      &:not(:first-of-type) {
        margin-top: 20px;
      }
    }

    .timepicker {
      text-align: center;
    }

    .slider {
      margin-bottom: 25px;
    }
  }
}
