<div class="root">
  <div class="row">
    <div class="col">
      <div class="details">
        <div class="cust-card cust-card--padding">

          <div class="cust-card__head">

            <div class="left">
              <div class="title">
                Ajouter
              </div>

            </div>

            <div class="right flexcontrols">
              <div class="flexcontrols">

                <div id="annuler"
                  class="cust-button cust-button--secondary"
                  (click)="onClose()">
                  <span> Annuler </span>
                </div>

                <div id="valider"
                  class="cust-button cust-button--success"
                  (click)="onValidate()">
                  <span>Valider</span>
                </div>
              </div>


            </div>
          </div>

          <div class="cust-card__body">
            <div class="body">
              <form [formGroup]="form">

                <div class="row">

                  <div class="col">
                    <div class="cust-input-group">
                      <div class="cust-label"> Titre </div>
                      <div class="cust-input">
                        <label class="cust-input__wrapper">
                          <input class="cust-input__input"
                            id="add-title-form-btn"
                            placeholder="Ajouter un titre"
                            type="text"
                            formControlName="title">
                        </label>
                      </div>
                      <small class="text-danger"
                        *ngIf="f?.title?.errors?.required">{{'errors.required' | translate }}</small>
                    </div>
                  </div>

                </div>

                <br>

                <div class="date-row upper-row">
                  <div class="col">
                    <div class="simple-datepicker">
                      <input readonly
                        formControlName="date"
                        matInput
                        [matDatepicker]="picker1">
                      <mat-datepicker-toggle matSuffix
                        [for]="picker1">
                        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                      </mat-datepicker-toggle>
                      <mat-datepicker #picker1></mat-datepicker>
                    </div>
                  </div>

                  <div class="col">
                    <label class="checkbox">
                      <input formControlName="allDayLong"
                        type="checkbox">
                      <span>Toute la journée</span>
                    </label>
                  </div>
                </div>

                <div *ngIf="!f?.allDayLong?.value"
                  class="row">
                  <div class="col">
                    <div class="timepicker">
                      <ngb-timepicker [(ngModel)]="time"
                        [seconds]="false"
                        [ngModelOptions]="{standalone: true}"
                        [hourStep]="1"
                        [minuteStep]="15"> </ngb-timepicker>
                    </div>
                  </div>
                </div>

                <div class="row"
                  *ngIf="!f?.allDayLong?.value">
                  <div class="col">
                    <div class="cust-input-group">
                      <div class="cust-input cust-input--select">
                        <label class="cust-input__wrapper">

                          <mat-select id="add-dure-form-btn"
                            class="cust-input__input"
                            formControlName="dure">
                            <mat-option *ngFor="let dure of dures"
                              [value]="dure">{{ dure }} </mat-option>
                          </mat-select>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <br>


                <div class="row">
                  <div class="col">
                    <div class="cust-input-group">
                      <div class="cust-label"> Client </div>
                      <div class="cust-input cust-input--select">
                        <label class="cust-input__wrapper">
                          <mat-select id="add-client-chantier-form-btn"
                            class="cust-input__input"
                            (openedChange)="getPhone(f?.clientId?.value)"
                            formControlName="clientId">
                            <mat-option>
                              <ngx-mat-select-search ngModel
                                (ngModelChange)="filterclient($event)"
                                placeholderLabel="Rechercher"
                                noEntriesFoundLabel="aucun élément trouvé"
                                [ngModelOptions]="{standalone: true}">
                              </ngx-mat-select-search>
                            </mat-option>
                            <mat-option class="mat-add"
                              id="add-add-client-form-btn"
                              (click)="addClient()">
                              <span class="colorVert">Nouveau client</span>
                              <img src="./assets/app/imgs/addVert.png"
                                alt="Plus icon">
                            </mat-option>
                            <mat-option *ngFor="let client of clients"
                              [value]="client.id">{{ client?.reference }} :
                              {{ client?.name }} </mat-option>
                          </mat-select>
                        </label>
                      </div>
                      <small class="text-danger"
                        *ngIf="type !== AgendaTypeFilter.Taches && f?.clientId?.errors?.required">{{'errors.required' |
          translate }}</small>
                    </div>
                  </div>

                  <div class="col"
                    *ngIf="type === AgendaTypeFilter.Rappels">
                    <div class="cust-input-group">
                      <div class="cust-label"> Téléphone </div>
                      <div class="cust-input">
                        <label class="cust-input__wrapper">
                          <input class="cust-input__input"
                            id="add-telephone-form-btn"
                            type="text"
                            formControlName="phoneNumber">
                        </label>
                      </div>
                    </div>
                  </div>

                  <div class="col">
                    <div class="cust-input-group">
                      <div class="cust-label"> Utilisateur </div>
                      <div class="cust-input cust-input--select">
                        <label class="cust-input__wrapper">

                          <mat-select formControlName="technicianId"
                            id="add-client-technicien-form-btn"
                            class="cust-input__input">
                            <mat-option>
                              <ngx-mat-select-search ngModel
                                (ngModelChange)="filterTechnicien($event)"
                                placeholderLabel="Rechercher"
                                noEntriesFoundLabel="aucun élément trouvé"
                                [ngModelOptions]="{standalone: true}">
                              </ngx-mat-select-search>
                            </mat-option>
                            <mat-option *ngFor="let technichien of technichiens"
                              [value]="technichien.id">
                              {{ technichien?.lastName + ' ' + technichien?.firstName }}</mat-option>
                          </mat-select>
                        </label>
                      </div>
                      <small class="text-danger"
                        *ngIf="f?.technicianId?.errors?.required">{{'errors.required' |
          translate }}</small>
                    </div>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col"
                    *ngIf="type === AgendaTypeFilter.Taches || type ===  AgendaTypeFilter.Evenements">
                    <div class="cust-input-group">
                      <div class="cust-label"> Chantier </div>
                      <div class="cust-input cust-input--select">
                        <label class="cust-input__wrapper">

                          <mat-select id="add-chantier-form-btn"
                            class="cust-input__input"
                            formControlName="workshopId">
                            <mat-option>
                              <ngx-mat-select-search ngModel
                                (ngModelChange)="filterchantier($event)"
                                placeholderLabel="Rechercher"
                                noEntriesFoundLabel="aucun élément trouvé"
                                [ngModelOptions]="{standalone: true}">
                              </ngx-mat-select-search>
                            </mat-option>
                            <mat-option *ngFor="let chantier of chantiers"
                              [value]="chantier.id">{{ chantier?.name }}
                            </mat-option>
                          </mat-select>
                        </label>
                      </div>
                    </div>
                  </div>

                  <div class="col">
                    <div class="cust-input-group">
                      <div class="cust-label"> Type </div>
                      <div class="cust-input cust-input--select">
                        <label class="cust-input__wrapper">

                          <mat-select id="add-type-form-btn"
                            class="cust-input__input"
                            formControlName="type">
                            <mat-option *ngFor="let type of types"
                              [value]="type.value">{{ type.value }} </mat-option>
                          </mat-select>
                        </label>
                      </div>
                    </div>
                  </div>

                  <!-- Status -->
                  <div class="col"
                    *ngIf="!isAdd">
                    <div class="cust-input-group">
                      <div class="cust-label"> Status </div>
                      <!-- <div class="cust-label">{{ 'labels.status' | translate }} </div> -->
                      <div class="cust-input cust-input--select cust-input--status"
                        [style.color]="getColor(selectedStatus)">
                        <label class="cust-input__wrapper">
                          <mat-select id="add-status-document-form-btn"
                            *ngIf="status.length !== 0"
                            class="cust-input__input"
                            [panelClass]="'cust-menu--status'"
                            [value]="selectedStatus"
                            (valueChange)="onStatusChanged($event)">
                            <mat-option *ngFor="let stts of status; let i = index"
                              id="add-status-document"
                              [style.color]="getColor(stts)"
                              [value]="stts">{{ stts | translate  }}</mat-option>
                          </mat-select>
                          <input *ngIf="status.length === 0"
                            class="cust-input__input"
                            id="add-status-document-form-btn"
                            type="text"
                            [value]="selectedStatus | translate"
                            disabled>
                        </label>
                      </div>
                    </div>
                  </div>

                </div>

                <br>

                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group row">
                      <label class="col-md-12 label-control"
                        for="note"> Description </label>
                      <div class="col-md-12">
                        <app-input-textarea id="note"
                          [controlParent]="form"
                          [readOnly]="false"
                          [controlName]="'object'"
                          [label]="'LABELS.NOTE' | translate">
                        </app-input-textarea>
                      </div>
                    </div>
                  </div>
                </div>

                <br>


                <div class="row">

                  <div class="col"
                    *ngIf="type === AgendaTypeFilter.Taches">
                    <div class="cust-input-group">
                      <div class="cust-label"> Priorité </div>
                      <div class="cust-input cust-input--select">
                        <label class="cust-input__wrapper">
                          <mat-select id="add-Priorité-form-btn"
                            class="cust-input__input"
                            formControlName="priorite">

                            <mat-option *ngFor="let priorite of listpriorite"
                              [value]="priorite.label">
                              {{ priorite.label }}
                            </mat-option>
                          </mat-select>
                        </label>
                      </div>

                    </div>
                  </div>

                  <div class="col"
                    *ngIf="type === AgendaTypeFilter.Rappels">
                    <div class="cust-input-group">
                      <div class="cust-label"> Contacts </div>
                      <div class="cust-input cust-input--select">
                        <label class="cust-input__wrapper">
                          <mat-select id="add-contacts-form-btn"
                            class="cust-input__input"
                            [compareWith]="compareWithContact"
                            [(ngModel)]="contactsList"
                            formControlName="contact"
                            multiple>

                            <mat-option *ngFor="let contact of listContacts"
                              [value]="contact">
                              {{ contact.firstName + contact.lastName  }}
                            </mat-option>
                          </mat-select>
                        </label>
                      </div>

                    </div>
                  </div>

                  <div class="col"
                    *ngIf="type === AgendaTypeFilter.Evenements">
                    <div class="cust-input-group">
                      <div class="cust-label"> Adressess </div>
                      <div class="cust-input cust-input--select">
                        <label class="cust-input__wrapper">
                          <mat-select id="add-contacts-form-btn"
                            class="cust-input__input"
                            [compareWith]="compareWithFn"
                            [(ngModel)]="adresseList"
                            formControlName="adresse"
                            multiple>

                            <mat-option *ngFor="let adresse of listAdresse"
                              [value]="adresse">
                              {{ adresse.designation }}
                            </mat-option>
                          </mat-select>
                        </label>
                      </div>

                    </div>
                  </div>

                </div>


              </form>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
