.root {
  display: inline-flex;
  align-items: center;

  .divider {
    font-family: qanelas;
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 0px;

    color: #494948;
    margin: 0 5px;
  }

  .hours,
  .minutes {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .top {
    margin-bottom: -10px;

    img {
      transform: rotateX(180deg);
    }
  }

  .bottom {
    margin-top: -10px;
  }

  .top,
  .bottom {
    position: relative;

    img {
      cursor: pointer;

      opacity: 0.4;
      width: 30px;

      transition-duration: 0.2s;
      transition-property: opacity;

      &:hover {
        opacity: 0.6;
      }
    }
  }

  .value {
    font-family: qanelas;
    font-size: 32px;
    font-weight: bold;

    letter-spacing: 0px;
    text-align: left;

    color: #494948;
  }
}
