<div class="row">
    <div class="col main-col" [ngClass]="{ 'collapsed-col': !actionsOpened }">
        <div class="row">
            <div class="root col">
                <div class="details">
                    <div class="cust-card cust-card--padding">
                        <div class="cust-card__head">
                            <div class="left">
                                <div class="title"> {{ document?.reference}}
                                </div>
                            </div>
                            <div>
                                <mat-tab-group mat-align-tabs="center" (selectedTabChange)="tabs($event)">
                                    <mat-tab data-name="information" [label]="'LABELS.INFORMATIONS' | translate"
                                        (click)="modifier()">

                                    </mat-tab>

                                    <!-- note -->
                                    <mat-tab data-name="note" [label]="'LABELS.NOTES' | translate">

                                    </mat-tab>

                                    <!-- email -->
                                    <mat-tab data-name="email" [label]="'LABELS.EMAILS' | translate">

                                    </mat-tab>

                                    <!-- History -->
                                    <mat-tab data-name="historique" [label]="'LABELS.HISTORIQUE' | translate">

                                    </mat-tab>

                                </mat-tab-group>
                            </div>

                            <!-- Right controls -->
                            <div class="right flexcontrols menu-points-beta">

                                <div id="modifier" class="cust-button cust-button--success" (click)="modifier()">
                                    <span>Modifier</span>
                                </div>

                                <!-- <div>
									<button mat-icon-button [matMenuTriggerFor]="menu" class="cust-button btnTrigger">
										<mat-icon>more_vert</mat-icon>
									</button>
									<mat-menu #menu="matMenu">
										<div *ngFor="let item of items">
											<button mat-menu-item *ngIf="item.appear(document)" (click)="item.action(document)">
												<span>{{ item.label | translate }} </span>
											</button>
										</div>
									</mat-menu>
								</div> -->
                            </div>
                        </div>

                        <div class="cust-card__body" *ngIf="selectedTabs !== 'information'">


                            <div *ngIf="selectedTabs === 'note'">
                                <common-memos [memos]="memos" (valueChange)="saveMemo($event)"
                                    (download)="downloadPieceJointe($event)" [processIsStarting]="processing">
                                </common-memos>
                            </div>
                            <div *ngIf="selectedTabs === 'email'">
                                <historique-emails [emails]="emails"></historique-emails>
                            </div>
                            <div *ngIf="selectedTabs === 'historique'">
                                <common-historiques [historique]="historique"></common-historiques>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div *ngIf="selectedTabs === 'information'" class="col">
                <app-fiche-ficheIntervention [data]="document"></app-fiche-ficheIntervention>
            </div>
        </div>

    </div>
    <div class="col side-col">
        <app-actions [actions]="items" [document]="document" (toggeled)="onToggle($event)"></app-actions>
    </div>
</div>

<custom-loader [displayLoader]="processing"></custom-loader>