.indx {
    z-index: -1;
}
.indx {
    z-index: -1;
}

.menu-points-beta {
    width: 120px;

    .cust-button--success {
        float: left;
    }
}

.btnTrigger {
    float: right;
    padding: 0;
}

.side-col {
    flex: 0;
}

.main-col {
    max-width: calc(100% - 330px);
}

.collapsed-col {
    max-width: calc(100% - 130px) !important;
}
