.axiobat-modal {
  border-radius: 10px;
}
.flexcontrols {
  display: flex;
  div:last-of-type {
    margin-left: 10px;
  }
}

.rich-text-value {
  border: 1px #f7f7f7 solid;
  padding: 1.5rem 1rem;
  min-height: 5rem;
  background-color: #f7f7f7;
}
