<div class="d-flex flex-row-reverse" style="margin-top: 5px;">
  <button 
    class="btn btn-primary" 
    (click)="addContract()"> 
    <i class="fa fa-plus"></i></button>
</div>

<!-- .................................................................................. -->
<div class="row">
<!-- .................................................................................. -->
<div class="list-group col-md-12">
  <!-- .................................................................................. -->
  <a href="JavaScript:void(0);" 
    class="list-group-item list-group-item-action flex-column align-items-start"
    *ngFor="let contract of contratEntretien?.publishingContracts;let i=index">
    <!-- .................................................................................. -->
    <span class="font-medium-1" >{{ contract?.title }}</span>
    <!-- .................................................................................. -->
    <div class="float-right">
      <!-- .................................................................................. -->
      <button 
        type="button" 
        class="btn btn-transparent btn-md btn-actions" 
        placement="bottom"
        [container]="'body'" 
        (click)="downloadAction(contract?.id)"
        ngbTooltip="visualiser">
        <i class="fa fa-download icon-warning"></i>
      </button>
      <!-- .................................................................................. -->
      
      <!-- .................................................................................. -->
      <button 
        type="button" 
        class="btn btn-transparent btn-md btn-actions" 
        placement="bottom"
        [container]="'body'" 
        (click)="fillTagsAction(i)"
        ngbTooltip="Remplir les balises">
        <i class="ft-file-text icon-primary"></i>
      </button>
      <!-- .................................................................................. -->
      
      <!-- .................................................................................. -->
      <button 
        type="button" 
        class="btn btn-transparent btn-md btn-actions" 
        placement="bottom"
        [container]="'body'"
        (click)="deleteAction(i)"
        ngbTooltip="Supprimer">
        <i class="ft-trash-2 icon-danger"></i>
      </button>
      <!-- .................................................................................. -->
      
    </div>
    <!-- .................................................................................. -->
  </a>
  <!-- .................................................................................. -->
</div>
<!-- .................................................................................. -->
</div>
<!-- .................................................................................. -->