<div class="body-login">
  <div class="row row-first">

    <div class="col-sm-7 col-row col-form">

      <div class="container">
        <div class="row">

          <div class="col-md-12 d-flex">
            <div class="card border-grey border-lighten-3 m-auto">
              <div class="card-header border-0">
                <div class="card-title text-center">
                  <div class="p-1">
                    <img src="assets/app/images/logo/Logo-3.png" style="width: 25%" alt="branding logo">
                  </div>
                </div>
              </div>
              <div class="card-content">
                <form class="form" role="form" autocomplete="off" [formGroup]="form">

                  <div class="card-body">
                    <div class="cust-input-group">
                      <div class="cust-label">
                        {{ 'changePassword.msg' | translate }}
                      </div>
                      <div class="cust-input">
                        <label class="cust-input__wrapper">
                          <show-hide-password icon="fa fa eye" btnStyle="primary" [btnOutline]="false">
                            <input type="password" formControlName="password" id="password"
                              id="inlineFormInputGroup" placeholder="{{ 'changePassword.password' | translate }}">
                          </show-hide-password>

                        </label>
                      </div>

                      <div class="form-control-position">
                        <ng-container *ngIf="form.touched && form.controls.password.errors != null">
                          <p style="padding: 1.5vw 0vw 0vw 0vw;color: red;">
                            {{ 'changePassword.minLengthErrors' | translate }}
                          </p>
                        </ng-container>
                      </div>

                    </div>

                    <div id="valider" class="cust-button cust-button--default" (click)="recover()">
                      <span>{{ 'changePassword.save' | translate }}</span>
                    </div>

                  </div>

                  <div class="card-footer border-0 pt-0">
                    <div class="text-center">
                      <a [routerLink]="[ '/login']" class="card-link">
                        {{'LABELS.CANCEL' | translate }}
                      </a>
                    </div>
                  </div>

                </form>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="col-sm-5 col-row body-animation">
      <img src="assets/app/images/login/animate-login.svg" />
    </div>
  </div>
</div>