
        <div class="modal-content">
            <div class="modal-header bg-primary white">

                <h4 class="modal-title">
                    {{'groupes.modifierGroupe' | translate }}
                </h4>

                <button type="button" class="close" aria-label="Close" id="edit-close-groupe-btn" (click)="close()">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>
            <div class="modal-body">
                <form class="form form-horizontal" [formGroup]="form" (ngSubmit)="update()">
                    <div class="form-body">

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label class="col-md-3 label-control">{{ 'groupes.Nom' | translate }}</label>
                                    <div class="col-md-7">
                                        <input type="text" formControlName="Name" class="form-control" id="edit-name-groupe-btn"
                                            placeholder="{{ 'groupes.Nom' | translate }}">
                                        <small class="text-danger"
                                            *ngIf="f?.Name?.errors?.required">{{'errors.required'|translate }}</small>
                                        <small class="text-danger"
                                            *ngIf="f?.Name?.hasError('checkUniqueNom')">{{'errors.unique' | translate }}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn grey btn-light" placement="bottom" (click)="close()"
                    ngbTooltip=" {{'labels.cancel' | translate}}"> {{'labels.cancel' | translate}} </button>
                <button type="button" (click)="update()" class="btn btn-success btn-lg" [disabled]="!form.valid" id="edit-update-groupe-btn"
                    placement="bottom" ngbTooltip="{{ 'labels.modifier' | translate }}">
                    {{ 'labels.valider' | translate }} </button>
            </div>
        </div>
