<div class="root">
    <div class="display-table">

        <!-- #region Display head -->
        <div class="display-table__head">
            <!-- Left controls-->
            <div class="left">


            </div>
            <!-- Right controls -->
            <div class="right">
                <div class="cust-button cust-button--secondary" *ngIf="showBtnAdd" (click)="navigateTo()"
                    placement="bottom" ngbTooltip="créer une facture d'acompte">
                    <span> Créer facture d'acompte <i class="ft-plus"></i> </span>
                </div>
            </div>
        </div>
        <!-- #endregion -->

        <!-- #region Display body -->
        <div class="display-table__body">
            <table class="chantier-table">
                <thead>
                    <tr>
                        <th *ngFor="let column of factureTableColumns;let i= index">
                            <div class="th-wrapper">
                                <span> {{ column.nameTranslate | translate | uppercase }}</span>
                                <!-- <div class="sort" *ngIf="column.isOrder">
                                    <i class="fa fa-chevron-up" [ngClass]="{
                                        'active': state.SortDirection === sortDirection.Ascending && column.name === state.OrderBy,
                                        'inactive': state.SortDirection === sortDirection.Descending
                                    }" (click)="sortChange(sortDirection.Ascending,column.name)"></i>
                                    <i class="fa fa-chevron-down" [ngClass]="{
                                        'active': state.SortDirection === sortDirection.Descending && column.name === state.OrderBy,
                                        'inactive': state.SortDirection === sortDirection.Ascending
                                    }" (click)="sortChange(sortDirection.Descending,column.name)"></i>
                                </div>  -->
                            </div>
                        </th>
                        <th class="actions"></th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let element of listAcompte ;let i of listAcompte.length" id="chantier-dblclick-btn">

                        <td *ngFor="let column of factureTableColumns;let i= index">
                            <ng-container>
                                <ng-container *ngIf="column.type == columnType.Date">
                                    {{ element[column.name] | date:'dd/MM/yyyy' }}
                                </ng-container>
                                <ng-container *ngIf="column.type == columnType.span">
                                    {{ element[column.name] }}
                                    <span *ngFor="let item of column.list">
                                        <small
                                            style="color: #1d7b85; white-space: nowrap; font-style: italic !important;"
                                            *ngIf="element[item.name] != null">
                                            ( {{ item.nameTranslate | translate }} :
                                            {{ element[item.name]   }} )
                                        </small>
                                    </span>
                                </ng-container>
                                <ng-container *ngIf="column.type == columnType.DateTime">
                                    {{ element[column.name] | date: 'dd/MM/yyyy HH:mm:ss' }}
                                </ng-container>
                                <ng-container *ngIf="column.type == columnType.Currency">
                                    <span class="text-right text-nowrap"
                                        [ngStyle]=" { 'color' : column.textColor?.appear ?  column.textColor.color(element) : '' }">{{  getValue(element , column.name) | RoudingNumber | ShowCurrency  }}</span>
                                    <span *ngFor="let item of column.list">
                                        <small
                                            style="color: #1d7b85; white-space: nowrap; font-style: italic !important;"
                                            *ngIf="element[item.name] != null">
                                            ( {{ item.nameTranslate | translate }} :
                                            {{ element[item.name] | RoudingNumber | ShowCurrency   }} )
                                        </small>
                                    </span>
                                </ng-container>
                                <ng-container *ngIf="column.type == columnType.Number">
                                    {{ element[column.name] | RoudingNumber }}
                                </ng-container>
                                <ng-container *ngIf="column.type == columnType.Translate">
                                    <span
                                        [ngStyle]=" { 'color' : column.textColor?.appear ?  column.textColor.color(element) : '' }">
                                        {{ column.labels + '.' + element[column.name] | translate }} </span>
                                </ng-container>
                                <ng-container *ngIf="column.type == columnType.Tags">
                                    <span *ngFor="let item of element[column.name];"
                                        class="btn btn-bold btn-sm btn-font-sm  btn-label-brand bit-left-margin">
                                        <span class="text-nowrap">{{item}}</span>
                                    </span>
                                </ng-container>
                                <ng-container *ngIf="column.type == columnType.TagType">
                                    <span class="text-nowrap">
                                        <span
                                            class="kt-font-bold kt-font-brand">{{ element[column.name] |translate }}</span>
                                    </span>
                                </ng-container>
                                <ng-container *ngIf="column.type == columnType.List">
                                    <ng-container *ngFor="let item of element[column.name];let i=index">
                                        <ng-container *ngIf="i>0"><br /></ng-container>
                                        <span class="text-nowrap">
                                            <span></span>&nbsp;
                                            <span>{{item}}</span>
                                        </span>
                                    </ng-container>
                                </ng-container>
                                <ng-container *ngIf="column.type == columnType.colorNews">
                                    {{element[column.name]}}
                                    <span [ngStyle]="{'background-color': element[column.name]}">
                                        {{element[column.name]}}
                                    </span>
                                </ng-container>

                                <ng-container
                                    *ngIf="column.type == columnType.Status && column.status && column.status.appear(element)">
                                    <div class="status" [ngClass]="['status--' + column.status.value(element)]">
                                        <div class="dot"></div>
                                        <div class="label">
                                            {{ column.status.value(element) | translate }}
                                        </div>
                                    </div>
                                </ng-container>

                                <ng-container *ngIf="column.type == columnType.Html">
                                    <span [innerHTML]="element[column.name]"></span>
                                </ng-container>
                                <ng-container *ngIf="column.type == columnType.any">
                                    {{ getValue(element , column.name) }}
                                </ng-container>

                                <ng-container *ngIf="column.type == columnType.Progressbar">
                                    <div class="taux-progress">
                                        <div *ngIf="element[column.name] != null" class="label">
                                            {{ element[column.name] }} %
                                        </div>
                                        <div class="bar">
                                            <div role="progressbar" class="thumb"
                                                [ngStyle]="{ 'width': element[column.name] + '%' }" [ngClass]="{
                                                'thumb--25': element[column.name] < 25,
                                                'thumb--50': element[column.name] < 50 && element[column.name] >= 25,
                                                'thumb--75': element[column.name] < 75 && element[column.name] >= 50,
                                                'thumb--100': element[column.name] >= 75
                                            }"></div>
                                        </div>
                                    </div>
                                </ng-container>

                                <ng-container *ngIf="column.type == columnType.image && column.src.appear(element)">
                                    <div *ngIf="column.src.appear(element)" style="text-align: center;">
                                        <img width="17%" [src]="column.src.value(element)" />
                                    </div>
                                </ng-container>

                            </ng-container>


                        </td>

                        <!-- Actions trigger -->
                        <td class="actions">
                            <div class="actions-trigger" [matMenuTriggerFor]="matMenu"
                                (onMenuOpen)="onMenuOpened(element)">
                                <img src="./assets/app/images/Icons/more-vertical.svg" alt="Actions icon">
                            </div>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- #endregion -->
        <!-- #region Display foot -->
        <!-- <div class="display-table__foot">
            <paination [painationInfo]="dataitems" (chagePageNamber)="chagePageNumber($event)"
                (changePageSize)="changePageSize($event)" [pageSizes]="pageSizeOptions"></paination>
        </div> -->
        <!-- #endregion -->
    </div>
</div>

<!-- <custom-loader [displayLoader]="processing"></custom-loader> -->

<!-- #region Actions overlay -->
<mat-menu #matMenu="matMenu" class="cust-menu cust-menu--horizontal cust-menu--actions" overlapTrigger
    xPosition="before">
    <ng-container *ngFor="let action of actions">
        <span mat-menu-item *ngIf="action.appear(selected)" class="menu-item" [matTooltip]="action.label | translate"
            (click)="action.action(selected)">
            <div class="icon">
                <img [src]="action.icon" alt="Edit icon">
                <!-- <mat-icon [color]="action.color"> {{ action.icon }} </mat-icon>  -->
            </div>
        </span>
    </ng-container>
</mat-menu>

<!-- #endregion -->