<!-- Table des articles -->

<div class="cust-card">
    <div class="cust-card__head">
        <div class="left">
            <div class="title">
                Articles
            </div>
        </div>
        <div class="right">

        </div>
    </div>
    <ng-container *ngIf="!readOnly">
        <div class="prest-table-wrapper">
            <table class="prest-table">
                <thead>
                    <tr>

                        <th>{{ 'labels.designation' | translate }}</th>
                        <th>{{ 'labels.qte' | translate }}</th>
                        <th>{{ 'labels.prixHT' | translate }}</th>
                        <th>{{ 'labels.prixTTC' | translate }}</th>
                    </tr>
                </thead>
                <tbody id="parent">
                    <ng-container *ngFor=" let calc of groupTVA();let i=index">
                        <tr>

                            <td class="cell-auto " *ngIf="!userForAcompt">
                                <span> Facture de situation d'avancement de
                                    {{ pourcentage === null ? 0 : pourcentage  }}%
                                    sur le
                                    devis
                                    {{ devisInfos?.reference }} de tva {{ calc.tva }} % </span>
                            </td>
                            <td class="cell-auto " *ngIf="userForAcompt">
                                <span> Facture d'acompte d'avancement de {{ pourcentage === null ? 0 : pourcentage }}%
                                    sur
                                    le devis
                                    {{ devisInfos?.reference }} de tva {{ calc.tva }} % </span>
                            </td>
                            <td>1</td>

                            <td class="cell-right">
                                <span> {{ calc?.totalHT | RoudingNumber | ShowCurrency }}
                                </span>

                            </td>
                            <td class="cell-right">
                                <span> {{ calc?.totalTTC | RoudingNumber | ShowCurrency }}
                                </span>

                            </td>

                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>

        <!-- table Calcul Total -->
        <div class="calcul-table-wrapper">
            <div class="col-lg-8 col-md-12 col-sm-12 offset-lg-4">
                <table class="calcul-table">
                    <!-- <tr>
                        <td>
                            <span>
                                Total general HT
                            </span>
                        </td>
                        <td>
                            <span>
                                {{ calcul?.prixHT | RoudingNumber | ShowCurrency}}
                            </span>
                        </td>
                    </tr> -->

                    <tr>
                        <td>
                            Montant H.T :
                        </td>

                        <td>
                            <span> {{ calcul?.prixHT | RoudingNumber | ShowCurrency}}
                            </span>
                        </td>
                    </tr>

                    <tr *ngIf="devisInfos?.orderDetails.proportion!=0">
                        <td>
                            <span>
                                Part prorata <span>{{ devisInfos?.orderDetails.proportion | RoudingNumber }} %</span> :
                            </span>
                        </td>
                        <td>
                            <div class="flex-div">
                                <!-- <input type="number" min="0" class="form-control text-right input-calc"
                                    id="prorata-tableArticle-btn" [(ngModel)]="prorata" appInputRemoveDefaultZero
                                    *ngIf="!readOnly" /> -->
                                <span>{{ calcul?.partProrata | RoudingNumber | ShowCurrency}}</span>
                            </div>
                        </td>
                    </tr>

                    <tr *ngFor="let T of groupTVA()">
                        <td>
                            <span>
                                TVA {{ T.tva | RoudingNumber }} % :
                            </span>
                        </td>
                        <td><span>
                                {{ T.totalTVA | RoudingNumber }}
                            </span></td>
                    </tr>

                    <tr *ngIf="devisInfos?.orderDetails.puc!=0">
                        <td>
                            <span>
                                Participation PUC <span>{{ devisInfos?.orderDetails.puc }} %</span>
                            </span>
                        </td>
                        <td>
                            <div class="flex-div">

                                <span>
                                    {{  calcul?.prixHT * (devisInfos?.orderDetails.puc / 100) | RoudingNumber | ShowCurrency }}
                                </span>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            Reste À Payer HT:
                        </td>

                        <td>
                            <span>{{ calcul?.resteAPayerHT | RoudingNumber | ShowCurrency}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>Retenue de garantie</span>
                        </td>
                        <td>
                            <div class="flex-div">
                                <div class="mr-2" *ngIf="retenueGarantie==1 || retenueGarantie==true">
                                    <div class="row">
                                        <div class="flex-div">
                                            <input type="number" class="form-control text-right mr-1"
                                                appInputRemoveDefaultZero id="retenueGarantieValue-tableArticle-btn"
                                                [(ngModel)]="retenueGarantieValue"
                                                (keyup)="CalculRetenue(retenueGarantieValue)"
                                                placeholder="retenueGarantie" [disabled]="readOnly"
                                                *ngIf="retenueGarantie == 1" max="100" min="0">
                                            <div class="input-group-prepend" *ngIf="retenueGarantie == 1">
                                                <div class="input-group-text">%</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngIf="retenueGarantie==1 || retenueGarantie==true" class="row">
                                        <div class="flex-div">
                                            <div class="mr-1">
                                                Délais de garantie (Mois)
                                            </div>
                                            <input type="number" class="form-control text-right"
                                                id="delaiGarantie-tableArticle-btn" appInputRemoveDefaultZero
                                                [(ngModel)]="delaiGarantie" placeholder="delai Garantie"
                                                [disabled]="readOnly" max="100" min="0">
                                        </div>
                                    </div>
                                </div>

                                <ng-container>
                                    <div class="custom-control custom-checkbox mr-1">
                                        <input type="checkbox" [(ngModel)]="retenueGarantie"
                                            id="retenueGarantie-tableArticle-btn" class="custom-control-input">
                                        <label *ngIf="retenueGarantie==1" class="custom-control-label"
                                            for="retenueGarantie-tableArticle-btn">Oui</label>
                                        <label *ngIf="retenueGarantie==0" class="custom-control-label"
                                            for="retenueGarantie-tableArticle-btn">Non </label>
                                    </div>
                                </ng-container>

                                <div *ngIf="retenueGarantie==1 && retenueGarantie==true">

                                    {{CalculRetenue() | RoudingNumber | ShowCurrency }}
                                </div>

                                <!-- <ng-container *ngIf="retenueGarantie==0  && retenueGarantie==false">
                                    <div>
                                        Non mm
                                    </div>
                                </ng-container> -->
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            TOTAL GENERAL TTC :
                        </td>

                        <td>
                            <span>{{ calcul?.prixTTC | RoudingNumber | ShowCurrency}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Reste À Payer TTC :
                        </td>

                        <td>
                            <span>{{ calcul?.resteAPayerTTC  | RoudingNumber | ShowCurrency}}</span>
                        </td>
                    </tr>
                    <ng-container *ngIf="!userForAcompt">
                        <tr>
                            <td>
                                Montant situation cumullee HT:
                            </td>

                            <td>
                                <span>{{calcul.situationCumulleeHT | RoudingNumber | ShowCurrency}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Montant situation cumullee TTC:
                            </td>

                            <td>
                                <span>{{calcul.situationCumulleeTTC | RoudingNumber | ShowCurrency}}</span>
                            </td>
                        </tr>
                    </ng-container>
                    <ng-container *ngIf="userForAcompt">
                        <tr>
                            <td>
                                Total des acomptes percus HT:
                            </td>

                            <td>
                                <span>{{calcul.totalAcomptesHT | RoudingNumber | ShowCurrency}}</span>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                Total des acomptes percus TTC:
                            </td>

                            <td>
                                <span>{{calcul.totalAcomptesTTC | RoudingNumber | ShowCurrency}}</span>
                            </td>
                        </tr>


                    </ng-container>
                </table>
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="readOnly">
        <div class="prest-table-wrapper">
            <table class="prest-table">
                <thead>
                    <tr>

                        <th>{{ 'labels.designation' | translate }}</th>
                        <th>{{ 'labels.qte' | translate }}</th>
                        <th>{{ 'labels.prixHT' | translate }}</th>
                        <th>{{ 'labels.prixTTC' | translate }}</th>
                    </tr>
                </thead>
                <tbody id="parent">
                    <ng-container *ngFor=" let article of facture?.orderDetails?.lineItems ;let i=index">
                        <tr>

                            <td class="cell-auto ">
                                <span>{{ article?.product?.designation }}
                                </span>
                            </td>
                            <td class="cell-auto ">
                                <span> 1</span>
                            </td>
                            <td class="cell-right">
                                <span> {{ article?.product?.totalHT | RoudingNumber | ShowCurrency }}
                                </span>

                            </td>
                            <td class="cell-right">
                                <span> {{ article?.product?.totalTTC | RoudingNumber | ShowCurrency }}
                                </span>

                            </td>

                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>

        <!-- table Calcul Total -->
        <div class="calcul-table-wrapper">
            <div class="col-lg-8 col-md-12 col-sm-12 offset-lg-4">
                <table class="calcul-table">
                    <!-- <tr>
                        <td>
                            <span>
                                Total general HT
                            </span>
                        </td>
                        <td>
                            <span>
                                {{  facture?.orderDetails?.totalHT | RoudingNumber | ShowCurrency}}
                            </span>
                        </td>
                    </tr> -->

                    <tr>
                        <td>
                            Montant H.T :
                        </td>

                        <td>
                            <span>{{ clalcMontantHt(facture?.orderDetails.totalHT,facture?.orderDetails.proportion) | RoudingNumber | ShowCurrency}}</span>
                        </td>
                    </tr>

                    <tr *ngIf="facture?.orderDetails.proportion!=0">
                        <td>
                            <span>
                                Part prorata <span>{{ facture?.orderDetails.proportion | RoudingNumber }} %</span> :
                            </span>
                        </td>
                        <td>
                            <div class="flex-div">

                                <span>{{ facture?.orderDetails.totalHT * (facture?.orderDetails.proportion / 100) | RoudingNumber | ShowCurrency}}</span>
                            </div>
                        </td>
                    </tr>
                    <ng-container>

                        <tr *ngFor="let T of groupTVARead()">
                            <td>
                                <span>
                                    TVA {{ T.tva | RoudingNumber }} % :
                                </span>
                            </td>
                            <td><span>
                                    {{ T.totalTVA | RoudingNumber }}
                                </span></td>
                        </tr>
                    </ng-container>

                    <tr *ngIf="facture?.orderDetails.puc!=0">
                        <td>
                            <span>
                                Participation PUC <span>{{ facture?.orderDetails.puc }} %</span>
                            </span>
                        </td>
                        <td>
                            <div class="flex-div">

                                <span>
                                    {{  facture?.orderDetails.totalHT * (facture?.orderDetails.puc / 100) | RoudingNumber | ShowCurrency }}
                                </span>
                            </div>
                        </td>
                    </tr>
                    <!-- 
                    <tr>
                        <td>
                            Reste À Payer HT:
                        </td>

                        <td>
                            <span>{{ calcul?.resteAPayerHT | RoudingNumber | ShowCurrency}}</span>
                        </td>
                    </tr> -->
                    <ng-container *ngIf="retenueGarantie != 0">
                        <tr>
                            <td>
                                <span>Retenue de garantie</span>
                            </td>
                            <td>
                                <div class="flex-div">
                                    <div class="mr-2">
                                        <div class="row">
                                            <div class="flex-div">
                                                <input type="number" class="form-control text-right mr-1"
                                                    appInputRemoveDefaultZero id="retenueGarantieValue-tableArticle-btn"
                                                    [(ngModel)]="retenueGarantieValue" placeholder="retenueGarantie"
                                                    [disabled]="readOnly" *ngIf="retenueGarantie == 1" max="100"
                                                    min="0">
                                                <div class="input-group-prepend" *ngIf="retenueGarantie == 1">
                                                    <div class="input-group-text">%</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div *ngIf="retenueGarantie == 1" class="row">
                                            <div class="flex-div">
                                                <div class="mr-1">
                                                    Délais de garantie (Mois)
                                                </div>
                                                <input type="number" class="form-control text-right"
                                                    id="delaiGarantie-tableArticle-btn" appInputRemoveDefaultZero
                                                    [(ngModel)]="delaiGarantie" placeholder="delai Garantie"
                                                    [disabled]="readOnly" max="100" min="0">
                                            </div>
                                        </div>
                                    </div>

                                    <ng-container *ngIf="!readOnly">
                                        <div class="custom-control custom-checkbox mr-1">
                                            <input type="checkbox" [(ngModel)]="retenueGarantie"
                                                id="retenueGarantie-tableArticle-btn" class="custom-control-input">
                                            <label *ngIf="retenueGarantie == 1" class="custom-control-label"
                                                for="retenueGarantie-tableArticle-btn">Oui</label>
                                            <label *ngIf="retenueGarantie == 0" class="custom-control-label"
                                                for="retenueGarantie-tableArticle-btn">Non</label>
                                        </div>
                                    </ng-container>

                                    <div *ngIf="retenueGarantie == 1 && retenueGarantie ==true">
                                        {{  facture?.orderDetails.totalHT  * (retenueGarantieValue/100)  | RoudingNumber | ShowCurrency }}
                                    </div>

                                    <ng-container *ngIf="retenueGarantie == 0 && readOnly">

                                        <span>Non</span>
                                    </ng-container>
                                </div>
                            </td>
                            <!-- <td>
                            <div class="text-right" *ngIf="retenueGarantie == 1 && retenueGarantie ==true">
                                {{ facture?.orderDetails.totalHT  * (retenueGarantieValue/100) | RoudingNumber | ShowCurrency }}
                            </div>
                        </td> -->
                        </tr>
                    </ng-container>
                    <tr>
                        <td>
                            TOTAL GENERAL TTC :
                        </td>

                        <td>
                            <span>{{ facture?.orderDetails.totalTTC | RoudingNumber | ShowCurrency}}</span>
                        </td>
                    </tr>
                    <!-- <tr>
                        <td>
                            Reste À Payer TTC :
                        </td>

                        <td>
                            <span>{{calculTTC(facture?.orderDetails.total) | RoudingNumber | ShowCurrency}}</span>
                        </td>
                    </tr> -->


                </table>
            </div>
        </div>
    </ng-container>


</div>