<div class="root">
	<div class="row">
		<div class="col">
			<div class="details">
				<div>

					<div class="cust-card__head">

						<div class="left">
							<div class="title">
								{{title}} matériel
							</div>
						</div>

						<div class="right flexcontrols">
							<div class="flexcontrols">

								<div id="annuler" class="cust-button cust-button--secondary" (click)="close()" *ngIf="!show">
									<span> Annuler </span>
								</div>

								<div id="valider" class="cust-button cust-button--success" (click)="submit()" *ngIf="!show">
									<span>Valider</span>
								</div>
							</div>
						</div>
					</div>

					<div class="cust-card__body">
						<div class="body">
							<form [formGroup]="form">

								<div class="row">

									<!-- Name -->
									<div class="col">
										<div class="cust-input-group">
											<div class="cust-label">{{ 'LABELS.DESIGNATION' | translate }} :</div>
											<div class="cust-input">
												<label class="cust-input__wrapper">
													<textarea class="cust-input__input" id="add-designation-form-btn"
														formControlName="designation" [readOnly]="show">
													</textarea>
												</label>
											</div>
										</div>
									</div>

								</div>

								<div class="row">

									<!-- Name -->
									<div class="col">
										<div class="cust-input-group">
											<div class="cust-label">{{ 'LABELS.brand' | translate }}:</div>
											<div class="cust-input">
												<label class="cust-input__wrapper">
													<input class="cust-input__input" id="add-brand-form-btn" type="text" formControlName="brand"
														[readOnly]="show">
												</label>
											</div>
										</div>
									</div>

								</div>

								<div class="row">

									<!-- Name -->
									<div class="col">
										<div class="cust-input-group">
											<div class="cust-label">{{ 'LABELS.module' | translate }} :</div>
											<div class="cust-input">
												<label class="cust-input__wrapper">
													<input class="cust-input__input" id="add-module-form-btn" type="text" formControlName="model"
														[readOnly]="show">
												</label>
											</div>
										</div>
									</div>

								</div>

								<div class="row">

									<!-- Name -->
									<div class="col">
										<div class="cust-input-group">
											<div class="cust-label">{{ 'LABELS.serialNumber' | translate }} :</div>
											<div class="cust-input">
												<label class="cust-input__wrapper">
													<input class="cust-input__input" id="add-serialNumber-form-btn" type="text"
														formControlName="serialNumber" [readOnly]="show">
												</label>
											</div>
										</div>
									</div>

								</div>


							</form>

						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>