.card-contact {
    border: 2px #000 solid !important;
    box-shadow: 2px 4px #404e67 !important;
}
.paddingTop {
    padding-top: 0rem !important;
    position: relative;
    bottom: 0.1rem;
}

.Label-radion-btn {
    padding: 1rem;
    position: relative;
    bottom: 0.15rem;
}

.custom-control-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    background-color: #1b9db3;
}
.custom-control-input:focus ~ .custom-control-label::before {
    -webkit-box-shadow: 0 0 0 1px #f5f7fa, none;
    box-shadow: 0 0 0 1px #f5f7fa, none;
}
.custom-control-input:active ~ .custom-control-label::before {
    color: #fff;
    background-color: #6cfdff;
}
.custom-control-input:disabled ~ .custom-control-label {
    color: #1b9db3;
}
.custom-control-input:disabled ~ .custom-control-label::before {
    background-color: #1b9db3;
}

.flexcontrols {
	display :flex;
	div:last-of-type {
		margin-left: 10px;
	}
}

