<div class="root" *ngIf="user">
  <div class="row">
      <div class="col">
          <div class="details">
              <div class="cust-card cust-card--padding">

                  <div class="cust-card__body">
                      <div class="body">

                          <div class="row">
                            
                            <div class="col">
                              <div class="cust-input-group">
                                  <div class="cust-label">{{ 'LABELS.MATRICULE' | translate }} :</div>
                                  <div class="cust-labelGros"> {{ user?.reference }} </div>
                              </div>
                           </div>

                              <div class="col">
                                  <div class="cust-input-group">
                                      <div class="cust-label">{{ 'LABELS.LASTNAME' | translate }} :</div>
                                      <div class="cust-labelGros"> {{ user?.firstName }} </div>
                                  </div>
                              </div>

                              <div class="col">
                                  <div class="cust-input-group">
                                      <div class="cust-label">{{ 'LABELS.NOM' | translate }} :</div>
                                      <div class="cust-labelGros"> {{ user?.lastName }} </div>
                                  </div>
                              </div>                           

                          </div>

                          <div class="row">
                            
                            <div class="col">
                              <div class="cust-input-group">
                                  <div class="cust-label">{{ 'LABELS.USERNAM' | translate }} :</div>
                                  <div class="cust-labelGros"> {{ user?.userName }} </div>
                              </div>
                           </div>

                              <div class="col">
                                  <div class="cust-input-group">
                                      <div class="cust-label">{{ 'LABELS.PROFILE' | translate }} :</div>
                                      <div class="cust-labelGros"> {{ 'PROFILE.' + user?.role?.type | translate }} </div>
                                  </div>
                              </div>

                              <div class="col">
                                  <div class="cust-input-group">
                                      <div class="cust-label">{{ 'LABELS.EMAIL' | translate }} :</div>
                                      <div class="cust-labelGros"> {{ user?.email }} </div>
                                  </div>
                              </div>                           

                          </div>

                          
                          <div class="row">
                            
                            <div class="col">
                              <div class="cust-input-group">
                                  <div class="cust-label">{{ 'LABELS.PHONE' | translate }} :</div>
                                  <div class="cust-labelGros"> {{ user?.phoneNumber }} </div>
                              </div>
                           </div>

                              <div class="col">
                                  <div class="cust-input-group">
                                      <div class="cust-label">{{ 'LABELS.JointDate' | translate }} :</div>
                                      <div class="cust-labelGros"> {{ user?.createdOn | date : 'dd/MM/yyyy HH:mm' }} </div>
                                  </div>
                              </div>

                              <div class="col">
                                  <div class="cust-input-group">
                                      <div class="cust-label">{{ 'LABELS.dernierConnect' | translate }} :</div>
                                      <div class="cust-labelGros"> {{ user?.lastLogin | date : 'dd/MM/yyyy HH:mm' }} </div>
                                  </div>
                              </div>                           

                          </div>

                      </div>
                  </div>

              </div>
          </div>
      </div>
  </div>

  <div class="row">
      <div class="col"></div>
      <div class="col"></div>
  </div>
</div>

<br>

<!-- 
        <div class="row">

          <div class="col-lg-6 col-md-12">
            <div class="form-group row">
              <label class="col-md-3 label-control paddingTop"
                for="projectinput3">{{'labels.Actif' | translate}}</label>
              <div class="col-md-9">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" [checked]="user?.statut" class="custom-control-input"
                    id="checkboxprojectinput3" disabled>
                  <label class="custom-control-label" for="checkboxprojectinput3">{{'labels.Actif' | translate}}</label>
                </div>
              </div>
            </div>
          </div>
        </div>

   -->

        