<!--Footer Starts-->
<footer class="footer footer-static footer-dark navbar-border"
    id="stackFooter">
    <p class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2">
        <span class="float-md-left d-block d-md-inline-block">{{ 'copyright' | translate }} &copy;
            {{currentDate | date: 'yyyy'}}
            <a href="http://www.foliatech.fr"
                target="_blank"
                class="text-bold-800 grey darken-2">FOLIATECH France
            </a>{{ 'droitReserver' | translate }}</span>
    </p>
</footer>
<!--Footer Ends-->
