
p {
  font-family: Lato;
}

.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}
.filter__form{
   width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.filter__form .form-group{
  margin: 0 10px;
}
.primary{
  background: orange;
  color: white;
}

.example-full-width{
  width: 500px;
}

mat-icon {
	vertical-align: middle;
}

.custom-loader {
	background-color: #1b9db3 !important;
	color: #fff !important;
	width: 25em !important;
	padding: 3rem 0rem !important;
	opacity: 0.95 !important;
	text-align: center;
	position: absolute;
	left: 45%;
	z-index: 1050;
	bottom: 30em;
	height: 60px;
}

.custom-loader-container {
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
}

.root {
	padding: 0 14px;
}

.chantier-table {
	min-width: 1000px;
}

.right-button{
	display: flex;
	.cust-button {
		margin: 0 2px;
	}
}

