<div class="root">

  <!-- #region Sidebar -->
  <aside>
    <app-menu></app-menu>
  </aside>
  <!-- #endregion -->

  <!-- #region Body -->
  <div class="body">

    <!-- Header -->
    <header class="header">
      <app-header></app-header>
    </header>

    <!-- Content -->
    <main class="content"
      [ngClass]="{ 'content--nested': menu.active }">
      <router-outlet></router-outlet>
    </main>

    <!-- Footer -->
  </div>
  <!-- #endregion -->

</div>
