@import './../assets/scss/core/mixins/scrollbar';

.root {
  display: flex;
  flex-direction: row;

  .body {
    background: #f1f3f9 0% 0% no-repeat padding-box;

    position: relative;
    flex: 1;

    height: 100vh;
    overflow: hidden;

    &::before {
      content: '';
      background: #47a2c1 0% 0% no-repeat padding-box;

      position: absolute;
      left: 0;
      top: 0;

      height: 378px;
      width: 100%;
    }

    .header {
      position: relative;
      margin-left: 0;
    }

    .content {
      
      height: 100vh;
      margin-left: 0;
      overflow: auto;

      @include scrollbar;

      &--nested {
        height: calc(100vh - 94px);
        padding-bottom: 40px;
      }
    }
  }
}
