@import "./../../../../../../assets/scss/core/mixins/scrollbar";

.colorVert {
  color: #8bd0ad;
}

.axiobat-modal {
  border-radius: 10px;
}

.root {
  .head {
    position: relative;

    display: grid;
    grid-template-columns: 1fr 274px;
    align-items: center;

    padding: 20px 34px;
    border-bottom: 1px solid #d9dde1;

    .left {
      .title {
        font-family: qanelas;
        font-size: 19px;
        font-weight: bold;

        text-align: left;
        letter-spacing: 0px;
        color: #494948;
      }
    }

    .right {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .cust-button {
        margin-left: 10px;
      }
    }

    .close {
      cursor: pointer;
      opacity: 0.4;

      position: absolute;
      right: 8px;
      top: 6px;

      transition-duration: 0.2s;
      transition-property: opacity;

      img {
        width: 20px;
      }

      &:hover {
        opacity: 0.6;
      }
    }
  }

  .body {
    padding: 20px 34px;

    .row {
      &:not(:first-of-type) {
        margin-top: 20px;
      }
    }

    .timepicker {
      text-align: center;
    }

    .slider {
      margin-bottom: 25px;
    }
  }
}

.media {
  display: flex;
  align-items: center;
  margin-bottom: 0;

  .img-wrap {
    margin-right: 10px;

    .img-sm {
      width: 16px !important;
    }
  }

  .title {
    margin-bottom: 0;
  }

  .param.param-inline.small {
    margin-bottom: 0;

    dt,
    dd {
      margin-bottom: 0;
      white-space: nowrap;
    }
  }
}

.price-wrap {
  font-family: qanelas;
  text-align: right;

  display: flex;
  flex-direction: column;
}

.shopping-cart-wrap tbody {
  @include scrollbar;

  display: block;
  max-height: calc(100vh - 350px);
  overflow: auto;

  tr {
    display: table;
    table-layout: fixed;
    width: 100%;

    &:nth-child(odd) {
      background-color: #f9f9f9;
    }
  }

  td {
    padding: 10px;
    vertical-align: middle;

    border: none;

    input[type="number"] {
      text-align: right;
      font-family: Qanelas;
    }
  }
}
