<div class="axiobat-modal">
  <div class="root">

    <!-- #region Head -->
    <div class="head">

      <div class="left">
        <div class="title">
          {{ 'labels.choixFacture'  | translate }}

        </div>
      </div>

      <div class="right">
        <div id="annuler" class="cust-button cust-button--secondary" (click)="close()">
          <span>{{ 'labels.cancel' | translate }}</span>
        </div>

        <div id="valider" class="cust-button cust-button--success" (click)="save()">
          <span>Valider</span>
        </div>
      </div>

      <div class="close" (click)="close()">
        <img src="./assets/app/images/Icons/x.svg" alt="Close button">
      </div>
    </div>
    <!-- #endregion -->

    <!-- #region Body -->
    <div class="body">
      <div class="cust-input cust-input--search">
        <label class="cust-input__wrapper">
          <div class="cust-input__icon">
            <img src="./assets/app/images/Icons/search.svg" alt="Search icon">
          </div>
          <input class="cust-input__input" type="search" [placeholder]="getPlaceholder()" (input)="searchFacture()"
            [(ngModel)]="search">
        </label>
      </div>
      <br>
      <table class="table shopping-cart-wrap">
        <tbody infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="1000"
          [infiniteScrollContainer]="'.container-scroll'" [fromRoot]="true" (scrolled)="onScroll()"
          class="container-scroll">
          <tr *ngFor="let facture of (factures | OrderListFacturePaiement); let i=index">
            <td>
              <figure class="media">
                <div class="img-wrap">
                  <input type="checkbox" (click)="onFactureCheck(facture.checked,i)" class="form-control img-sm"
                    [(ngModel)]="facture.checked">
                  <!--" -->
                </div>
                <figcaption class="media-body">
                  <h6 class="title text-truncate">{{ facture?.reference }} </h6>
                  <dl class="param param-inline small">
                    <dt>{{ 'labels.dateEchéance' | translate }} :</dt>
                    <dd>{{ facture?.dueDate | date:'dd/MM/yyyy' }}</dd>
                  </dl>
                </figcaption>
              </figure>
            </td>
            <td>
              <span [hidden]="!facture.checked">
                <input [ngModel]="facture.montant | RoudingNumberInput" id="montant"
                  (ngModelChange)="facture.montant = $event" type="number" class="form-control"
                  placeholder="{{ 'labels.montant' | translate }}">
                <small class="text-danger" *ngIf="checkValidMontant(i)">
                  {{ 'errors.invalidMontant' | translate }}
                </small>
              </span>
            </td>
            <td>
              <div class="price-wrap">
                <span class="price">{{ 'labels.totalTTC' | translate }}:
                  {{ facture?.totalTTC | RoudingNumber | ShowCurrency }}</span>
                <span>
                  <small class="text-muted" style="font-style: italic;">({{ 'labels.restePayer' | translate }}
                    {{ facture?.totalTTC | RestePayer:facture?.payments | RoudingNumber | ShowCurrency }})</small>
                </span>
              </div>
            </td>
          </tr>
          <tr class="text-center" *ngIf="!finished">
            {{ 'labels.loading' | translate }}
          </tr>
          <tr *ngIf="factures.length == 0" colspan="3" class="chantierHasNoFacture">
            {{ 'clientHasNoFacture' | translate }}
          </tr>
        </tbody>
      </table>
      <div>
        <span><strong style="font-style: italic">{{ 'labels.montantPaiement' | translate }} :
          </strong>{{ montant | RoudingNumber | ShowCurrency }}</span>
        <br>
        <span><strong style="font-style: italic">{{ 'labels.totalMontantFacture' | translate }} :
          </strong>{{ totalMontant() | RoudingNumber | ShowCurrency }}</span>
      </div>
    </div>
    <!-- #endregion -->
  </div>
</div>