<div class="modal fade text-left" id="{{idPop}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel9"
  aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">

      <div class="cust-card">
        <div class="cust-card__head">
          <div class="left">
            <h2 class="title" id="myModalLabel9">
              {{ 'labels.choixClient' | translate }}</h2>
          </div>
          <div class="right">
            <label>
              <div class="cust-button cust-button--secondary">
                <span>{{ 'labels.cancel' | translate }}</span>
              </div>
              <button type="button" style="display: none;" data-dismiss="modal">
                {{ 'labels.cancel' | translate }}</button>
            </label>

            <div class="cust-button cust-button--success" *ngIf="idClient" (click)="choisirClient()">
              <span>{{ 'labels.choisir' | translate }}</span>
            </div>
          </div>
        </div>
        <div class="cust-card__body">
          <div class="row">
            <div class="col">
              <div class="cust-input-group">
                <div class="cust-label">{{ 'labels.client' | translate }} :</div>
                <div class="cust-input cust-input--select">
                  <label class="cust-input__wrapper">
                    <mat-select [(ngModel)]="idClient">
                      <mat-option *ngFor="let client of clients;let i = index" [value]="client?.id">{{ client?.name }}
                      </mat-option>
                    </mat-select>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>