<form [formGroup]="form">

  <div class="root">
    <div class="row">
      <div class="col">
        <div class="details">
          <div class="cust-card cust-card--padding">

            <div class="cust-card__head">

              <div class="left">
                <div class="title" *ngIf="isModif">
                  {{  'update.' + docType | translate }} : {{ factureReccurente?.reference }}
                </div>
                <div class="title" *ngIf="!isModif">
                  {{  'create.' + docType | translate }}
                </div>
              </div>

              <div class="right flexcontrols">
                <div class="flexcontrols">

                  <div id="annuler" class="cust-button cust-button--secondary" (click)="close()">
                    <span> Annuler </span>
                  </div>

                  <div id="brouillon" class="cust-button cust-button--light" style="margin-left: 10px;"
                    (click)="save(statutReccurente.Brouillon)"
                    *ngIf="!isModif || (isModif && factureReccurente?.status=='draft')">
                    <span>Brouillon</span>
                  </div>
                  <div id="valider" class="cust-button cust-button--success" (click)="save(statutReccurente.Encours)">
                    <span>Valider </span>
                  </div>
                </div>
              </div>
            </div>

            <div class="cust-card__body">
              <div class="body">

                <div class="row">

                  <!-- REFERENCE -->
                  <div class="col" *ngIf="factureReccurente?.maintenanceContract !=null">
                    <div class="cust-input-group">
                      <div class="cust-label">{{ 'LABELS.CONTRAT' | translate }} :</div>
                      <div class="cust-input">
                        <label class="cust-input__wrapper">
                          <input class="cust-input__input" id="add-maintenanceContract-form-btn" type="text"
                            [value]="factureReccurente?.maintenanceContract?.reference">
                        </label>
                      </div>
                    </div>
                  </div>

                  <!-- Type -->

                  <!-- chantier -->
                  <div class="col btn-list" *ngIf="factureReccurente?.maintenanceContract ==null">
                    <div class="cust-input-group">
                      <div class="cust-label">{{ 'LABELS.WORKSHOP' | translate }} :</div>
                      <div class="cust-input cust-input--select">
                        <label class="cust-input__wrapper">
                          <mat-select id="add-chantier-form-btn" class="cust-input__input" formControlName="idChantier"
                            (openedChange)="loadChantierClient(f?.idChantier?.value)">
                            <mat-option>
                              <ngx-mat-select-search ngModel (ngModelChange)="filterchantier($event)"
                                placeholderLabel="Rechercher" noEntriesFoundLabel="aucun élément trouvé"
                                [ngModelOptions]="{standalone: true}">
                              </ngx-mat-select-search>
                            </mat-option>
                            <mat-option *ngFor="let workshop of chantiers" id="add-chantier" [value]="workshop.id">
                              {{ workshop?.name }} </mat-option>
                          </mat-select>
                        </label>
                      </div>

                    </div>
                  </div>



                  <!-- Client -->
                  <div class="col" *ngIf="f?.idChantier?.value == null">
                    <div class="cust-input-group">
                      <div class="cust-label">{{ 'LABELS.CLIENT' | translate }} :</div>
                      <div class="cust-input cust-input--select">
                        <label class="cust-input__wrapper">
                          <mat-select id="add-client-chantier-form-btn" class="cust-input__input"
                            formControlName="client" (openedChange)="loadClientAdresse(f?.client?.value)">
                            <mat-option>
                              <ngx-mat-select-search ngModel (ngModelChange)="filterclient($event)"
                                placeholderLabel="Rechercher" noEntriesFoundLabel="aucun élément trouvé"
                                [ngModelOptions]="{standalone: true}">
                              </ngx-mat-select-search>
                            </mat-option>
                            <mat-option class="mat-add" id="add-add-client-form-btn" (click)="addClient()">
                              <span class="colorVert">Nouveau client</span>
                              <img src="./assets/app/imgs/addVert.png" alt="Plus icon">
                            </mat-option>
                            <mat-option *ngFor="let client of clients; let i = index" id="add-client-chantier"
                              [value]="client">
                              {{ client?.reference }} : {{ client?.name }}</mat-option>
                          </mat-select>
                        </label>

                      </div>


                    </div>
                    <!-- <small class="text-danger"
                      *ngIf="f?.client?.errors?.required">{{'errors.required' | translate }}</small> -->
                  </div>

                  <div class="col" *ngIf="f?.idChantier?.value != null">
                    <div class="cust-input-group">
                      <div class="cust-label">{{ 'LABELS.CLIENT' | translate }} :</div>
                      <div class="cust-input">
                        <label class="cust-input__wrapper">
                          <input class="cust-input__input" id="add-nom-client-form-btn" type="text"
                            [value]="client?.name" disabled disabled>
                        </label>
                      </div>
                    </div>
                  </div>

                  <div class="col" *ngIf="isModif">
                    <div class="cust-input-group">
                      <div class="cust-label">{{ 'LABELS.STATUS' | translate }} :</div>
                      <div class="cust-input cust-input--select cust-input--status"
                        [style.color]="getColor(factureReccurente?.status)">
                        <label class="cust-input__wrapper">
                          <input class="cust-input__input" type="text" [value]="factureReccurente?.status | translate"
                            disabled>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <br>
                <br>
                <div class="row">

                  <!-- ADRESFACTURATION -->
                  <div class="col">
                    <div class="cust-input-group">
                      <div class="cust-label">{{ 'LABELS.ADRESFACTURATION' | translate }} :</div>
                      <div class="cust-input">
                        <label class="cust-input__wrapper">
                          <input class="cust-input__input" id="add-adressFacturation-document-form-btn" type="text"
                            [value]="f?.adresseFacturation?.value?.designation" disabled>
                        </label>
                      </div>
                    </div>
                  </div>

                  <!-- ADRESSINTERVENTION -->
                  <div class="col btn-list">
                    <div class="cust-input-group">
                      <div class="cust-label">{{ 'LABELS.ADRESINTERVENTION' | translate }} :</div>
                      <div class="cust-input cust-input--select">
                        <label class="cust-input__wrapper">
                          <mat-select id="add-adresseIntervention-document-form-btn" class="cust-input__input"
                            formControlName="adresseIntervention">
                            <mat-option>
                              <ngx-mat-select-search ngModel (ngModelChange)="filterAdressInterv($event)"
                                placeholderLabel="rechercher" noEntriesFoundLabel="aucun élément trouvé"
                                [ngModelOptions]="{standalone: true}">
                              </ngx-mat-select-search>
                            </mat-option>
                            <mat-option class="mat-add" id="add-add-adresseIntervention-form-btn"
                              (click)="addAdresse()">
                              <span>Nouvelle adresse intervention</span>
                              <img src="./assets/app/images/Icons/plus.svg" alt="Plus icon">
                            </mat-option>
                            <mat-option *ngFor="let adresse of adresses; let i = index" id="add-client-chantier"
                              [value]="adresse">
                              {{ adresse?.designation }}</mat-option>
                          </mat-select>
                        </label>
                      </div>
                      <!-- <small class="text-danger"
                                              *ngIf="f?.addressIntervention?.errors?.required">{{'errors.required' | translate }}</small> -->
                    </div>

                  </div>

                </div>



              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col"></div>
      <div class="col"></div>
    </div>
  </div>

  <br>

  <div class="root">
    <div class="row">
      <div class="col">
        <div class="details">
          <div class="cust-card cust-card--padding">

            <div class="cust-card__head">

              <div class="left">
                <div class="title">
                  {{'labels.recurrente' | translate}}
                </div>
              </div>

            </div>

            <div class="cust-card__body">

              <div class="row " style="    margin-bottom: 9px;">
                <div class="col-md-5 text-right" style="padding-top: 5px;     color: black;">
                  <span>Périodicité</span> <span class="color-red">(*)</span>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12">

                  <div class="row">
                    <div class="col-lg-5 col-md-12 col-sm-12">
                      <select class="select-type" formControlName="nbr_repetition"
                        (change)="selectTypeRecurrent(f?.nbr_repetition?.value)">
                        <option [value]="periodicityType.Monthly"> Mensuelle
                        </option>
                        <option [value]="periodicityType.BiMonthly"> Bimestriele
                        </option>
                        <option [value]="periodicityType.Quarterly"> Trimestrielle
                        </option>
                        <option [value]="periodicityType.EveryFourMonths"> Quadrimestrielle
                        </option>
                        <option [value]="periodicityType.Biannual"> Semestrielle
                        </option>
                        <option [value]="periodicityType.Annually"> Annuelle
                        </option>
                        <option [value]="periodicityType.Custom"> Personalise
                        </option>
                      </select>
                    </div>

                    <div class="col-lg-2 col-md-12 col-sm-12"
                      *ngIf="f?.nbr_repetition?.value ==  periodicityType.Custom">
                      <button type="button" (click)="LoadPersonaliseReccurente()"
                        class="btn btn-warning  btn-personalise">
                        <i class="ft-edit"></i> Personalisé
                      </button>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <small class="text-danger" style="margin-left: -12px;"
                      *ngIf="f?.nbr_repetition?.errors?.required">{{'errors.required' | translate }}</small>
                  </div>
                </div>

              </div>

              <div class="row " style="    margin-bottom: 9px;">
                <div class="col-md-5 text-right" style="padding-top: 5px;     color: black;">
                  <span>Prochaine échéance </span> <span class="color-red">(*)</span>
                </div>
                <div class="col-md-3 ">

                  <ng-container *ngIf="!isModif">
                    <div class="select-datepicker">
                      <mat-form-field select-datepicker>
                        <input matInput [matDatepicker]="picker" placeholder="Choisir date" [min]="mint"
                          (dateChange)="setDate()" formControlName="date_validation">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker>></mat-datepicker>
                      </mat-form-field>
                    </div>
                  </ng-container>
                           
                  <div class="select-datepicker" *ngIf="isModif">
                    <mat-form-field select-datepicker>
                      <input matInput [matDatepicker]="picker" placeholder="Choisir date"
                        (dateChange)="setDate()" formControlName="date_validation">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker>></mat-datepicker>
                    </mat-form-field>
                  </div>

                  <small class="text-danger"
                    *ngIf="f?.date_validation?.errors?.required">{{'errors.required' | translate }}</small>

                </div>
              </div>
              <ng-container>
                <div class="row " style="    margin-bottom: 9px;">
                  <div class="col-md-5 text-right" style="padding-top: 5px;     color: black;">
                    <span>Validité</span> <span class="color-red">(*)</span>
                  </div>
                  <div class="col-md-3 container">
                    <div class="radio">
                      <input id="radio-1" name="type_termine" type="radio" [value]="periodicityEndingType.Undifined"
                        formControlName="type_termine"
                        [checked]="f?.type_termine?.value==periodicityEndingType.Undifined">
                      <label for="radio-1" class="radio-label">illimité</label>
                    </div>

                    <div class="radio">
                      <input id="radio-2" name="type_termine" type="radio" [value]="periodicityEndingType.SpecificDate"
                        formControlName="type_termine"
                        [checked]="f?.type_termine?.value==periodicityEndingType.SpecificDate">
                      <label for="radio-2" class="radio-label">jusqu'au</label>
                    </div>

                    <div class="radio" *ngIf="f?.nbr_repetition?.value ==  periodicityType.Custom">
                      <input id="radio-3" name="type_termine" type="radio"
                        [value]="periodicityEndingType.SpecificNumberOfTime" formControlName="type_termine"
                        [checked]="f?.type_termine?.value==periodicityEndingType.SpecificNumberOfTime">
                      <label for="radio-3" class="radio-label">Après</label>
                    </div>

                    <small class="text-danger"
                      *ngIf="f?.type_termine?.errors?.required">{{'errors.required' | translate }}</small>

                  </div>
                </div>

                <div class="row " style="margin-bottom: 9px;"
                  *ngIf="f?.type_termine?.value==periodicityEndingType.SpecificDate">
                  <div class="col-md-5 text-right" style="padding-top: 5px;     color: black;">
                    <span>Fin de validité</span> <span class="color-red">(*)</span>
                  </div>
                  <div class="col-md-3 ">
                    <div class="select-datepicker">
                      <mat-form-field select-datepicker>
                        <input matInput [matDatepicker]="creationDate" placeholder="Choisir date" [min]="minFinDate"
                          formControlName="date_fin">
                        <mat-datepicker-toggle matSuffix [for]="creationDate"></mat-datepicker-toggle>
                        <mat-datepicker #creationDate>></mat-datepicker>
                      </mat-form-field>
                    </div>
                    <small class="text-danger"
                      *ngIf="f?.date_fin?.errors?.required">{{'errors.required' | translate }}</small>
                  </div>
                </div>

                <div class="row " style="    margin-bottom: 9px;"
                  *ngIf="f?.type_termine?.value==periodicityEndingType.SpecificNumberOfTime">
                  <div class="col-md-5 text-right" style="padding-top: 5px;     color: black;">
                    <span>Nombre d'occurrences</span> <span class="color-red">(*)</span>
                  </div>
                  <div class="col-md-3 ">

                    <div class="select-datepicker">

                      <mat-form-field>
                        <input matInput type="number" placeholder="Choisir nombre" autocomplete="off" tabindex="0"
                          autofocus="" min="1" formControlName="nbr_occurence">
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </ng-container>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
</form>

<div class="root">
  <div class="row">
    <div class="col">
      <div class="details">
        <div class="cust-card cust-card--padding">

          <ng-container *ngIf="!isModif">
            <table-article [load]="emitter" [readOnly]="false">
            </table-article>
          </ng-container>
          <ng-container *ngIf="isModif">
            <table-article [document]="factureReccurente?.document"  [articles]="articles" [readOnly]="false" [load]="emitter">
            </table-article>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
<custom-loader [displayLoader]="processing"></custom-loader>