<table class="table">
	<thead>
		<tr>
			<td class="title">Opérations</td>
			<td class="title">Périodicité</td>
		</tr>
		<tr>
			<td></td>
			<td>
				<ul class="custom-list-group-horizontal-lg">
					<li class="liclass" data-toggle="tooltip" placement="top"
						[ngbTooltip]="'labels.mois.janvier' | translate">J
					</li>
					<li class="liclass" data-toggle="tooltip" placement="top"
						[ngbTooltip]="'labels.mois.fevrier' | translate">F
					</li>
					<li class="liclass" data-toggle="tooltip" placement="top"
						[ngbTooltip]="'labels.mois.mars' | translate">M</li>
					<li class="liclass" data-toggle="tooltip" placement="top"
						[ngbTooltip]="'labels.mois.avril' | translate">A
					</li>
					<li class="liclass" data-toggle="tooltip" placement="top"
						[ngbTooltip]="'labels.mois.mai' | translate">M</li>
					<li class="liclass" data-toggle="tooltip" placement="top"
						[ngbTooltip]="'labels.mois.juin' | translate">J</li>
					<li class="liclass" data-toggle="tooltip" placement="top"
						[ngbTooltip]="'labels.mois.juillet' | translate">J
					</li>
					<li class="liclass" data-toggle="tooltip" placement="top"
						[ngbTooltip]="'labels.mois.aout' | translate">A</li>
					<li class="liclass" data-toggle="tooltip" placement="top"
						[ngbTooltip]="'labels.mois.septembre' | translate">S
					</li>
					<li class="liclass" data-toggle="tooltip" placement="top"
						[ngbTooltip]="'labels.mois.octobre' | translate">O
					</li>
					<li class="liclass" data-toggle="tooltip" placement="top"
						[ngbTooltip]="'labels.mois.novembre' | translate">N
					</li>
					<li class="liclass" data-toggle="tooltip" placement="top"
						[ngbTooltip]="'labels.mois.decembre' | translate">D
					</li>
				</ul>
			</td>
		</tr>
	</thead>

	<tbody cdkDropList [cdkDropListData]="libelles" [cdkDropListDisabled]="readOnly"
		(cdkDropListDropped)="drop($event)">

		<!--  list libelle  -->
		<ng-container *ngFor="let lot of libelles;let indexLot = index">
			<tr cdkDrag class="lot">
				<td>
					<!-- ////////////////////////////////////////////////////////////////// -->
					<!-- show libellé -->
					<ng-container *ngIf="libelleCrud.indexLibelle_A_Modifier != indexLot">

						<div class="row">
							<div class="col-5">
								<div class="row no-left-padding">

									<div class="icon">
										<img src="./assets/app/images/Icons/menuGr.svg" alt="Edit icon"
											class="menuicon">
										<span class="GrasName"> {{ lot?.name }} </span>
									</div>

								</div>
							</div>
							<div class="col-7" *ngIf="!readOnly">
								<div role="group" *ngIf="libelleCrud?.ajouterPeriodiciteAuLibelleIndex != indexLot">


									<!-- <div *ngIf="libelles[indexLot].periodicity?.length != 0"
										class="icon float-right  mr-1"
										(click)="libelles[indexLot].periodicity?.length == 0">
										<img src="./assets/app/imgs/small-delete.png">
									</div> -->

									<div class="icon float-right  mr-1" (click)="initAll();supprimerLibelle(indexLot)">
										<img src="./assets/app/imgs/small-delete.png">
									</div>

									<div *ngIf="libelles[indexLot].periodicity?.length == 0 && libelles[indexLot]?.subOperations?.length == 0"
										class="icon float-right  mr-1" (click)="ouverirPeriodiciteAuLibelle(indexLot)">
										<img src="./assets/app/imgs/small-menu.png">
									</div>

									<div *ngIf="libelles[indexLot].periodicity?.length == 0"
										class="icon float-right  mr-1"
										(click)="initAll();operationCrud.indexLibelle_Ajouter = indexLot;">
										<img src="./assets/app/imgs/add.png">
									</div>

									<div class="icon float-right  mr-1" (click)="openLabelleEditForm(indexLot)">
										<img src="./assets/app/imgs/small-edit.png">
									</div>
								</div>
								<div class="btn-group float-right btn-group-custom" role="group"
									*ngIf="libelleCrud?.ajouterPeriodiciteAuLibelleIndex == indexLot">

									<div *ngIf="libelles[indexLot].periodicity?.length == 0"
										class="icon float-right  mr-1" (click)="ajouterPeriodiciteAuLibelle()">
										<img src="./assets/app/imgs/small-valid.png">
									</div>
									<div *ngIf="libelles[indexLot].periodicity?.length != 0 "
										class="icon float-right  mr-1" (click)="ajouterPeriodiciteAuLibelle()">
										<img src="./assets/app/imgs/small-edit.png">
									</div>
									<div class="icon float-right  mr-1" (click)="initAll()">
										<img src="./assets/app/imgs/small-close.png">
									</div>
								</div>

							</div>
						</div>

					</ng-container>
					<!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->

					<!-- ////////////////////////////////////////////////////////////////// -->
					<!-- modifier un libellé -->
					<ng-container *ngIf="libelleCrud.indexLibelle_A_Modifier == indexLot">
						<div class="row">
							<div class="col-8">
								<div class="row">
									<input type="text" class="form-control input-sm" id="edit-name-gme-btn"
										placeholder="Modification du nom de libellé"
										[(ngModel)]="formInputs.inputString" />

								</div>
							</div>
							<div class="col-4">
								<div class="icon float-right  mr-1" (click)="modifierLot()">
									<img src="./assets/app/imgs/small-valid.png">
								</div>
								<div class="icon float-right  mr-1" (click)="initAll()">
									<img src="./assets/app/imgs/small-close.png">
								</div>
							</div>
						</div>
					</ng-container>
					<!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
				</td>
				<td class="periodicite">
					<ul
						*ngIf="(libelleCrud?.ajouterPeriodiciteAuLibelleIndex == indexLot  && libelles[indexLot].periodicity?.length == 0) || (libelleCrud.indexLibelle_A_Modifier == indexLot && libelles[indexLot].periodicity?.length != 0 )">
						<ng-container *ngFor="let periode of formInputs.periodiciteList ;let ii = index">
							<li data-toggle="tooltip" placement="top" [ngbTooltip]="getMois(ii)"
								(click)="formInputs.periodiciteList[ii].value = !formInputs.periodiciteList[ii].value"
								[ngClass]="{'text-success':periode?.value == true ,'text-danger':periode?.value == false}">
								<i class="ft-check"
									[ngClass]="{'checkgreen':periode?.value == true ,'checkred':periode?.value == false}"></i>
							</li>
						</ng-container>
					</ul>
					<ul
						*ngIf="(libelleCrud?.ajouterPeriodiciteAuLibelleIndex == indexLot) == false && ((libelleCrud.indexLibelle_A_Modifier == indexLot && libelles[indexLot].periodicity?.length != 0 )  == false)">
						<ng-container *ngFor="let periode of lot?.periodicity ;let ii = index">
							<li data-toggle="tooltip" placement="top" [ngbTooltip]="getMois(ii)"
								[ngClass]="{'text-success':periode?.value == true ,'text-danger':periode?.value == false}">
								<i class="ft-check"
									[ngClass]="{'checkgreen':periode?.value == true ,'checkred':periode?.value == false}"></i>
							</li>
						</ng-container>
					</ul>
				</td>
				<div *cdkDragPreview>{{ lot?.name }}</div>
			</tr>

			<!-- ////////////////////////////////////////////////////////////////// -->
			<!-- Ajouter un nouvelle operation -->
			<tr class="lot" *ngIf="operationCrud.indexLibelle_Ajouter == indexLot">
				<td>
					<ng-container>

						<div class="row">
							<div class="col-8">
								<div class="row">
									<input type="text" class="form-control input-sm" id="edit-inputString-gme-btn"
										placeholder="Nom d'opération" [(ngModel)]="formInputs.inputString" />
								</div>
							</div>
							<div class="col-4">

								<div class="btn-group float-right btn-group-custom" role="group">
									<div class="icon float-right  mr-1" (click)="initAll()">
										<img src="./assets/app/imgs/small-close.png">
									</div>

									<div class="icon float-right  mr-1" (click)="ajouterOperation()">
										<img src="./assets/app/imgs/small-valid.png">
									</div>

								</div>

							</div>
						</div>

					</ng-container>

				</td>

				<td class="periodicite">
					<ul>
						<ng-container *ngFor="let periode of formInputs?.periodiciteList;let ii = index">

							<li data-toggle="tooltip" placement="top" [ngbTooltip]="getMois(ii)"
								(click)="formInputs?.periodiciteList[ii].value = !formInputs?.periodiciteList[ii].value"
								[ngClass]="{'text-success':periode?.value == true ,'text-danger':periode?.value == false}">
								<i class="ft-check"
									[ngClass]="{'checkgreen':periode?.value == true ,'checkred':periode?.value == false}"></i>
							</li>
						</ng-container>
					</ul>
				</td>
			</tr>
			<!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
			<!-- liste des operation -->
			<tr>
				<td colspan="2" style="padding: 0 !important;">
					<table cdkDropList class="nested-table" [cdkDropListData]="lot?.subOperations"
						[cdkDropListDisabled]="readOnly" (cdkDropListDropped)="drop($event)">
						<ng-container *ngFor="let operation of lot?.subOperations;let idOperation = index">
							<tr *ngIf="shoowOperation(indexLot, idOperation)" cdkDrag>
								<td style="height: 35px;line-height: 25px;">
									<div class="btn-group float-right btn-group-sm" role="group" *ngIf=" !readOnly">
										<div class="icon float-right  mr-1"
											(click)="supprimerOperation(indexLot,idOperation)">
											<img src="./assets/app/imgs/small-delete.png">
										</div>
										<div class="icon float-right  mr-1"
											(click)="openOperationEditForm(indexLot,idOperation)">
											<img src="./assets/app/imgs/small-edit.png">
										</div>
									</div>

									<div class="icon">
										<img src="./assets/app/images/Icons/menuGr.svg" alt="Edit icon"
											class="menuicon">
										<i class="fa fa-circle circle" aria-hidden="true"></i>
										<span class="GrasName">{{ operation?.name }}</span>
									</div>
								</td>
								<td class="periodicite" id="perio">
									<ul>
										<ng-container *ngFor="let periode of operation?.periodicity;let ii = index">
											<li data-toggle="tooltip" placement="top" [ngbTooltip]="getMois(ii)"
												[ngClass]="{'text-success':periode?.value == true ,'text-danger':periode?.value == false}">
												<i class="ft-check"
													[ngClass]="{'checkgreen':periode?.value == true ,'checkred':periode?.value == false}"></i>
											</li>
										</ng-container>
									</ul>
								</td>

								<div *cdkDragPreview>{{ operation?.name }}</div>
							</tr>
							<!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->

							<tr class="lot"
								*ngIf="operationCrud.indexLibelle_A_Modifie == indexLot && operationCrud.indexOperation_A_Modifier == idOperation">
								<td>
									<!-- ////////////////////////////////////////////////////////////////// -->
									<!-- show libellé -->
									<ng-container>

										<div class="row">
											<div class="col-8">
												<div class="row">
													<input type="text" class="form-control input-sm"
														placeholder="Nom d'opération" id="Modifier-inputString-gme-btn"
														[(ngModel)]="formInputs.inputString" />
												</div>
											</div>
											<div class="col-4">

												<div class="btn-group float-right btn-group-custom" role="group">
													<div class="icon float-right  mr-1" (click)="initAll()">
														<img src="./assets/app/imgs/small-close.png">
													</div>

													<div class="icon float-right  mr-1" (click)="modifierOperation()">
														<img src="./assets/app/imgs/small-valid.png">
													</div>

												</div>

											</div>
										</div>

									</ng-container>

								</td>

								<td class="periodicite" id="perio">
									<ul>
										<ng-container
											*ngFor="let periode of formInputs.periodiciteList ;let ii = index">
											<li data-toggle="tooltip" placement="top" [ngbTooltip]="getMois(ii)"
												(click)="formInputs.periodiciteList[ii].value = !formInputs.periodiciteList[ii].value"
												[ngClass]="{'text-success':periode?.value == true ,'text-danger':periode?.value == false}">
												<i class="ft-check"
													[ngClass]="{'checkgreen':periode?.value == true ,'checkred':periode?.value == false}"></i>
											</li>

										</ng-container>
									</ul>
								</td>
							</tr>
							<!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
						</ng-container>
					</table>
				</td>
			</tr>
			<!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
		</ng-container>

		<!-- ////////////////////////////////////////////////////////////////// -->
		<!-- ajouter un nouveau libellé -->

		<tr class="lot" *ngIf="!readOnly">
			<td>
				<!-- ////////////////////////////////////////////////////////////////// -->
				<!-- show libellé -->
				<ng-container>

					<div class="row"
						*ngIf="(operationCrud?.indexLibelle_Ajouter==null && operationCrud?.indexOperation_A_Modifier==null ) && libelleCrud?.indexLibelle_A_Modifier==null">
						<div class="col-8">
							<div class="row">
								<input type="text" class="form-control input-sm"
									placeholder="Saisir le nom du nouveau libellé" id="inputString-Libellé-gme-btn"
									[(ngModel)]="formInputs.inputString" #inputString />
							</div>
						</div>
						<div class="col-4">

							<div class="btn-group float-right btn-group-custom" role="group">

								<div class="icon float-right mr-1"
									(click)="ajouterLot();libelleCrud.showAddLibelleform = true;">
									<img src="./assets/app/imgs/small-valid.png"> </div>
								<div class="icon float-right mr-1"
									(click)="initAll();libelleCrud.showAddLibelleform = true;">
									<img src="./assets/app/imgs/small-close.png"> </div>
							</div>

						</div>

					</div>

				</ng-container>



			</td>
			<td>

			</td>
		</tr>

		<!-- ////////////////////////////////////////////////////////////////// -->
		<!-- Aucune donnée disponible -->
		<!-- && !libelleCrud.showAddLibelleform -->
		<tr *ngIf="libelles?.length == 0">
			<td colspan="2">
				<p class="text-center" style="margin: 0;">Aucune donnée disponible
				</p>
			</td>
		</tr>
		<!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
	</tbody>
</table>