<div class="modal-header">
  <h4 class="modal-title"> NOM DU MODÈLE</h4>
</div>

<div class="modal-body" style="padding: 0px 15px 0px 50px;">

  <div class="row">

    <div class="form-group row" [formGroup]="form">
      <label class="col-md-12 label-control">Nom</label>
      <div class="col-md-12">
        <input type="text" class="form-control" formControlName="name" [id]="name"
          placeholder="Nom">
      </div>
    </div>
  </div>

</div>

<div class="modal-footer">

  <button type="button" class="btn btn-secondary" data-dismiss="modal" placement="top" (click)="modal.dismiss()"
    [ngbTooltip]="'labels.close' | translate">
    {{ 'labels.close' | translate }}
  </button>

  <button type="button" class="btn btn-primary" (click)="save()" [ngbTooltip]="'labels.sauvegarder' | translate">
    {{ 'labels.sauvegarder' | translate }}
  </button>

</div>