.cust-card__head {
  .right {
    display: flex;
    align-items: center;
    justify-content: center;

    label {
      margin: 0 0 0 10px;
    }
  }
}

show-hide-password {
  input {
    border: none !important;

    &.active,
    &.focus {
      background-color: transparent !important;
    }
  }

  &::ng-deep {
    button {
      background-color: transparent !important;
      border: none;

      padding: 0;

      i {
        color: #1b9db3;
      }
    }
  }
}
