.root {
  .slider {
    mat-slider {
      padding: 0;
      width: 100%;
    }
  }

  .label {
    position: relative;
    margin-top: -8px;

    span {
      position: absolute;
      left: 0;
      top: 0;

      padding: 5px 10px;
      transform: translateX(-50%);

      font-family: qanelas;
      font-size: 13px;
      white-space: nowrap;

      background-color: #05658d;
      border-radius: 6px;
      color: white;

      transition-duration: 0.25s;
      transition-property: left;
    }

    &--readonly {
      top: -30px;
      z-index: 1;
    }
  }
}
