.info-bundle {
  display: inline-flex;
  flex-direction: column;

  .label {
    font-family: raleway;
    font-size: 10px;
    letter-spacing: 0px;
    text-align: left;

    color: #8898aa;
  }

  .value {
    font-family: qanelas;
    font-size: 19px;
    font-weight: bold;
    text-align: left;
    letter-spacing: 0px;

    color: #8d9cad;

    &--positive {
      color: #38b475;
    }

    &--negative {
      color: #f53c56;
    }

    &--constant {
      color: #05658d;
    }

    &--neutral {
      color: #494948;
    }

    small {
      font-size: 13px;
      font-weight: bold;

      margin-left: -4px;
    }
  }

  &--feature {
    .label {
      color: #494948;
      font-size: 18px;
      font-weight: 700;
    }

    .value {
      font-size: 34px;
    }
  }

  &--feature.info-bundle--same-size {
    .value {
      font-size: 18px;
    }
  }
}

.cust-card {
  font-family: Qanelas;

  height: auto;
  min-height: 116px;

  &__head {
    border-bottom: none;
  }

  &__body {
    display: flex;
    justify-content: space-between;

    height: 100%;
    padding-bottom: 5px;
  }

  .left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100%;

    .top {
      font-size: 19px;

      .title {
        text-align: left;
        letter-spacing: 0px;
        font-weight: bold;

        color: #494948;
      }
    }

    .bottom {
      font-size: 13px;
      font-weight: 400;

      .chip {
        &--encours,
        &--planned {
          color: #feb969;
          margin-right: 25px;
        }

        &--termine,
        &--realised {
          color: #38b475;
        }
      }
    }
  }

  .right {
    .info-bundle {
      .label {
        text-align: right;
      }
    }

    .icon {
      border-radius: 50%;
      background-color: #38b475;

      height: 72px;
      width: 72px;

      display: flex;
      align-items: center;
      justify-content: center;

      img {
        filter: brightness(0) invert(1);
        opacity: 1 !important;
        width: 50% !important;
      }
    }
  }

  &__foot {
    .statuses {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .status {
        cursor: pointer;
        opacity: 0.8;

        transition-property: opacity;
        transition-duration: 0.2s;

        &:hover {
          opacity: 1;
        }

        &--encours {
          color: #feb969;
        }

        &--termine {
          color: #38b475;
        }

        &--signer {
          color: #fb6340;
        }

        &--perdus {
          color: #f53c56;
        }
      }
    }
  }

  &--chart {
    .cust-card__head {
      .right {
        display: flex;
        align-items: center;

        .info-bundle {
          text-align: right;

          .value,
          .label {
            text-align: right;
          }
        }
        .cust-input {
          min-width: 90px;
        }
      }
    }

    canvas {
      height: calc(100vh - 550px) !important;
    }
  }

  &--devis {
    .status--in_progress {
      color: #00d2d3;
    }

    .status--billed {
      color: #3498db;
    }

    .status--signed {
      color: #78a300;
    }
  }

  &--facture {
    .status--in_progress {
      color: #00d2d3;
    }

    .status--late {
      color: #ff0000;
    }

    .status--signed {
      color: #16d39a;
    }
  }

  &--interventions {
    .status--planned {
      color: #00d2d3;
    }

    .status--realized {
      color: #16d39a;
    }

    .status--billed {
      color: #3498db;
    }
  }

  &--chantier {
    .status--study {
      color: #fb6340;
    }

    .status--accepted {
      color: #38b475;
    }

    .status--finished {
      color: #11cdef;
    }

    .status--refused {
      color: #fa5502;
    }
  }

  &--contrats {
    .status--waiting {
      color: #feb969;
    }

    .status--finished {
      color: #ff0000;
    }

    .status--in_progress {
      color: #00d2d3;
    }
  }
}
