<div class="root mt-3">
  <div class="head row">

    <!-- Devis -->
    <div class="col-12 col-md-6 col-lg-4  mb-3">
      <div class="cust-card cust-card--devis">
        <div class="cust-card__body">
          <div class="left">
            <div class="info-bundle info-bundle--feature">
              <span class="label">Devis</span>
              <span class="value value--constant">{{ data?.quotesDetails?.count }}</span>
            </div>
          </div>
          <div class="right">
            <div class="info-bundle">
              <span class="label">Total</span>
              <span class="value value--constant">{{ data?.quotesDetails?.total | RoudingNumber | ShowCurrency }}</span>
            </div>
          </div>
        </div>
        <div class="cust-card__foot">
          <div class="statuses">
            <div class="status status--in_progress">{{ devisDetails?.in_progress }} En Cours</div>
            <div class="status status--billed">{{ devisDetails?.billed }} Facturé</div>
            <div class="status status--signed">{{ devisDetails?.signed }} à signer</div>
          </div>
        </div>
      </div>
    </div>

    <!-- Factures -->
    <div class="col-12 col-md-6 col-lg-4  mb-3">
      <div class="cust-card cust-card--facture">
        <div class="cust-card__body">
          <div class="left">
            <div class="info-bundle info-bundle--feature">
              <span class="label">Factures</span>
              <span class="value value--constant">{{ data?.invoicesDetails?.count }}</span>
            </div>
          </div>
          <div class="right">
            <div class="info-bundle">
              <span class="label">Total</span>
              <span
                class="value value--constant">{{ data?.invoicesDetails?.total | RoudingNumber | ShowCurrency }}</span>
            </div>
          </div>
        </div>
        <div class="cust-card__foot">
          <div class="statuses">
            <div class="status status--in_progress">{{ factureDetails?.in_progress }} En Cours</div>
            <div class="status status--late">{{ factureDetails?.late }} En retards</div>
            <div class="status status--signed">{{ factureDetails?.signed }} Clôturée</div>
          </div>
        </div>
      </div>
    </div>

    <!-- Interventions -->
    <div class="col-12 col-md-12 col-lg-4  mb-3">
      <div class="cust-card cust-card--interventions">
        <div class="cust-card__body">
          <div class="left">
            <div class="info-bundle info-bundle--feature">
              <span class="label">Interventions</span>
              <span class="value value--constant">{{ data?.operationSheetDetails?.count }}</span>
            </div>
          </div>
          <div class="right">
            <div class="info-bundle">
              <span class="label">Total</span>
              <span
                class="value value--constant">{{ data?.operationSheetDetails?.total | RoudingNumber | ShowCurrency }}</span>
            </div>
          </div>
        </div>
        <div class="cust-card__foot">
          <div class="statuses">
            <div class="status status--planned">{{ interventionDetails?.planned }} Planifié</div>
            <div class="status status--realized">{{ interventionDetails?.realized }} Réalizer</div>
            <div class="status status--billed">{{ interventionDetails?.billed }} Facturé</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="body row">

    <!-- Chart -->
    <div class="col-12 col-lg-8">
      <div class="cust-card cust-card--chart">
        <div class="cust-card__head">
          <div class="left">
            <div class="info-bundle">
              <span class="label">Evolution mensuelle</span>
              <span class="value value--neutral">C.A en HT</span>
            </div>
          </div>
          <div class="right">
            <div class="info-bundle">
              <span class="value value--constant">{{ 178082.03 | RoudingNumber }} <small>€</small></span>
              <span class="label">Chiffre d'affaires annuel</span>
            </div>
            <div class="cust-input cust-input--select cust-input--numero ml-1">
              <label class="cust-input__wrapper">
                <mat-select class="cust-input__input"
                  [(ngModel)]="currentYear"
                  (valueChange)="onYearChanged()">
                  <mat-option *ngFor="let year of years"
                    [value]="year">{{ year }}</mat-option>
                </mat-select>
              </label>
            </div>
          </div>
        </div>
        <div class="bottom">
          <canvas #chart></canvas>
        </div>
      </div>
    </div>

    <!-- Side -->
    <div class="col-12 col-lg-4">
      <div class="row">

        <!-- C.A actuel -->
        <div class="col-12">
          <div class="cust-card">
            <div class="cust-card__body">
              <div class="left">
                <div class="info-bundle info-bundle--feature info-bundle--same-size">
                  <span class="label">C.A actuel</span>
                  <span
                    class="value value--constant">{{ data?.turnOverDetails?.totalPayments | RoudingNumber | ShowCurrency }}</span>
                </div>
              </div>
              <div class="right">
                <div class="info-bundle">
                  <span class="label">Total</span>
                  <span
                    class="value value--positive">{{ data?.turnOverDetails?.totalTurnOver | RoudingNumber | ShowCurrency }}</span>
                </div>
              </div>
            </div>
            <div class="cust-card__foot">
              <div class="slider">
                <app-slider [value]="getTurnOverPercent()"
                  [readOnly]="true"></app-slider>
              </div>
            </div>
          </div>
        </div>

        <!-- Chantier -->
        <div class="col-12 mt-3">
          <div class="cust-card cust-card--chantier">
            <div class="cust-card__body">
              <div class="left">
                <div class="info-bundle info-bundle--feature">
                  <span class="label">Chantiers</span>
                  <span class="value value--constant">{{ data?.workshopDetails?.count }}</span>
                </div>
              </div>
              <div class="right">
                <div class="info-bundle">
                  <span class="label">Total</span>
                  <span
                    class="value value--constant">{{ data?.workshopDetails?.total | RoudingNumber | ShowCurrency }}</span>
                </div>
              </div>
            </div>
            <div class="cust-card__foot">
              <div class="statuses">
                <div class="status status--study">{{ chantierDetails?.study  }} étudier</div>
                <div class="status status--accepted">{{ chantierDetails?.accepted  }} Accepté</div>
                <div class="status status--finished">{{ chantierDetails?.finished  }} Terminé</div>
                <div class="status status--refused">{{ chantierDetails?.refused  }} Refusé</div>
              </div>
            </div>
          </div>
        </div>

        <!-- Contrats de maintenance -->
        <div class="col-12 mt-3">
          <div class="cust-card cust-card--contrats">
            <div class="cust-card__body">
              <div class="left">
                <div class="info-bundle info-bundle--feature">
                  <span class="label">Contrats de maintenance</span>
                  <span class="value value--constant">{{ data?.contractDetails?.count }}</span>
                </div>
              </div>
              <div class="right">
                <div class="info-bundle">
                  <span class="label">Total</span>
                  <span
                    class="value value--constant">{{ data?.contractDetails?.total | RoudingNumber | ShowCurrency }}</span>
                </div>
              </div>
            </div>
            <div class="cust-card__foot">
              <div class="statuses">
                <div class="status status--waiting">{{ contratsDetails?.waiting }} En attends</div>
                <div class="status status--finished">{{ contratsDetails?.finished }} Terminé</div>
                <div class="status status--in_progress">{{ contratsDetails?.in_progress }} En cours</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
