.input-number {
  text-align: right;
}
.form-control.calendar {
  height: 50px;
  padding: 0px;
}
// select.form-control.ng-pristine.ng-valid.ng-touched {
//   width: 171px !important;
// }

select.select-type {
  border: 1px solid #f7fafc !important ;
  height: 35px !important;
  background-color: #f7fafc !important;
  border-radius: -5% !important;
  border-radius: 0.25rem !important;
  text-align: right;
  width: 278px;
}
.select-type {
  border: 1px solid #f7fafc !important;
  height: 35px !important;
  background-color: #f7fafc !important;
  border-radius: -5% !important;
  border-radius: 0.25rem !important;
  text-align: right;
  width: 278px;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: transparent !important;
}
.select-datepicker {
  border: 1px solid #f7fafc !important;
  height: 35px !important;
  background-color: #f7fafc !important;
  border-radius: -5% !important;
  border-radius: 0.25rem !important;
  text-align: right;
  width: 278px;
}

.radio {
  margin: 0.5rem;
  input[type="radio"] {
    position: absolute;
    opacity: 0;
    + .radio-label {
      &:before {
        content: "";
        background: white;
        border-radius: 50%;
        border: 1px solid #1a73e8;
        display: inline-block;
        width: 15px;
        height: 15px;
        position: relative;
        top: 0.3em;
        margin-right: 1em;
        vertical-align: top;
        cursor: pointer;
        text-align: center;
        transition: all 250ms ease;
      }
    }
    &:checked {
      + .radio-label {
        &:before {
          background-color: #1a73e8;
          box-shadow: inset 0 0 0 4px white;
        }
      }
    }
    &:focus {
      + .radio-label {
        &:before {
          outline: none;
          border-color: #1a73e8;
        }
      }
    }
    &:disabled {
      + .radio-label {
        &:before {
          box-shadow: inset 0 0 0 4px #f4f4f4;
          border-color: darken(#f4f4f4, 25%);
          background: darken(#f4f4f4, 25%);
        }
      }
    }
    + .radio-label {
      &:empty {
        &:before {
          margin-right: 0;
        }
      }
    }
  }
}

.container {
  max-width: 720px;
  margin-top: 0px;

  margin-left: -8px;
}

.radio {
  margin-bottom: 5px;
}

.mat-form-field-infix {
  width: 254px !important;
  background-color: red !important;
}
.mat-form-field-infix {
  width: 254px;
}

// mat-form-field.mat-form-field.ng-tns-c7-0.mat-primary.mat-form-field-type-mat-input.mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-has-label.mat-form-field-hide-placeholder.ng-untouched.ng-pristine.ng-valid {
//   width: 273px;
// }

// mat-form-field.mat-form-field.ng-tns-c7-0.mat-primary.mat-form-field-type-mat-input.mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-has-label.mat-form-field-hide-placeholder.ng-valid.ng-touched.mat-form-field-should-float.ng-dirty {
//   width: 273px;
// }

// mat-form-field.mat-form-field.ng-tns-c7-1.mat-primary.mat-form-field-type-mat-input.mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-has-label.mat-form-field-hide-placeholder.ng-untouched.ng-pristine.ng-valid {
//   width: 273px;
// }

// mat-form-field.mat-form-field.ng-tns-c7-1.mat-primary.mat-form-field-type-mat-input.mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-has-label.mat-form-field-hide-placeholder.ng-pristine.ng-valid.ng-touched {
//   width: 273px;
// }

mat-form-field.mat-form-field {
  width: 273px;
}

.btn-personalise {
  padding-top: 7px;
  /* background-color: aquamarine; */
  border: 1px solid #2dcee3 !important;
  height: 35px !important;
  background-color: #2dcee3 !important;
  border-radius: -5% !important;
  border-radius: 0.25rem !important;
  text-align: center;
  color: white;
}

input#mat-input-0 {
  padding-left: 17px;
  font-size: 15px;
}

input#mat-input-1 {
  padding-left: 17px;
  font-size: 15px;
}
