.root {
  background: #47a2c1 0% 0% no-repeat padding-box;
  padding: 26px 38px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  .left {
    display: flex;
    align-items: center;

    overflow: hidden;
    text-overflow: ellipsis;
    width: calc(100% - 116px);

    .title {
      display: flex;
      align-items: center;

      .label {
        font-size: 25px;
        font-weight: bold;
        white-space: nowrap;

        color: white;
      }

      .icon {
        margin-left: 15px;
        filter: brightness(0) invert(1);
      }
    }

    .cust-breadcrumb {
      margin-left: 20px;
      width: calc(100% - 144.25px);

      &__list {
        list-style-type: none;

        margin: 0;
        padding: 0;

        display: flex;
        align-items: center;
      }

      &__item {
        cursor: pointer;
        color: white;

        font-size: 13px;

        // overflow: hidden;
        text-overflow: ellipsis;

        max-width: fit-content;
        width: 100%;
        white-space: nowrap;

        &:focus,
        &:active {
          outline: none;
        }

        &:not(:last-of-type) {
          position: relative;
          margin-right: 20px;

          &::after {
            content: "-";

            position: absolute;
            top: 0;
            right: -12px;
          }
        }
      }
    }
  }

  .right {
    display: flex;
    align-items: center;

    .notifications {
      position: relative;

      border-radius: 8px;
      cursor: pointer;
      padding: 14px 10px 10px 10px;

      transition-duration: 0.2s;
      transition-property: background-color;

      img {
        filter: invert(1);
      }

      &:hover {
        background-color: #ffffff26;
      }

      &__count {
        position: absolute;
        right: 6px;
        top: 4px;

        font-family: qanelas;
        font-size: 10px;

        background-color: #f53c56;
        border-radius: 50%;
        color: white;

        display: flex;
        align-items: center;
        justify-content: center;

        padding: 8px;

        height: 10px;
        width: 10px;
      }
    }

    .account {
      cursor: pointer;

      display: flex;
      align-items: center;

      border-radius: 8px;
      padding: 10px;

      transition-duration: 0.2s;
      transition-property: background-color;

      &:hover {
        background-color: #ffffff26;
      }

      .icon,
      .dropdown {
        filter: grayscale(0) invert(1);
      }

      .icon {
        margin-right: 10px;

        .user-avatar,
        .generated-avatar {
          height: 30px;
          width: 30px;

          border-radius: 50%;
          filter: inherit;
        }

        .generated-avatar {
          user-select: none;

          display: flex;
          align-items: center;
          justify-content: center;

          background-color: #f0fbff;
          color: #47a2c1;

          font-family: qanelas;
          font-size: 13px;
        }
      }

      .dropdown {
        margin-left: 5px;

        img {
          width: 18px;
        }
      }

      .label {
        color: white;

        font-size: 13px;
        font-weight: 100;
      }
    }
  }
}
