<div class="modal fade text-left" id="choixAvoir" tabindex="-1" role="dialog" aria-labelledby="myModalLabel98"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">

        <h4 class="modal-title" id="myModalLabel98">
          <i class="ft-file-minus"></i>
          {{ 'labels.paiementParAvoir' | translate }}
        </h4>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

      </div>
      <div class="modal-body">

        <div class="card-body">

          <div>
            <label style="font-weight: bold"> {{ 'labels.selectAvoir' | translate }} :</label>
          </div>
          <div class="input-group">
            <div class="input-group-prepend">
              <button class="btn btn-primary" type="button"><i class="ft-search"></i></button>
            </div>
            <input type="text" [(ngModel)]="search" (input)="searchAvoir()" class="form-control">
          </div>
          <!--  -->
          <div class="text-center font-weight-bold font-italic" *ngIf="avoirs.length == 0">
            <br>
            {{ 'labels.emptySelectAvoir' | translate }}
          </div>
          <!-- Liste des avoirs -->
          <div class="container-scroll" *ngIf="avoirs.length > 0">
            <div infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="1000"
              [infiniteScrollContainer]="'.container-scroll'" [fromRoot]="true" (scrolled)="onScroll()">
              <ul class="list-group list-group-flush">
                <li class="list-group-item" *ngFor="let avoir of avoirs;let i = index">
                  <div class="form-inline">
                    <div class="form-group col-md-9">
                      <div class="custom-control custom-checkbox" (change)="selectAvoir(i)">
                        <input type="checkbox" [checked]="avoir['checked']" class="custom-control-input"
                          id="{{i+2000*26}}">
                        <label class="custom-control-label" for="{{i+2000*26}}"
                          style="font-weight: bold;">{{ avoir?.reference}} - {{ 'labels.dateEcheance' | translate}} :
                          {{ avoir?.dueDate | date:'dd/MM/yyyy' }}</label>
                      </div>
                    </div>
                    <div class="col-md-3" style="text-align: right;">
                      <span
                        class="badge badge-primary badge-pill">{{ avoir.totalHT | RoudingNumber | ShowCurrency }}</span>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <!-- Loading -->
          <div class="text-center" *ngIf="!finished">
            {{ 'labels.loading' | translate }}
          </div>

        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn grey btn-light" data-dismiss="modal">{{ 'labels.cancel' | translate }}</button>
        <button type="button" class="btn btn-success btn-lg"
          (click)="savePaiement()">{{ 'labels.sauvegarder' | translate }}</button>
      </div>
    </div>
  </div>
</div>