<div class="root">
  <div class="row">
    <div class="col">
      <div class="details">
        <div class="cust-card cust-card--padding">

          <div class="cust-card__head">

            <div class="left">
              <!-- <div class="title" *ngIf="isModif() && document">
                              {{  'update.' + docType | translate }} : {{ document?.reference }}
                          </div> -->
              <div class="title">
                <!-- {{  'create.' + docType | translate }} -->
                Créer facture cloturer
              </div>
            </div>

            <div class="right flexcontrols">
              <div class="flexcontrols">

                <div id="annuler" class="cust-button cust-button--secondary" (click)="navigateToDevisDetail()">
                  <span> Annuler </span>
                </div>

                <div id="valider" class="cust-button cust-button--success" (click)="add(statutFacture.Cloture)">
                  <span>Valider</span>
                </div>
              </div>


            </div>
          </div>

          <div class="cust-card__body">
            <div class="body">
              <form [formGroup]="creationForm">

                <div class="row">

                  <!-- REFERENCE -->
                  <div class="col">
                    <div class="cust-input-group">
                      <div class="cust-label">{{ 'LABELS.REFERENCE' | translate }} :</div>
                      <div class="cust-input">
                        <label class="cust-input__wrapper">
                          <input class="cust-input__input" id="add-nom-chantier-form-btn" type="text"
                            formControlName="reference">
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="cust-input-group">
                      <div class="cust-label">{{ 'LABELS.POURCENTAGERECE' | translate }} :</div>
                      <div class="slider">
                        <app-slider [value]="pourcentageIn || 0" [readOnly]="true">
                        </app-slider>
                      </div>
                    </div>
                    <div class="col-md-12  text-right">

                      <span class="display-price" style="  font-style: italic;color: #2c445aa8;font-size: 12px;">
                        {{totalAvancementSituation | RoudingNumber | ShowCurrency }} de
                        {{devisInfos?.orderDetails.totalTTC| RoudingNumber | ShowCurrency}}</span>
                    </div>

                  </div>

                </div>
                <br>
                <br>

                <div class="row">
                  <div class="col"></div>
                  <!-- <div class="col"></div> -->
                  <div class="col">

                    <div class="cust-input-group">
                      <div class="cust-label">{{ 'LABELS.NEWPOURCENTAGE' | translate }} :</div>
                      <div class="slider">
                        <app-slider [value]="100 || 0" [readOnly]="true">
                        </app-slider>
                      </div>
                    </div>
                    <div class="col-md-12  text-right">
                      <span class="display-price" style="  font-style: italic;color: #2c445aa8;font-size: 12px;">
                        {{devisInfos?.orderDetails.totalTTC| RoudingNumber | ShowCurrency}}</span>
                    </div>
                  </div>
                </div>
                <br>
                <br>

                <div class="row">
                  <!-- <input class="cust-input__input" id="refrenceFicheIM" type="text"
                                  [value]="refrenceFicheIM" disabled> -->
                  <div class="col">
                    <div class="cust-input-group">
                      <div class="cust-label">{{ 'LABELS.WORKSHOP' | translate }} :</div>
                      <div class="cust-input">
                        <label class="cust-input__wrapper">
                          <input class="cust-input__input" id="add-nom-chantier-form-btn" type="text"
                            [value]="devisInfos?.workshop?.name" disabled>
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="cust-input-group">
                      <div class="cust-label">{{ 'LABELS.CLIENT' | translate }} :</div>
                      <div class="cust-input">
                        <label class="cust-input__wrapper">
                          <input class="cust-input__input" id="add-nom-chantier-form-btn" type="text"
                            [value]="devisInfos?.client?.name" disabled>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <br>

                <div class="row">
                  <!-- ADRESFACTURATION -->
                  <div class="col">
                    <div class="cust-input-group">
                      <div class="cust-label">{{ 'LABELS.ADRESFACTURATION' | translate }} :</div>
                      <div class="cust-input">
                        <label class="cust-input__wrapper">
                          <input class="cust-input__input" id="add-adressFacturation-document-form-btn" type="text"
                            [value]="getAdresseDesignation(devisInfos?.client?.addresses)" disabled>
                        </label>
                      </div>
                    </div>
                  </div>

                  <!-- ADRESSINTERVENTION -->
                  <div class="col btn-list">
                    <div class="cust-input-group">
                      <div class="cust-label">{{ 'LABELS.ADRESINTERVENTION' | translate }} :</div>
                      <div class="cust-input cust-input--select">
                        <label class="cust-input__wrapper">
                          <input class="cust-input__input" id="add-adressFacturation-document-form-btn" type="text"
                            [value]="adresseFacturation?.designation" disabled>
                        </label>
                      </div>
                      <!-- <small class="text-danger"
                                              *ngIf="f?.addressIntervention?.errors?.required">{{'errors.required' | translate }}</small> -->
                    </div>


                  </div>

                </div>
                <br>

                <div class="row">

                  <!-- objet -->
                  <div class="col">
                    <div class="cust-input-group">
                      <div class="cust-label">{{ 'LABELS.OBJET' | translate }} :</div>
                      <div class="cust-input cust-input--textarea">
                        <label class="cust-input__wrapper">
                          <textarea matInput class="cust-input__input" id="add-purpose-facturation-form-btn" rows="1"
                            formControlName="object" placeholder="{{ 'PLACEHOLDERS.OBJET' | translate }}"></textarea>
                        </label>
                      </div>
                    </div>
                  </div>

                  <!-- date creation -->
                  <div class="col">

                    <div class="cust-input-group">
                      <div class="cust-label">{{ 'LABELS.DATE_CREATION' | translate }} :</div>
                      <div class="cust-input cust-input--date">
                        <label class="cust-input__wrapper">
                          <input class="cust-input__input" #fromInput matInput [matDatepicker]="dateCreation"
                            [placeholder]="'Date Début'" formControlName="dateCreation">
                          <mat-datepicker-toggle matSuffix [for]="dateCreation">
                          </mat-datepicker-toggle>
                          <mat-datepicker #dateCreation></mat-datepicker>
                        </label>
                      </div>
                    </div>
                  </div>

                  <!-- date echenace -->

                  <div class="col">

                    <div class="cust-input-group">
                      <div class="cust-label">{{ 'LABELS.DATE_ECHEANCE' | translate }} :</div>
                      <div class="cust-input cust-input--date">
                        <label class="cust-input__wrapper">
                          <input class="cust-input__input" #fromInput matInput [matDatepicker]="picker"
                            [placeholder]="'Date fin'" formControlName="dateEcheance">
                          <mat-datepicker-toggle matSuffix [for]="picker">
                          </mat-datepicker-toggle>
                          <mat-datepicker #picker></mat-datepicker>
                        </label>
                      </div>
                    </div>

                  </div>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col"></div>
    <div class="col"></div>
  </div>
</div>
<br>
<br>
<div class="root">
  <div class="row">
    <div class="col">
      <div class="details">
        <div class="cust-card cust-card--padding">

          <div class="cust-card__head">

            <div class="left">
              <div class="title">
                Articles
              </div>
            </div>


          </div>

          <div class="cust-card__body">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group row">
                  <label class="col-md-2 label-control title detailLot"
                    for="facture-cloture-detailLot-input">{{ 'labels.detailLot' | translate }} : </label>
                  <div class="col-md-5" style="display: flex;">
                    <!-- <div class="custom-control custom-radio custom-control-inline">
                      <input type="radio" id="facture-cloture-detailLot1-input" formControlName="detailLot" value="0"
                        class="custom-control-input" ng-checked="f?.detailLot?.value == 0">
                      <label class="custom-control-label" for="facture-cloture-detailLot1-input">Oui</label>
                    </div>

                    <div class="custom-control custom-radio custom-control-inline">
                      <input type="radio" id="facture-cloture-detailLot2-input" formControlName="detailLot" value="1"
                        class="custom-control-input" ng-checked="f?.detailLot?.value == 1">
                      <label class="custom-control-label" for="facture-cloture-detailLot2-input">Non</label>
                    </div> -->
                    <div class="custom-control custom-radio custom-control-inline">
                      <input type="radio" id="detailLot1" value=true class="custom-control-input" [checked]="detailLot"
                        (click)="click(true)">

                      <label class="custom-control-label" for="detailLot1">Oui</label>
                    </div>

                    <div class="custom-control custom-radio custom-control-inline">
                      <input type="radio" id="detailLot28" value="false" class="custom-control-input"
                        [checked]="!detailLot" (click)="click(false)">
                      <label class="custom-control-label" for="detailLot28">Non</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <div class="row">
              <div class="col-md-12">
                <table-article [load]="emitter" [devis]="devisInfos" [readOnly]="true" [articles]="articles"
                  [factureCloture]="true" [ListFactureInDevis]="devisInfos?.situations">
                </table-article>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br>
<div class="root">
  <div class="row">
    <div class="col">
      <div class="details">
        <div class="cust-card cust-card--padding">

          <div class="cust-card__body">


            <div class="row">
              <div class="col-md-12">
                <div class="form-group row">
                  <label class="col-md-12 label-control"
                    for="conditionReglementv">{{ 'LABELS.CONDITIONS' | translate }}</label>
                  <div class="col-md-12">
                    <div class="cust-input">
                      <app-input-textarea id="conditionReglementv" [controlParent]="creationForm" [readOnly]="false"
                        [controlName]="'conditionRegelement'" [placeholder]="'LABELS.CONDITIONS' | translate"
                        [label]="'LABELS.CONDITIONS' | translate">
                      </app-input-textarea>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <div class="row">
              <div class="col-md-12">
                <div class="form-group row">
                  <label class="col-md-12 label-control" for="note">{{ 'LABELS.NOTE' | translate }}</label>
                  <div class="col-md-12">
                    <div class="cust-input">
                      <app-input-textarea id="note" [controlParent]="creationForm" [readOnly]="false"
                        [controlName]="'note'" [placeholder]="'LABELS.NOTE' | translate"
                        [label]="'LABELS.NOTE' | translate">
                      </app-input-textarea>
                    </div>
                  </div>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<custom-loader [displayLoader]="processing"></custom-loader>